@import "../../../sass_vars/main.sass"

$col-width: 17.5rem
$gap-width: 3.75rem
$side-margin: 2rem

body, html, .main
  width: 100%
  padding: 0
  margin: 0

.main
  margin-top: 3.75rem

div.header
  padding-left: $side-margin
  padding-right: $side-margin

.main>section
  padding: $side-margin
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  &>.row
    width: $col-width * 3 + $gap-width*2
    align-items: stretch
    @media all and (max-width: 1023px)
      width: auto
      flex-direction: column
      align-items: center

.above-the-flood
  background: $color--main
  .row .card
    margin-bottom: 0
  .card
    width: $col-width
  .symbol
    font-size: 3rem
    text-align: center
    width: $gap-width - $margin--s*2
    margin: 0 $margin--s
    color: darken($color--main, 20%)
    @media all and (max-width: 1023px)
      width: 100%
      margin: 0
      line-height: $line--m !important

.functions
  flex-direction: column
  .feature
    width: $col-width
    margin-right: $gap-width

.contacts
  flex-direction: column
  .info
    width: $col-width
    margin-right: $gap-width
    @media all and (max-width: 1023px)
      margin-right: 0
  .instant
    width: $col-width*2 + $gap-width
    @media all and (max-width: 1023px)
      width: $col-width

.header
  .__breadcrumbs
    @media all and (max-width: 1023px)
      display: none
  .__user-info
    @media all and (max-width: 1023px)
      width: auto !important
