@import "../../../sass_vars/main.sass"

$col-width: 17.5rem
$gap-width: 3.75rem
$side-margin: 2rem

.register
  position: fixed
  top: 3.75rem + $side-margin
  width: $col-width
  left: 50%
  margin-left: $col-width/2 + $gap-width
  z-index: 2

#register
  margin: 0
