{% if course_data.user_status == "moderator" or course_data.user_status == "administrator" or course_data.user_status == "teacher" %}
	{% include "#&/Linkbox/teacher/" %}
{% else %}
	{% include "#&/Linkbox/student/" %}
{% endif %}

<section class="teachers --accordion">
	<h2>Преподаватели</h2>
	{% for group_title, group_members in course.groups %}
		{% include "#&/group/" %}
	{% endfor %}
</section>

<section class="students --accordion">
	<h2>Ученики</h2>
	{% for group_title, group_members in course.groups %}
		{% include "#&/group/" %}
	{% endfor %}
</section>