<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Группы</title>
	<style> 
		{% include "Elements/Layout/header/_styles/css/header.css" %} 
		{% include "Page_templates/_styles/css/main.css" %} 
		{% include "Elements/Modules/popup/_styles/css/popup.css" %} 
		{% include "Elements/Modules/tooltip/_styles/css/tooltip.css" %} 
		{% include "Elements/Modules/section_editor/_styles/css/empty.css" %} 
		{% include "Elements/Modules/context_menu/_styles/css/context_menu.css" %} 
		{% include "Elements/button/ghost/icon/_styles/css/icon.css" %} 
		{% include "Elements/Inputs/text/_styles/css/text.css" %} 
		{% include "Elements/card/_styles/css/link.css" %} 
		{% include "Elements/Inputs/text/_styles/css/reset.css" %} 
		{% include "Elements/Inputs/checkbox/_styles/css/checkbox.css" %} 
		{% include "Elements/card/_styles/css/card.css" %} 
		{% include "Elements/Modules/button_delete/_styles/css/button_delete.css" %} 
		{% include "Elements/Inputs/select/_styles/css/select.css" %} 
		{% include "Elements/Modules/indicator/_styles/css/indicator.css" %} 
		{% include "Elements/Modules/pull_put/_styles/css/placeholder.css" %} 
		{% include "Elements/Modules/pull_put/_styles/css/layout.css" %} 
		{% include "Page_templates/default/_styles/css/default.css" %} 
		{% include "Elements/card/user/_styles/css/user.css" %} 
		{% include "Elements/Inputs/_shared/_styles/css/toggle.css" %} 
		{% include "Elements/Modules/accordion/_styles/css/accordion.css" %} 
		{% include "Elements/Inputs/text/filled/icon/_styles/css/icon.css" %} 
		{% include "Elements/Inputs/text/filled/_styles/css/filled.css" %} 
		{% include "Elements/Modules/section_editor/_styles/css/header_editing.css" %} 
		{% include "Elements/button/_styles/css/button.css" %} 
		{% include "Elements/Modules/ripple/_styles/css/ripple.css" %} 
		{% include "Elements/Layout/linkbox/_styles/css/linkbox.css" %} 
		{% include "Elements/button/flat/_styles/css/flat.css" %} 
		{% include "Elements/card/circle/_styles/css/shape.css" %} 
		{% include "Pages/Course/groups/_styles/css/groups.css" %} 
		{% include "Elements/button/ghost/_styles/css/ghost.css" %} 
		{% include "Elements/Modules/notification/_styles/css/notification.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% if course_data.user_status == "moderator" or course_data.user_status == "administrator" or course_data.user_status == "teacher" %}	{% include "Pages/Course/groups/linkbox/exports.html" %}{% endif %}{% include "Pages/Course/groups/teachers/exports.html" %}{% include "Pages/Course/groups/students/exports.html" %}
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/pull_put/_scripts/core.js" %} 
		{% include "Elements/Modules/context_menu/_scripts/core.js" %} 
		{% include "Elements/Modules/toggle_edit/_scripts/core.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/core.js" %} 
		{% include "Elements/Modules/notification/_scripts/core.js" %} 
		{% include "Elements/Modules/indicator/_scripts/core.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/add_section.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/end.js" %} 
		{% include "Elements/Modules/popup/_scripts/popup.js" %} 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/move_unordered.js" %} 
		{% include "Elements/Modules/context_menu/_scripts/build_sectioned_select.js" %} 
		{% include "Elements/Modules/button_delete/_scripts/button_delete.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/end_section_editing.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/start.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/put.js" %} 
		{% include "Elements/Modules/verifier/_scripts/verifier.js" %} 
		{% include "Elements/Modules/text_sort/_scripts/text_sort.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/block_editing.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/check_empty.js" %} 
		{% include "Elements/Modules/accordion/_scripts/accordion.js" %} 
		{% include "Elements/Modules/section_editor/_scripts/start_section_editing.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/pull.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/ui.js" %} 
		{% include "Elements/Modules/replace/_scripts/replace.js" %} 
		{% include "Elements/Modules/notification/_scripts/deffered.js" %} 
		{% include "Elements/Inputs/select/_scripts/select.js" %} 
		{% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
		{% include "Pages/Course/groups/_scripts/invite_teacher.js" %} 
		{% include "Pages/Course/groups/_scripts/invite_students.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Pages/Course/groups/_scripts/groups.js" %} 
	</script>
</body>
</html>