@import "../../../../../sass_vars/main.sass"

button.--ghost.--icon
	display: flex
	align-items: center
	justify-content: center
	padding: 0
	margin: 0
	height: $base * 1.35
	width: $base * 1.35
	svg
		fill: $font__color--accent
		transition: $time--s
		+square("s")
	&.--negative svg
		fill: $font__color--negative

	&.--positive svg
		fill: $font__color--positive