@import "../../../../../sass_vars/main.sass"

button.m--ghost.m--icon
	display: flex
	align-items: center
	justify-content: center
	padding: 0
	margin: 0
	height: $base * 1.35
	width: $base * 1.35
	border-radius: 50%
	svg
		border-radius: 50%
		fill: $font__color--accent
		transition: $time--s
		+square("s")
	&.m--l-2
		margin-right: 1rem + $margin--s
	&.m--top-centered
		margin-top: -1rem
	&.m--negative svg
		fill: $font__color--negative
	&.m--negative:enabled:hover svg
		fill: lighten($font__color--negative, $darkness-delta__focus--percent)
	
	&.m--positive svg
		fill: $font__color--positive

	&.m--positive:enabled:hover svg
		fill: lighten($font__color--positive, $darkness-delta__focus--percent)
