@import "../../../../../sass_vars/main.sass"

button.--ghost.--icon
	display: flex
	align-items: center
	justify-content: center
	padding: 0
	margin: 0
	height: $base * 1.35
	width: $base * 1.35
	border-radius: 50%
	svg
		border-radius: 50%
		fill: $font__color--accent
		transition: $time--s
		+square("s")
	&.--negative svg
		fill: $font__color--negative
	&.--negative:enabled:hover 
		fill: lighten($font__color--negative, $darkness-delta__focus--percent)
	
	&.--positive svg
		fill: $font__color--positive

	&.--positive:enabled:hover svg
		fill: lighten($font__color--positive, $darkness-delta__focus--percent)