{% load ext_humanize %}
<div class="card --course">
	<div class="__overall-info">
		{% include "Elements/Cards/course/../main/icons/main.html" %}
		<h4 class="__heading"> {{ course.name }}</h4>
	</div>
	<p class="__content">
		{% if course.data.materials.published %}
			<strong>{{course.data.materials.published|length}}</strong>
			{{course.data.materials.published|length|form_for_num:"материал материала материалов" }}
		{% else %}
			Материалов <strong>нет</strong>
		{% endif %}
		<br>
		{% if course.data.tests.published %}
			<strong>{{course.data.tests.published|length}}</strong>
			{{course.data.tests.published|length|form_for_num:"тест теста тестов" }}
		{% else %}
			Тестов <strong>нет</strong>
		{% endif %}
	</p>
</div>