<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf8">
	<title>Оповещения(Курс А)</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="../Styles/CSS/main.css">
	<link rel="stylesheet" type="text/css" href="../Styles/CSS/layout/course.css">
	<link rel="stylesheet" type="text/css" href="../Styles/CSS/elements/header.css">
	<link rel="stylesheet" type="text/css" href="../Styles/CSS/elements/cards.css">
	<link rel="stylesheet" type="text/css" href="../Styles/CSS/elements/tooltip.css">
	<header class="header">
		<div class="header__breadcrumbs">
		<a href='#'>Главная</a>
		<img src="../Assets/Icons/angle_right.svg" inline>
		<a href='#'>Курс А</a>
		<!-- <img src="../Assets/Icons/angle_right.svg" inline> -->
		</div>
		<div class="header__search">
			<img src="../Assets/Icons/search.svg" inline>
			<input type="text" name="search" placeholder="Искать...">
		</div>
		<div class="header__user">
			<img src="../Assets/Images/avatar.png" class="user__avatar--small">
			<span class="user__name">Всеволод Трофимов</span>
		</div>
	</header>

	<main>
		<section>
			<h2>Новые оценки</h2>
			<div class="card card-person card-person--extended">
				<div class="card-person__user-data">
					<img class="card-person__avatar" src="https://cdn-images-1.medium.com/fit/c/120/120/1*-XUs4lJqErIQLXqhW22INw.png">
					<div>
						<h3 class="card-person__name">Всеволод Трофимов</h3>
						<span class="card-person__state">Ученик</span>
					</div>
				</div>
				<div class="card-person__extension">
					Завершил тест <a href="#">«Стилистика деепричастий. 
					Тест 2. Контроль».</a> Оценка : 5 <span class="test__results--percentage">(96%, 24 из 25)</span>
				</div>
			</div>
		</section>
		<section>
			<!-- {% if cousre.is_open %} -->
			<h2>Присоеденились</h2>
			<div class="card card-person">
					<img class="card-person__avatar" src="https://cdn-images-1.medium.com/fit/c/120/120/1*-XUs4lJqErIQLXqhW22INw.png">
					<div>
						<h3 class="card-person__name">Всеволод Трофимов</h3>
						<span class="card-person__state">Ученик</span>
					</div>
			</div>
			<!-- {% else %} 
			<h2>Новые заявки</h2>
			{% include Blocks/couse.requestes %}-->
			</div>
		</section>
	</main>

	<script src="../Scripts/Min/jquery-2.1.4.min.js"></script>
	<script src="../Scripts/Min/layout.js"></script>
	<script src="../Scripts/Min/humanize.js"></script>
	<script src="../Scripts/Dev/notification.js"></script>
	<script src="../Scripts/Dev/ripple.js"></script>
</body>
</html>