tr, td, th, tbody, table, thead {
  box-sizing: border-box; }

td, th {
  padding: 0.4rem;
  line-height: 1.5rem;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  text-align: left; }

tr {
  background: #fafafa; }

th {
  font-weight: 500; }

td.mark--good {
  color: #4CAF50; }

td.mark--medium {
  color: #FF6F00; }

td.mark--bad {
  color: #F44336; }

.divider {
  background: #fafafa !important;
  color: #607D8B; }

thead {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1) box-shadow;
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1) box-shadow; }
  thead.scrolled {
    position: fixed;
    top: 3.125rem;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px; }

table {
  border-radius: 2px; }
  table tr:first-child {
    border-radius: 2px; }
  table tr:last-child {
    border-radius: 2px; }
