@import "../../../../sass_vars/main.sass"

.row
  align-items: top
  flex-wrap: wrap
  h4.__heading
    margin: $padding--s 0
  &.m--nowrap
    flex-wrap: nowrap

.main .row
  min-height: $base*2

#assignment--new__tests, #assignment--new__materials
  button
    margin: $padding--s 0
  .card.m--small
    margin-bottom: $padding--s
    margin-left: $padding--s

#assignment--new__traditional
  .__heading
    margin: 0
  .card
    margin-bottom: $margin--s
    &:last-child
      margin: 0

.card.m--small
  cursor: pointer
