@import "../../../../sass_vars/main.sass"

.row
	align-items: center
	flex-wrap: wrap
	min-height: $base*2
	h4.__heading
		margin: 0
	.card.--small
		margin: 0
		margin-left: $padding--s

#assignment--new__traditional
	.__heading
		margin: 0
	.card
		margin-bottom: $margin--s
		&:last-child
			margin: 0

.card.--small
	cursor: pointer