<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>{ ###title }</title>
  { **#styles }
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{ *#*content }
</section>
  {% include "Page_templates/_shared/fixes/flash.html" %}
  <div class="_styles">

  </div>
	<script src="/static/scripts/jquery.js"></script>
	{ ##*js }
  {% include "Page_templates/_shared/fixes/font-analytics.html" %}
</body>
</html>
