button.--flat {
  transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1); }
  button.--flat:enabled:hover {
    box-shadow: none;
    background: #54aef6; }
  button.--flat.--negative:enabled:hover {
    background: #f77269; }
  button.--flat.--positive:enabled:hover {
    background: #70c173; }
