@import "../../../../sass_vars/main.sass"

#popup
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	z-index: 20
	transform: scale(1)

	.__overlay
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw
		background: rgba($black, .5)
		z-index: 1
		transition: $time--s	

	.__modal
		opacity: 1
		min-width: 25rem
		+box-shadow(5)
		z-index: 2
		transition: $time--s
		.__close
			position: absolute
			top: $padding--s * 1.75
			right: $padding--s
			z-index: 3

	&.m--hiding
		.__modal
			opacity: 0
			transform: translateY(-$margin--s)
		.__overlay
			opacity: 0


	&.m--hidden
		transition: none
		transform: scale(0)
		
