@import "../../../vars/main.sass"

input
	border: 0
	font-size: $font__size--m
	font-family: $sans
	background: rgba($white, 0.25)
	transition: $time--s
	&:focus
		outline: none

input[type="text"], input[type="email"], input[type="password"], .input
	width: 100%