@import "../../../sass_vars/main.sass"

@keyframes ripple 
	0%
		transform: scale(0)
	70%
		opacity: $darkness-delta__focus
	100%
		opacity: 0
		transform: scale(1)


.ripple_target
	overflow: hidden

#ripple_effect
	position: absolute
	border-radius: 50%
	background: $grey--semilight
	opacity: $darkness-delta__focus
	transform: scale(0)

	&.--shown
		animation: ripple $time--l
