<div class="m--publish-popup">
  <div class="row">
    <div class="__build-settings">
      <h4 class="__heading">Параметры сборки</h4>
      {% include "Elements/Inputs/checkbox/" with
        id="random_build"
        label="Случайный набор заданий"
      %}
      {% include "Elements/Inputs/checkbox/" with
        id="random_order"
        label="Случайный порядок заданий"
      %}
      <h3 class="__heading">Квоты</h3>
      <div class="row">
        <div>Тип 1:</div>
        {% include "Elements/Inputs/text/inline/" with
          id="t1"
        %}
        <div>/25</div>
      </div>
      <div class="row">
        <div>Тип 2:</div>
        {% include "Elements/Inputs/text/inline/" with
          id="t2"
        %}
        <div>/5</div>
      </div>
    </div>
    <div class="__forgive">
      <h4 class="__heading">Автоисправление помарок</h4>
        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_spaces"
          label="Добавление и удаление пробелов"
          tip="a b c = abc"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_numbers"
          label="Замена арабских цифр на римские"
          tip="Василий 3 = Василий III"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_e"
          label="Замена е на ё и обратно"
          tip="копье = копьё"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_punctuation"
          label="Замена знака - разделителя"
          tip="1.25 = 1,25"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_word_order"
          label="Коррекировка порядка слов"
          tip="хорошо качественно = качественно хорошо"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_register"
          label="Изменение регистра букв"
          tip="Слово = слово"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="autocorrect_typo"
          label="Исправление мелких опечаток"
          tip="кратофель = картофель"
        %}
    </div>
    <div class="__mark-settings">
          <h4 class="__heading">Критерии оценивания</h4>
            {# 	{% include "Elements/Inputs/select/" with
              options=user.mark_presets
            %} #}

            <div class="row">
              <div>Минимум для 5:</div>
              {% include "Elements/Inputs/text/inline/" with
                id="min_for_5"
              %}
              <div>/<span class="__max_ponts">0</span></div>
            </div>

            <div class="row">
              <div>Минимум для 4:</div>
              {% include "Elements/Inputs/text/inline/" with
                id="min_for_4"
              %}
              <div>/<span class="__max_ponts">0</span></div>
            </div>

            <div class="row">
              <div>Минимум для 3:</div>
              {% include "Elements/Inputs/text/inline/" with
                id="min_for_3"
              %}
              <div>/<span class="__max_ponts">0</span></div>
            </div>

            <div class="row">
              <div>Минимум для 2:</div>
              {% include "Elements/Inputs/text/inline/" with
                id="min_for_2"
              %}
              <div>/<span class="__max_ponts">0</span></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="__course-section">
        <h4 class="__heading">Секция курса</h4>
          {% include "Elements/Inputs/select/" with
            id="course_section" options=sections
          %}

          {% include "Elements/Inputs/text/" with
            id="new_section_name"
            placeholder="Название новой секции"
            disabled="disabled"
          %}
      </div>

      <div class="__time-settings">
        <h4 class="__heading">Ограничение времени</h4>
        {% include "Elements/Inputs/checkbox/" with
          id="limit_time"
          label="Ограничить время выполнения"
        %}

        {% include "Elements/Inputs/text/" with
          id="max_time"
          placeholder="Максимум в минутах"
          disabled="disabled"
        %}
      </div>
      <button id="publish">Сделать доступным для прохождения</button>
    </div>
</div>
