<div class="m--publish-popup">
  <div class="row">
    <div class="__build-settings">
      <h4 class="__heading">Параметры сборки</h4>
      {% include "Elements/Inputs/checkbox/" with
        id="random_build"
        label="Случайный набор заданий"
      %}
      {% include "Elements/Inputs/checkbox/" with
        id="random_order"
        disabled="disabled"
        label="Случайный порядок заданий"
      %}
      <h3>Квоты</h3>
    </div>
    <div class="__forgive">
      <h4 class="__heading">Автоисправление помарок</h4>
        {% include "Elements/Inputs/checkbox/" with
          id="spaces"
          label="Добавление и удаление пробелов"
          tip="a b c = abc"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="numbers"
          label="Замена арабских цифр на римские"
          tip="Василий 3 = Василий III"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="e"
          label="Замена е на ё и обратно"
          tip="копье = копьё"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="punctuation"
          label="Замена знака - разделителя"
          tip="1.25 = 1,25"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="word_order"
          label="Коррекировка порядка слов"
          tip="хорошо качественно = качественно хорошо"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="register"
          label="Изменение регистра букв"
          tip="Слово = слово"
        %}

        {% include "Elements/Inputs/checkbox/" with
          id="typo"
          label="Исправление мелких опечаток"
          tip="кратофель = картофель"
        %}
    </div>
    <div class="__mark-settings">
      <h4 class="__heading">Критерии оценивания</h4>
    </div>
  </div>
  <div class="row">
      <div class="__course-section">
        <h4 class="__heading">Секция курса</h4>
          {% include "Elements/Inputs/select/" with
            id="course_section" options=sections
          %}

          {% include "Elements/Inputs/text/" with
            id="new_section_name"
            placeholder="Название новой секции"
            disabled="disabled"
          %}
      </div>

      <div class="__time-settings">
        <h4 class="__heading">Ограничение времени</h4>
        {% include "Elements/Inputs/checkbox/" with
          id="limit_time"
          label="Ограничить время выполнения"
        %}

        {% include "Elements/Inputs/text/" with
          id="max_time"
          placeholder="Максимум в минутах"
          disabled="disabled"
        %}
      </div>
      <button id="publish">Сделать доступным для прохождения</button>
    </div>
</div>
