<script>context_menu = {
	show: function(el, options, checked) {
		if(context_menu.is_shown){
			context_menu.hide();
		}
		c_rect = el.getBoundingClientRect();

		if(checked){
			context_menu.build_select(el, options, checked);
		} else {
			context_menu.build(options);
		}
		$("#context-menu").css({
			"top": c_rect.top + "px",
			"left": c_rect.left + "px",
			"opacity": 1
		});
	},

	hide: function() {
		$("#context-menu").css('opacity', '0');
		setTimeout(function(){
			$("#context-menu").css('top', '-100%');
		},300);
	},

	build: function(options) {
		$("#context-menu").html("");
		options.forEach(function(option) {
			$("#context-menu").append("<div class='context-menu__option' onclick='" + option.func + "()'>" + option.text + "</div>");
		});
	},
	build_select: function(el, options, checked) {
		$("#context-menu").html("");
		$("#context-menu").append("<div class='context-menu__option default' value='" + checked.value + "'>" + checked.text + "</div>")
		options.forEach(function(option){
			$("#context-menu").append("<div class='context-menu__option' value='" + option.value + "'>" + option.text + "</div>");
		});
		$(".context-menu__option").click(function(event) {
			context_menu.hide();
			$(el).children('input').val($(this).attr('value'));
			$(el).children('.display').text($(this).text());
		});
	},

}

function add_menu_caller(select) {
	var first_option = $(select).children('option').get(0);
	first_option = $(first_option);
	
	setTimeout(function(){
		var max_w = 0;
		$(select).children('option').each(function(index, el){
			max_w = Math.max($(this).outerWidth(), max_w);
		});
		$(select).children('.display').css('min-width', max_w+"px");
	},300);
	
	$(select).children('input').val(first_option.attr("value"));
	$(select).children(".display").text(first_option.text());
	
	$(select).click(function(e) {
		var options = [];
		var checked = {};
		var is_disabled = $(this).attr('disabled');
		// console.log($(this).attr('disabled'), "sEL")
		if(is_disabled == "disabled"){
			// console.log("DIs")
			return 0
		}
		var current_value = $(this).children('input').val();
		$(this).children('option').each(function(index, el) {
			if($(this).attr("value") != current_value){
				options.push({
					text : $(this).text(),
					value: $(this).attr("value")
				})
			} else {
				checked = {
					text : $(this).text(),
					value: $(this).attr("value")
				}
			}
		});
		if(is_disabled != "disabled" && is_disabled !="true"){
			// console.log(is_disabled, "2sel")
			context_menu.show(this, options, checked);
		}
	});
}

$(document).ready(function() {
	$(".select").each(function(index, el) {
		add_menu_caller(this);
	});
});</script>