<script>function change_password(){
    old_password = $("#old_password").val();
    new_password = $("#new_password").val();
    $.ajax({
            type:"POST",
            url:"/func/change_password/",
            data: {
                   'old_password': old_password,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'new_password': new_password
                  },
            success: function(){
                  popup.hide();
                  notification.change('success','Пароль изменен' );
               }
            });
}






function create_contact() {
    contact_type = $("#new_contact_type").val();
    contact_info = $("#new_contact_info").val();
    console.log("create_contact");
    $.ajax({
            type:"POST",
            url:"/func/create_contact/",
            data: {
                   'contact_type': contact_type,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'contact_info': contact_info
                  },
            success: function(){
                  popup.hide();
                  notification.change('success','Контакт добавлен' );
                               }
            });
    add_contact("<div class='card-contacts__item'><h5>" + contact_type + "</h5><span id='"+contact_type+"'>" + contact_info + "</span></div>");
    popup.hide();
}

function add_contact(new_contact) {
    new_contact = $(new_contact);
    $("#contacts").append($(new_contact));
    $(new_contact).children("span").attr("contenteditable", "true").css('border-bottom', '1px dashed #2196F3')
}





function upload_avatar(e) {
    var file = e.target.files[0];
    var formData = new FormData();
    formData.append('new_avatar', file);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    // console.log(formData);
    $.ajax({
        type:"POST",
        url:"/func/upload_avatar/",
        data: formData,
        processData: false,
        contentType: false,
        success: function(){
            notification.change('success','Данные были успешно изменены' );
        }
    });
}



var lastSelected={{request.user.permission_level}}+1;
$(document).ready(function() {
    //for transitions
    $( "#radio_"+lastSelected ).prop( "checked", true );
    console.log(lastSelected);
    lastSelected = $('[name="contacts_see"]:checked').val();
    console.log(lastSelected);
    $(".card-contacts__item>span").css('border-bottom', '1px dashed transparent');
    $("#do_not_save").hide();
    
    $("body").append(new_avatar);

    var editing = false, data_list={},data_list_old={};

    function toggle_edit() {
        if(editing) {

            $("#do_not_save").css('opacity', '0');
            setTimeout(function(){
                $("#do_not_save").hide();
            },300);
            
            $("#edit>.card--small").text("Редактировать");
            
            $("[contenteditable]").attr("contenteditable", "false").css('border-bottom', '1px dashed transparent');
            $("#add_contact").css('transform', 'scale(0)');

            editing = false;
        } else {
            $( "#contacts span" ).each(function( index ) {
                id=$(this).attr('id');
                data_list_old[id]=$(this).html();
            });
            $("#do_not_save").show();
            $("#do_not_save").css('opacity', '1');
            
            $("#edit>.card--small").text("Сохранить изменения");
            
            $(".card-contacts__item>span").attr("contenteditable", "true").css('border-bottom', '1px dashed #2196F3');
            $("#add_contact").css('transform', 'scale(1)');
            editing = true;
        }
    }

    function save_changes(){
        $( "#contacts span" ).each(function( index ) {
            id=$(this).attr('id');
            data_list[id]=$(this).html();
        });
        console.log(data_list_old,data_list);
        if (data_list!=data_list_old){
        $.ajax({
             type:"POST",
             url:"/func/change_data/",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
             'data_list': JSON.stringify(data_list)
                    },
             success: function(){
                 notification.change('success','Данные были успешно изменены' );
             }
        });
    }
    }

    $("#edit").click(function(e) {
        if(editing){
            save_changes();
        }
        toggle_edit();
    });


    $("#do_not_save").click(function(e) {
        toggle_edit();
    });


    var new_avatar = $("<input hidden type='file'>"); 

    $("#change_avatar").click(function(e) {
        new_avatar.click();
    });

    new_avatar.change(function(e) {
        upload_avatar(e);
    });
    





    $("#add_contact").click(function(e) {
        function contact_types() {
            var types = ["Skype", "Codeforces", "VK", "Facebook", "Dnevnik"];
            var html = "";
            types.forEach(function(contact_type) {
                html+= "<option value='" + contact_type + "'>" + contact_type + "</option>";
            });
            return html;
        }
        popup.show("<div class='select'><div class='display'>Skype</div><input type='hidden' id='new_contact_type'><svg class='{{ class }}' id='{{id}}' viewBox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>" + contact_types() + "</div><br><input type='text' id='new_contact_info'><label for='new_contact_info'>Контакная информация</label><br><button class='button--ghost' id='create_contact' onclick='create_contact()' style='float:right'>Добавить</button>",
            {
                "padding-bottom": "0.3rem",
            });
    });

    $("#change-password").click(function(e) {
        popup.show("<input type='password' value='' id='old_password' pattern='.{8,}'><label>Старый пароль</label><br><input type='password' id='new_password' pattern='.{8,}'><label>Новый Пароль</label><br><button class='button--ghost' onclick='change_password()' style='float:right'>Сменить</button>",
            {
                "padding-top": "0.3rem",
                "padding-bottom": "0.3rem",
                "width": "20rem"
            },
            function() {
                $("#popup").children('input')[0].focus();
        });
    });
    $(document).on('click', '[name="contacts_see"]', function () {
        lastSelected = $(this).val();
        console.log(this.id.substr(this.id.length - 1));
        $.ajax({
             type:"POST",
             url:"/func/change_permission_level/",
             data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
                'permission_level':this.id.substr(this.id.length - 1)-1,
                    },
             success: function(){
                 notification.change('success','Разрешения были успешно изменены' );
             }
        });
    });
});</script>