<script>function add_file_boundary(el){
	$(el).click(function(e) {
		$(this).find('input')[0].click();
	});

	$(el).find("input").change(function(e) {
		$(el).find('span').text($(this).val().replace("C:\\fakepath\\",""));
	});
}

$(document).ready(function() {
	$("body").on(".file>button", "click", function(){
		$(this).parent().find('input')[0].click();
	});
	
	$("body").on(".file>input", "change", function(){
		$(this).parent().find('span').text($(this).val().replace("C:\\fakepath\\",""));
	});
});</script>