<div class="includer">{% include 'JS/jquery-2.html' %}</div>
<script>
    "use strict";
    function build_header() {
        var e = $(".header__breadcumbs").innerWidth(),
            d = $(".header__user").innerWidth();
        e > d ? ($(".header__user").css("min-width", e + 10 + "px"), $(".header__breadcumbs").css("min-width", e + 10 + "px"), d = e) : ($(".header__breadcumbs").css("min-width", d + 10 + "px"), $(".header__user").css("min-width", d + 10 + "px"), e = d), $(".header__search").css("width", "100%")
    }
    $(document).ready(function() {
        build_header();
    });
</script>