<script>"use strict";
function build_header(){
	var breadcrumbs_w = $(".header__breadcrumbs").innerWidth();
	var user_w = $(".header__user").innerWidth();
	// console.log(user_w,breadcrumbs_w);
	if(breadcrumbs_w>user_w){
		$(".header__user").css('min-width', breadcrumbs_w+10+"px");
		$(".header__breadcrumbs").css('min-width', breadcrumbs_w+10+"px");
		user_w=breadcrumbs_w;
	} else {
		$(".header__breadcrumbs").css('min-width', user_w+10+"px");
		$(".header__user").css('min-width', user_w+10+"px");
		breadcrumbs_w=user_w;
	}
	// console.log(user_w,breadcrumbs_w);
	$(".header__search").css("width","100%");
}

function add_emptiness_checker(inputs){
	inputs = $(inputs).parent().find("input")
	if(inputs.val() == "") {
		inputs.addClass("empty");
	}
	inputs.blur(function(){
		if($(this).val() == "") {
			$(this).addClass("empty");
		} else {
			$(this).removeClass("empty");
		}
	});
	inputs.focus(function(event) {
		$(this).removeClass("empty");
	});
}
var processing = {
	spinner : "<svg class='free_spinner white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='spinner'><circle cx='50' cy='50' r='38' stroke='#4670dc' fill='none' stroke-width='6' stroke-linecap='round'><animate attributeName='stroke-dashoffset' dur='2s' repeatCount='indefinite' from='0' to='476.9'></animate><animate attributeName='stroke-dasharray' dur='2s' repeatCount='indefinite' values='143.07 95.38;1 237.5;143.07 95.38'></animate></circle></svg>",
	button : {
		html: {},
		style: undefined,
		start: function(button){
			processing.button.html = button.html();
			var style = button.attr('style');
			if(style){
				processing.button.style = style;
			}

			button
				.css({
					"width": button.outerWidth(),
					"height": button.outerHeight(),
					"padding": button.outerHeight() - 38
				})
				.html(processing.spinner);
			button.attr('disabled', 'true');
			console.log(processing, button.html());
		},
		stop: function(button){
			 button.html(processing.button.html);

			 button.removeAttr('disabled');
			 if(processing.button.style){
				 button.attr('style', processing.button.style);
			 } else {
			 	button.removeAttr('style');
			 }
			 processing.button.style = undefined;
		}
	}
}

$(window).resize(function(event) {
	build_header();
	tooltip.hide();
	context_menu.hide();
});

$(document).ready(function() {
	$("input").each(function(index, el) {
		add_emptiness_checker(this);	
	});
	$("body").on("click", ".select", function(){
		var first_option = $(this).children('option').first();
		
		setTimeout(function(){
			var max_w = 0;
			$(this).children('option').each(function(index, el){
				max_w = Math.max($(this).outerWidth(), max_w);
			});
			$(this).children('.display').css('min-width', max_w+"px");
		},300);
		
		$(this).children('input').val(first_option.attr("value"));
		$(this).children(".display").text(first_option.text());
		$(this).click(function(e) {
			if($(this).attr('disabled') == "false"){
				e.preventDefault();
			}
			var options = [];
			var checked = {};
			var current_value = $(this).children('input').val();
			$(this).children('option').each(function(index, el) {
				console.log(index);
				if($(this).attr("value") != current_value){
					options.push({
						text : $(this).text(),
						value: $(this).attr("value")
					})
				} else {
					checked = {
						text : $(this).text(),
						value: $(this).attr("value")
					}
				}
			});
			console.log($(this).children('option'), options, checked);
			context_menu.show(this, options, checked);
		});
	})
});
</script>