<script>

function all_valid(){
	inputs_valid = true

	$("input:visible").each(function() {
		if(!$(this).hasClass('valid')){
			inputs_valid = false;
		}
	});

	if(inputs_valid){
		$(".button__proceed").removeAttr('disabled');
	} else {
		$(".button__proceed").attr('disabled', true);
	}
}
$(function() {
	$("input:visible").each(function() {
		if(name_regex.test($(this).val())) {
				$(this).addClass('valid');
			} else  {
				$(this).removeClass('valid');
			}
			});
	all_valid();
});
var email_regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
var name_regex = /^[^\s]+$/;

function check_email(e_input) {
	// console.log('checking',e_input);
	if(email_regex.test(e_input.val())) {
		e_input.addClass('valid');
	} else  {
		e_input.removeClass('valid');
	}
	if($("input[type='password']").val().length >= 8) {
			$("input[type='password']").addClass('valid');
		} else {
			$("input[type='password']").removeClass('valid');
		}
	all_valid();
}

$(document).ready(function() {
	
	$("input[type='email']").on("blur keyup change click", function(){
		var input = $(this);
		check_email(input);

		setTimeout(function(){
			check_email(input)
		}, 1000);
	});

	$("input[type='password']").keyup(function() {
		if($(this).val().length >= 8) {
			$(this).addClass('valid');
		} else {
			$(this).removeClass('valid');
		}
		check_email($("input[type='email']"));
		all_valid();
	});

	//for registration
	$("input[name='name']").on("blur keyup change click",function(){
		console.log('name');
		if(name_regex.test($(this).val())) {
			$(this).addClass('valid');
		} else  {
			$(this).removeClass('valid');
		}
	all_valid();
	});

		$("input[name='last_name']").on("blur keyup change click",function(){
		console.log('last_name');
		if(name_regex.test($(this).val())) {
			$(this).addClass('valid');
		} else  {
			$(this).removeClass('valid');
		}
	all_valid();
	});
});
</script>