<script>
console.log("fsdfsdft");
{% if attempt %}
setTimeout(function(){
	$(".task__answer__item input").focusout(function(event) {
			var formData = new FormData();
			formData.append('question', $(this).parent().attr( "index" ));
			formData.append('answer', $(this).val());
			formData.append('test_id', "{{test.id}}");
			console.log($(this).closest('.task__content').find( "h4" ).text());
			formData.append('task_number', $(this).closest('.task__content').find( "h4" ).text());
			formData.append('course_id', "{{course.id}}");
			formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
			$.ajax({
				type:"POST",
				url:"../attempt/save/",
				data: formData,
				processData: false,
				contentType: false,
				success: function(){
					notification.change('success', 'Ответ отправлен' );
				},
			});
		});
}, 100);
function finish(){
	var formData = new FormData();
	formData.append('test_id', "{{test.id}}");
	formData.append('course_id', "{{course.id}}");
	formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
	$.ajax({
		type:"POST",
		url:"../attempt/check/",
		data: formData,
		processData: false,
		contentType: false,
		success: function(){
			notification.change('success', 'Тест проверен системой' );
			window.location = "results";
		},
		});
}
{% endif %}
</script>