<script>
var template = {};
template.notification = '<div class="notification hidden"><div class="notification__icon"></div><div class="notification__text"></div></div>'
template.icon = {
	error: '{% include "UI_elements/Icons/cancel.svg" %}',
	warning: '{% include "UI_elements/Icons/warning.svg" %}',
	success: '{% include "UI_elements/Icons/done.svg" %}',
	info: '{% include "UI_elements/Icons/info.svg" %}'
};

var notification = {
	change: function(type, text){
		var new_notification = $(template.notification);
		new_notification.addClass('notification__'+type);
		new_notification.find(".notification__icon").html(template.icon[type]);
		new_notification.find(".notification__text").html(text);
		notification.show(new_notification);
	},
	show: function(c_notification){
		console.log(c_notification)
		$("body").append(c_notification);
		setTimeout(function(){
			c_notification.removeClass('hidden');
			// c_notification.css('margin-left', -(c_notification.outerWidth()/2) + 'px');
		}, 10)
		c_notification.click(function() {
			notification.hide(c_notification)
		});
		notification.reposition();
		setTimeout(function(){
			notification.hide(c_notification)
		}, 10000)
	},
	hide: function(c_notification){
		c_notification.addClass('hidden');
		setTimeout(function(){
			c_notification.remove();
			notification.reposition();	
		}, 150)	
	},
	reposition: function(){
		$(".notification").each(function(index, el) {
			$(this).css('transform', "translateY("+index*3.5+"rem)");
		});
	}
} 
</script>