<script>
function resize_view(){
	$(".header__search").css('display', 'none');
	var rem_size = parseFloat($("body").css("font-size"))
	rem_test = $(".test").width()/rem_size
	if ($(".test").width() > 600){
		rem_view = $(".test__preview").width()/rem_size
		var space_aside = rem_test - rem_view;
		console.log(space_aside)
		if(space_aside < 21.5 ){
			console.log((rem_test - 21.5)* rem_size)
			$(".test__preview").css("width", (rem_test - 21.5)* rem_size + "px")
		} else {
			$(".test__preview").css("width", "50rem")
		}
	} else {
		$("#panel").css('transform', 'translateX(18.5rem)');
		$("#panel--actions").css('width', '100%');
		$(".test").css('margin', '0');
		$(".test").css('margin-bottom', '5rem');
		$(".test>*").css('margin', '0');
	}
	
}
var make_attempt = function(){
	$(".test__preview [answer]").each(function(index, el) {
		$(this).removeAttr('answer');
	});
	$(".test__preview [disabled]").each(function(index, el) {
		$(this).removeAttr('disabled');
	});
	$(".test__preview [draggable]").each(function(index, el) {
		$(this).removeAttr('draggable');
	});
	$(".test__preview [style]").each(function(index, el) {
		$(this).removeAttr('style');
	});
	$(".button_remove").remove()
}
String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

var csrf_token = '{{csrf_token}}';

var pack_input = {
	"block--empty" : function(){
		return {
			"class": "block--empty",
		}	
	},
	"text-answer" : function(el){
		return {
			"class": "text-answer",
			"value":  {
				"label":$(el).children('label').text(),
				"answer": $(el).attr('answer')
			}
		}
	},
	"textarea" : function(el){
		return {
			"class": "textarea",
			"value": {
				"label": $(el).children('.textarea').children('label').text()
			}
		}
	},
	"file-answer" : function(el){
		return {
			"class": "file-answer",
			"value": 1
		}
	},
	"select-answer": function(el){
		var values = [];
		$(el).find("option").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "select-answer",
			"value": {
				"values": values,
				"answer": $(el).attr('answer')
			}
		}
	},
	"radio-answer": function(el){
		var values = [];
		$(el).find("label").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "radio-answer",
			"value": {
				"values": values,
				"answer": $(el).attr('answer')
			}
		}
	},
	"checkbox-answer": function(el){
		var values = [];
		$(el).find("label").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "checkbox-answer",
			"value": {
				"values": values,
				"answers": $(el).attr('answer')
			}
		}
	}
}

var pack_question = {
	"block--empty" : function(){
		return {
			"class": "block--empty",
		}	
	},
	"text-wrapper" : function(el){
		return {
			"class": "text-wrapper",
			"value": $(el).html(),
		}
	},
	"image-wrapper" : function(el){
		return {
			"class": "image-wrapper",
			"value": $(el).children('img').attr("src"),
		}
	},
	"audio-wrapper" : function(el){
		return {
			"class": "audio-wrapper",
			"value": $(el).children('audio').attr("src"),
		}
	},
	"code-wrapper" : function(el){
		return {
			"class": "code-wrapper",
			"value": $(el).attr("src"),
		}
	},
	"attachment-wrapper" : function(el){
		return {
			"class": "attachment-wrapper",
			"value": $(el).attr("href"),
		}
	},
}

var test = {
	{% if not attempt %}
	pack: function(){
		var testfile = {
			"title" : $(".test__heading").text(),
			"author": "{{teachername}}",
			"tasks" : [],
			"mark_setting":{"5":85, "4":70, "3":50}
		};
		$(".task__content").each(function(index, el) {
			var c_task = {
				"question_items": [],
				"answer_items" : []
			};
			$(this).children('.task__question').children().each(function(index, el) {
				var c_class = this.classList[0];
				console.log(c_class)
				c_task.question_items.push(pack_question[c_class](this));
			});
			//answer shit need coplete revision
			$(this).children('.task__answer').children().each(function(index, el) {
				var c_class = this.classList[0];
				console.log(c_class)
				c_task.answer_items.push(pack_input[c_class](this));
			});
			testfile.tasks.push(c_task);
		});
		console.log(testfile);

		var formData = new FormData();
		formData.append("json_file", JSON.stringify(testfile));
		formData.append("course_id", "{{course.id}}");
		formData.append("test_id", "{{test.id}}");
		// console.log(csrf_token, "{{test.id}}", "{{course.id}}");
		formData.append('csrfmiddlewaretoken', csrf_token);
		// console.log(formData);
		$.ajax({
			type:"POST",
			url:"/test/save/",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){
				notification.change('success', data);
				window.history.pushState('Test {{test.id}}', 'Test {{test.id}}', '/test/edit/?course_id={{course.id}}&test_id={{test.id}}');
			}
		});
	},
	{%endif%}
	unpack: function() {
		{% if test.json %}
			testfile = {{test.json|safe}};
		{% endif %}
		$(".test__heading, title").text(testfile.title);
			testfile.tasks.forEach(function(task_data){
				generate.task(false, false, false, task_data);
			});
			setTimeout(function(){
				{% if attempt %}
					panel.show("")
					$(".task__answer").each(function(){
						console.log("index");
						$(this).children(".task__answer__item").each(function(index, el) {
							console.log(index);
							$("#panel").append("<a class='link--card'><div index='"+index+"' class='card--small'>" + (index+1) +": Пусто</div></a><br>")
							$(this).attr('index', index);
						});
					});
					$("#panel .card--small").css('width', '100%');
					$(".task__answer__item input").blur(function(event) {
						console.log(blur)
						var index = parseInt($(this).parent().attr("index"));
						$("#panel [index='"+index+"']").html((1+index) + ": "+ $(this).val())
					});
					$(".task__answer__item [type='radio']").click(function(event) {
						console.log(blur)
						var index = $(this).parent().attr("index");
						$("#panel [index='"+index+"']").html(index + ": "+ $(this).val())
					});
				{% else %}
					editor.full_check()
				{% endif %}
			}, 100)
			{% if attempt %}
				$("#panel--actions").html('<button class="button--ghost" id="cancel" style="width: 100%" onclick="finish()">Отправить</button>');
				resize_view()
				make_attempt()
				setInterval(function(){make_attempt()}, 500)
			{% endif %}
	}
}
{% if attempt %}
$(window).resize(function(event) {
	resize_view()
});
function finish(){
	window.location = "/results";
}
{% endif %}
$(document).ready(function() {
	$("#test_save").click(function(event) {
		test.pack();
	});

	$("#test_publish").click(function(event) {
		popup.show("<div>Автоисправление недочететов учеников:<br><br><input type='checkbox' id='c1'><label for='c1' tip='a b c = abc'>Лишние\\Недостающие пробелы</label><br><input type='checkbox' id='c2'><label for='c2' tip='Василий 3 = Василий III'>Замена арабских цифр на римские</label><br><input type='checkbox' id='c3'><label for='c3' tip='клен = клён'>е\\ё</label><br><input type='checkbox' id='c4'><label for='c4' tip='1.25 = 1,25'>Неправильный выбор знака пунктуации</label><br><input type='checkbox' id='c5'><label for='c5' tip='хорошо качественно = качественно хорошо'>Порядок слов отличающийся от верного ответа</label><br><input type='checkbox' id='c6'><label for='c6' tip='Слово = слово'>Строчные\\Заглавные буквы</label><br><input type='checkbox' id='c7'><label for='c7' tip='Картофель = кратофель'>Опечатки</label><br><br><button id='publish'>Сделать доступным для порохождения</button>", {}, function(){
			$("#publish").click(function(){
				test.pack();
				var formData = new FormData();
				formData.append("course_id", "{{course.id}}");
				formData.append("test_id", "{{test.id}}");
				formData.append('csrfmiddlewaretoken', csrf_token);
				$.ajax({
					type:"POST",
					url:"/test/publish/",
					data: formData,
					processData: false,
					contentType: false,
					success: function(data){
						notification.change('success', data);
					}
				});
				$("#test_publish").hide();
				$("#test_unpublish").show();
				popup.hide()
			})
		})
	});

	$("#test_unpublish").click(function(event) {
		test.pack();
		var formData = new FormData();
		formData.append("course_id", "{{course.id}}");
		formData.append("test_id", "{{test.id}}");
		formData.append('csrfmiddlewaretoken', csrf_token);
		$.ajax({
			type:"POST",
			url:"/test/unpublish/",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){
				notification.change('success', data);
			}
		});
		$("#test_publish").show();
		$("#test_unpublish").hide();
	});

	{% if test.loaded %}
		test.unpack();
	{% endif %}
});</script>