<script>
var counter = {
	tasks: 0,
	radio: 0,
	checkbox: 0,
	option: 0
}
var generate = {
	shared : {
		upload_done: true,
		upload_asset: function(filename, el_data) {
			var filename = filename.replace("C:\\fakepath\\","")
			var formData = new FormData()
		    formData.append('asset', generate.file)
		    formData.append("course_id", "{{course.id}}")
			formData.append("test_id", "{{test.id}}")
		    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
		    file_path = "/media/courses/{{course.id}}/assets/{{test.id}}/"
		    upload_done = false
		    // console.log(file_path)
		    $.ajax({
		        type:"POST",
		        url:"/test/upload/",
		        data: formData,
		        processData: false,
		        contentType: false,
		        success: function() {
		            notification.change('success', filename +" был успешно загружен на сервер")
		        },
		        complete: function(){
		        	upload_done = true
		        	console.log("done");
		        }
		    })
			return file_path+filename
		},
		catch_asset_file: function() {
			$("#new_el_file").change(function(e) {
				generate.file = e.target.files[0]
			})
		},
		task_section_unpack: function(section_type, new_task, task_data) {

			if(task_data[section_type+"_items"][0].class != "block--empty") {
				new_task.find(".task__"+section_type).html("")
				task_data[section_type+"_items"].forEach(function(element) {
					console.log(section_type, element.class)
					var new_element = generate.el(element.class, element.value)
					console.log(new_element)
					new_task.find(".task__"+section_type).append(new_element)
				})
			}
			return new_task
		},
		popup_list: {
			text: function(input_type) {
				return '<ul class="select-option-list"><li><input type="'+input_type+'" name="right_answer" checked id="option_1"><label for="option_1"></label><div><input type="text"><label>Вариант ответа</label></div><button class="button--icon button--remove">{% include "UI_elements/Icons/delete.svg" %}</button></li></ul><button class="button--icon" id="add_option">{% include "UI_elements/Icons/add.svg" %}</button><br><button id="add_el">Добавить</button><style>#popup li .button--remove{height:100%; margin-top:auto} #popup{min-width: 25rem}</style>'
			},
			middleware: function(input_type) {
				var	counter_option = 1
				console.log(counter_option)
				$("#add_option").click(function(event) {
					counter_option+=1
					console.log(counter_option)
					$(".select-option-list").append('<li><input type="'+input_type+'" name="right_answer" id="option_'+counter_option+'"><label for="option_'+counter_option+'""></label><div><input type="text"><label>Вариант ответа</label></div><button class="button--icon button--remove">{% include "UI_elements/Icons/delete.svg" %}</button></li>')
					$(".select-option-list .button--remove").last().click(function() {
						$(this).parent().remove()
					})
				})
				$("#popup .button--remove").click(function() {
					$(this).parent().remove()
				})
			}
		}
	},
	queued_el: $("<div>...</div>"),
	
	template: {
		question: function(class_name) {
			return "<div draggable='true' class='"+class_name+"'></div>"
		},
		answer: function(class_name) {
			return "<div class='"+class_name+" task__answer__item' draggable='true'></div>"
		},
		task: '<div class="test__task"><div class="card task__content"><button class="button--icon button_remove">{% include "UI_elements/Icons/delete.svg" %}</button><h4 class="task__number"></h4><div class="task__question"><div class="block--empty">Добавьте сюда вопрос</div></div><div class="task__answer"><div class="block--empty">Добавьте сюда поле ответа</div></div></div></div>'
	},
	get_data: function(class_name) {
		// console.log(class_name)
		var constructor = generate.data[class_name]
		var el_data = {
			"o_build": constructor.el.build,
			"parse": constructor.el.parse,
			"type": constructor.el.type
		}
		if( ! el_data.boundaries) {
			el_data.boundaries = []
		}
		var popup_data = constructor.popup
		if( ! popup_data.middleware) {
			popup_data.middleware = false
		}
		el_data.build = function(value) {
			new_element = el_data.o_build(value)
			{% if not attempt %}
				add_boundary.draggable(new_element)
				add_boundary[el_data.type](new_element)
				el_data.boundaries.forEach(function(boundary_name) {
					boundary_name(new_element)
				})
			{% endif %}
			return new_element
		}
		return {
			"el": el_data,
			"popup": popup_data,
		}
	},
	el: function(class_name, value, original, value_used) {
		el_data = generate.get_data(class_name).el
		popup_data = generate.get_data(class_name).popup
		function el_build_finish(){
			popup.hide()
			if(original) {
				original.replaceWith(el_data.build(popup_data.parse()))
			} else {
				generate.queued_el.replaceWith(el_data.build(popup_data.parse()))
			}
			editor.verify_type()
		}
		if(value) {
			console.log(class_name, el_data)
			return el_data.build(value)				
		} else {
			popup.show(popup_data.text, {}, function() {
				// console.log(original)
				if(original) {
					el_data.parse(original)
				}
				$("#add_el").click(function(event) {
					// console.log(el_data)
					el_build_finish()
				})
				$("#popup__close").click(function(event) {
					generate.queued_el.remove()
					popup.hide()
					editor.full_check()
				})
				if(popup_data.middleware) {
					popup_data.middleware()
				}
			})
		}
		{% if not attempt %}
			editor.full_check()
		{% endif %}
		if( ! original ){
			return  generate.queued_el
		}
	},
	task: function(el_type, el_class, original, task_data) {
		counter.tasks++

		var new_task = $(generate.template.task)
		$(".test__preview").append(new_task)
		{% if not attempt %}
			add_boundary.block_empty(new_task.find(".block--empty"))
			add_boundary.button_remove(new_task.find(".button_remove"))
		{% endif %}
		new_task.find(".task__number").text(counter.tasks)
		if(original) {
			//after drag from other place of test
			new_task.find(".task__" + el_type).html($(original))
		} else if(el_type) {
			//after drag from CREATE NEW
			var new_el = generate.el(el_class)
			new_task.find(".task__" + el_type).html(new_el)
		} else {
			//after load
			new_task = generate.shared.task_section_unpack("question", new_task, task_data)

			new_task = generate.shared.task_section_unpack("answer", new_task, task_data) 
		}
		{% if not attempt %}
			editor.full_check()
		{% endif %}
	},
}
//for scope and destruction of rest
function finish_generate() {
	rest = {
		data: {
			"text-wrapper" : {
				el: {
					type: "question",
					parse: function(original) {
						$("#new_el_value").html(original.html())
					},
					build: function(value) {
						question = generate.template.question("text-wrapper")
						return $(question).html(value)
					},
				},
				popup: {
					text:  "<div class='textarea'><div class='textarea__text' contenteditable id='new_el_value'></div><label class='textarea__label'>Отображаемый текст</label></div><br><br><button id='add_el'>Добавить</button>",
					parse: function() {
						return $("#new_el_value").html()
					}
				}
			},
			"image-wrapper": {
				el: {
					type: "question",
					parse: function(original) {
						$("#new_el_value").val(original.find("img").attr("src"))
					},
					build: function(value) {
						return $(generate.template.question("image-wrapper")).append("<img src="+value+">")
					},
				},
				popup: {
					text:  "<input type='text' id='new_el_value'><label>URL артинки</label><br><br><div class='file'><button>Выбрать</button><span>Файл не выбран</span><input type='file' id='new_el_file'></div><br><br><button id='add_el'>Добавить</button>",
					parse: function() {
						if($("#new_el_value").val() !="" ) {
							return $("#new_el_value").val()
						} else if($("#new_el_file") != "" ) {
							return generate.shared.upload_asset($("#new_el_file").val())
						}
					},
					middleware: generate.shared.catch_asset_file
				}
			},
			"audio-wrapper": {
				el: {
					type: "question",
					parse: function(original) {
						$("#new_el_value").val(original.find("audio").attr("src"))
					},
					build: function(value) {
						var tag_str = "<audio src='"+value+"' role='media'>Обновите браузер</audio>"
						// console.log(generate.template.question("D"))
						return $(generate.template.question("audio-wrapper")).append(tag_str+'<div class="wrapper__controls"><button class="button--icon" role="play">{% include "UI_elements/Icons/play.svg" %}</button><button class="button--icon" style="display: none" role="pause">{% include "UI_elements/Icons/pause.svg" %}</button><div class="slider" role="time"><div class="slider__track--inactive"></div><div class="slider__track--active"></div><button class="slider__thumb"></button></div><button class="button--icon">{% include "UI_elements/Icons/volume_high.svg" %}</button><div class="slider slider--volume" role="volume"><div class="slider__track--inactive"></div><div class="slider__track--active"></div><button class="slider__thumb"></button></div></div>')
					},
					boundaries: [media_player.bind_controls]
				},
				popup: {
					text: "<div class='file'><button>Выбрать</button><span>Файл не выбран</span><input type='file' id='new_el_file'></div><br><br><button id='add_el'>Добавить</button>",
					parse: function() {
						return generate.shared.upload_asset($("#new_el_file").val())
					},
					middleware: generate.shared.catch_asset_file
				}
			},
			"text-answer": {
				el: {
					type: "answer",
					parse: function(original) {
						console.log(original)
						$("#new_el_value").val(original.find("label").html())
						$("#new_el_answer").val(original.attr("answer"))
					},
					build: function(value) {
						el = $(generate.template.answer("text-answer"))
						el.html("<input type='text' disabled><label>"+value+"</label>")
						el.attr("answer", value.answer)
						el.find("label").text(value.label)
						return el 
					},
				},
				popup: {
					text:  "<input type='text' id='new_el_value'><label>Формат ответа</label><br><br><input type='text' id='new_el_answer'><label>Верный ответ</label><br><br><button id='add_el'>Добавить</button>",
					parse: function() {
						var label = $("#new_el_value").val()
						var answer = $("#new_el_answer").val()
						return {
							"label": label,
							"answer": answer
						}
					}
				}
			},
			"textarea": {
				el: {
					type: "answer",
					parse: function(original) {
						$("#new_el_value").val(original.find("label").html())
					},
					build: function(value) {
						el = $(generate.template.answer("textarea"))
						el.html("<div class='textarea'>		<div class='textarea__text' contenteditable></div><label>"+value+"</label></div>")
						el.find("label").text(value.label)
						return el 
					},
				},
				popup: {
					text:  "<input type='text' id='new_el_value'><label>Вопрос</label><br><br><button id='add_el'>Добавить</button>",
					parse: function() {
						var label = $("#new_el_value").val()
						var answer = $("#new_el_answer").val()
						return {
							"label": label,
							"answer": answer
						}
					}
				}
			},
			"select-answer": {
				el: {
					type: "answer",
					parse: function(original) {
						// conosle.log(original)
						$(".select-option-list").html("")
						original.find('option').each(function(index, el) {
						$(".select-option-list").append("<li><input type='radio' name='right_answer' id='option_"+index+"'><label for='option_"+index+"'></label><div><input type='text'><label>Вариант ответа</label></div></li>").children('li').last().find("input[type='text']").val($(this).text())
						})
						$("#option_"+$(original).attr("answer")).attr('checked', "")
					},
					build: function(value) {
						console.log(value)
						var el = $(generate.template.answer("select-answer")).html("<div class='select'><input type='hidden' class='value' value='1'><div class='display'>"+value.values[0]+'</div>{% include "UI_elements/Icons/dropdown.svg" %}')
						var select = el.find(".select")
						var local_counter=1
						var answer_found = false
						value.values.forEach(function(text) {
							select.append("<option value='"+local_counter+"'>"+text+"</option>")
							local_counter++
						})
						el.attr("answer", value.answer)
						return el
					},
				},
				popup: {
					text: generate.shared.popup_list.text("radio"),
					parse: function() {
						var values=[]
						$("#popup li").each(function(index, el) {
							var text = $(this).find("input[type='text']").val()
							if($(this).children("input[type='radio']").is(":checked")) {
								answer = index
							}
							values.push(text)
						})
						return {
							values: values,
							answer: answer
						}
					},
					middleware: function() {
						return generate.shared.popup_list.middleware("radio")
					}
				}
			},
			"radio-answer": {
				el: {
					type: "answer",
					parse: function(original) {
						$(".select-option-list").html("")
						original.find('label').each(function(index, el) {
						$(".select-option-list").append("<li><input type='radio' name='right_answer' id='option_"+index+"'><label for='option_"+index+"'></label><div><input type='text'><label>Вариант ответа</label></div></li>").children('li').last().find("input[type='text']").val($(this).text())
						})
						$("#option_"+$(original).attr("answer")).attr('checked', "")
					},
					build: function(value) {
						var el = $(generate.template.answer("radio-answer"))
						var local_counter=1

						value.values.forEach(function(text) {
							var id = "radio_"+counter.radio+"_"+local_counter
							if(counter!=1){
								el.append('<br>')
							}
							el.append("<input type='radio' name='radio_"+counter.radio+"' value='"+local_counter+"' id='"+id+"'><label for='"+id+"'>"+text+"</label>")
							local_counter++
						})
						counter.radio++
						el.attr("answer", value.answer)
						return el
					},
				},
				popup: {
					text: generate.shared.popup_list.text("radio"),
					parse: function() {
						var values=[]
						$("#popup li").each(function(index, el) {
							var text = $(this).find("input[type='text']").val()
							if($(this).children("input[type='radio']").is(":checked")) {
								answer = index
							}
							values.push(text)
						})
						return {
							values: values,
							answer: answer
						}
					},
					middleware: function() {
						return generate.shared.popup_list.middleware("radio")
					}
				}
			},
			"checkbox-answer": {
				el: {
					type: "answer",
					parse: function(original) {
						answers = $(original).attr("answer").split(",")
						$(".select-option-list").html("")
						original.find('label').each(function(index, el) {
						$(".select-option-list").append("<li><input type='checkbox' name='right_answer' id='option_"+index+"'><label for='option_"+index+"'></label><div><input type='text'><label>Вариант ответа</label></div></li>").children('li').last().find("input[type='text']").val($(this).text())
						})
						answers.forEach(function(answer_index){
							$("#option_"+answer_index).attr('checked', 'true');
						})
					},
					build: function(value) {
						var el = $(generate.template.answer("checkbox-answer"))
						var local_counter=1

						value.values.forEach(function(text) {
							var id = "checkbox_"+counter.checkbox+"_"+local_counter
							if(local_counter!=1){
								el.append('<br>')
							}
							el.append("<input type='checkbox' name='checkbox_"+counter.checkbox+"' value='"+local_counter+"' id='"+id+"'><label for='"+id+"'>"+text+"</label>")
							local_counter++
						})
						counter.checkbox++
						el.attr("answer", value.answers)
						return el
					},
				},
				popup: {
					text: generate.shared.popup_list.text("checkbox"),
					parse: function() {
						var values=[]
						var answers=[]
						$("#popup li").each(function(index, el) {
							var text = $(this).find("input[type='text']").val()
							if($(this).children("input[type='checkbox']").is(":checked")) {
								answers.push(index)
							}
							values.push(text)
						})
						return {
							values: values,
							answers: answers.join(",")
						}
					},
					middleware: function() {
						return generate.shared.popup_list.middleware("checkbox")
					}
				}
			},
			"file-answer": {
				el: {
					type: "answer",
					parse: function(){
						//no need
					},
					build: function(){
						el = $(generate.template.answer("file-answer"))
						el.html('<div class="file"><button>Выбрать</button><span>Файл не выбран</span><input type="file"></div>')
						return el
					},
					boundaries: [add_file_boundary]
				},
				popup: {
					text: "<button id='add_el'></button>",
					parse: function(){
						//no need
					},
					middleware: function(){
						setTimeout(function(){
							$("#add_el").trigger( "click" )
						}, 10)
					}	
				}
			}
		},
	}
	$.extend(generate, rest);
};

finish_generate();
</script>