<script>
String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

var csrf_token = '{{csrf_token}}';

var pack_input = {
	"block--empty" : function(){
		return {
			"class": "block--empty",
		}	
	},
	"text-answer" : function(el){
		return {
			"class": "text-answer",
			"value":  {
				"label":$(el).children('label').text(),
				"answer": $(el).attr('answer')
			}
		}
	},
	"textarea" : function(el){
		return {
			"class": "textarea",
			"value": {
				"label": $(el).children('.textarea').children('label').text()
			}
		}
	},
	"file-answer" : function(el){
		return {
			"class": "file-answer",
			"value": false
		}
	},
	"select-answer": function(el){
		var values = [];
		$(el).find("option").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "select-answer",
			"value": {
				"values": values,
				"answer": $(el).attr('answer')
			}
		}
	},
	"radio-answer": function(el){
		var values = [];
		$(el).find("label").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "radio-answer",
			"value": {
				"values": values,
				"answer": $(el).attr('answer')
			}
		}
	},
	"checkbox-answer": function(el){
		var values = [];
		$(el).find("label").each(function(index, el) {
			values.push($(this).text());
		});
		return {
			"class": "checkbox-answer",
			"value": {
				"values": values,
				"answers": $(el).attr('answer')
			}
		}
	}
}

var pack_question = {
	"block--empty" : function(){
		return {
			"class": "block--empty",
		}	
	},
	"text-wrapper" : function(el){
		return {
			"class": "text-wrapper",
			"value": $(el).html(),
		}
	},
	"image-wrapper" : function(el){
		return {
			"class": "image-wrapper",
			"value": $(el).children('img').attr("src"),
		}
	},
	"audio-wrapper" : function(el){
		return {
			"class": "audio-wrapper",
			"value": $(el).children('audio').attr("src"),
		}
	},
	"code-wrapper" : function(el){
		return {
			"class": "code-wrapper",
			"value": $(el).attr("src"),
		}
	},
	"attachment-wrapper" : function(el){
		return {
			"class": "attachment-wrapper",
			"value": $(el).attr("href"),
		}
	},
}

var test = {
	pack: function(){
		var testfile = {
			"title" : $(".test__heading").text(),
			"author": "{{teachername}}",
			"tasks" : []
		};
		$(".task__content").each(function(index, el) {
			var c_task = {
				"question_items": [],
				"answer_items" : []
			};
			$(this).children('.task__question').children().each(function(index, el) {
				var c_class = this.classList[0];
				console.log(c_class)
				c_task.question_items.push(pack_question[c_class](this));
			});
			//answer shit need coplete revision
			$(this).children('.task__answer').children().each(function(index, el) {
				var c_class = this.classList[0];
				console.log(c_class)
				c_task.answer_items.push(pack_input[c_class](this));
			});
			testfile.tasks.push(c_task);
		});
		console.log(testfile);

		var formData = new FormData();
		formData.append("json_file", JSON.stringify(testfile));
		formData.append("course_id", "{{course.id}}");
		formData.append("test_id", "{{test.id}}");
		// console.log(csrf_token, "{{test.id}}", "{{course.id}}");
		formData.append('csrfmiddlewaretoken', csrf_token);
		// console.log(formData);
		$.ajax({
			type:"POST",
			url:"/test/save/",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){
				notification.change('success', data);
				window.history.pushState('Test {{test.id}}', 'Test {{test.id}}', '/test/edit/?course_id={{course.id}}&test_id={{test.id}}');
			}
		});
	},
	unpack: function() {
		{% if test.json %}
			testfile = {{test.json|safe}};
		{% endif %}
		$(".test__heading, title").text(testfile.title);
		testfile.tasks.forEach(function(task_data){
			generate.task(false, false, false, task_data);
		});
		setTimeout(function(){
			editor.full_check()
		}, 1000)
	}
}

$(document).ready(function() {
	$("#test_save").click(function(event) {
		test.pack();
	});

	$("#test_publish").click(function(event) {
		test.pack();
		var formData = new FormData();
		formData.append("course_id", "{{course.id}}");
		formData.append("test_id", "{{test.id}}");
		formData.append('csrfmiddlewaretoken', csrf_token);
		$.ajax({
			type:"POST",
			url:"/test/publish/",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){
				notification.change('success', data);
			}
		});
		$("#test_publish").hide();
		$("#test_unpublish").show();
	});

	$("#test_unpublish").click(function(event) {
		test.pack();
		var formData = new FormData();
		formData.append("course_id", "{{course.id}}");
		formData.append("test_id", "{{test.id}}");
		formData.append('csrfmiddlewaretoken', csrf_token);
		$.ajax({
			type:"POST",
			url:"/test/unpublish/",
			data: formData,
			processData: false,
			contentType: false,
			success: function(data){
				notification.change('success', data);
			}
		});
		$("#test_publish").show();
		$("#test_unpublish").hide();
	});

	{% if test.loaded %}
		test.unpack();
	{% endif %}
});</script>