@import "../vars/main.sass"

.UI_kit-box
	&.--horizontal
		display: flex
		flex-direction: row
		align-items: top
		& .__item
			width: 100%
		& .__description
			width: 50%
			margin-left: $margin--m
			color: $grey--dark
	margin-bottom: $margin--l