<section class="card">
	<h4 class="__heading">Настройки профиля</h4>
	<div>
		<p>Мои контакты могут просматривать:</p>
		{% include "Elements/Inputs/radio/" with label="Все" name="contacts_see" %}
		{% include "Elements/Inputs/radio/" with label="Только преподаватели" name="contacts_see" %}
		{% include "Elements/Inputs/radio/" with label="Только мои преподаватели и одногруппники" name="contacts_see" %}
		{% include "Elements/Inputs/radio/" with label="Только мои преподаватели" name="contacts_see" %}
		{% include "Elements/Inputs/radio/" with label="Никто" name="contacts_see" %}
	</div>
	<div class="row">
		<button class="--ghost --first" id="change_password">Сменить пароль</button>
		<a href='/func/logout/'> <button class="--ghost">Выйти</button> </a>
	</div>
</section>