@import "vars"

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	display: flex
	flex-direction: row
	background: $grey-dark
	height: $block-regular
	justify-content: space-between
	padding: 0 $padding-regular
	box-sizing: border-box
	align-items: center

.header__breadcumbs
	color: $white
	font-size: $font-regular
	line-height: $line-regular
	&>svg
		fill: $grey-semidark
		width: $icon-tiny
		vertical-align: middle
		margin-bottom: -$size-small/2
	&>span
		vertical-align: middle

.header__user
	text-align: right

.user__avatar--small
	width: $icon-regular
	height: $icon-regular
	border-radius: 50%
	vertical-align: middle
.user__name
	vertical-align: middle
	color: $grey-light
	white-space: nowrap

.header__search
	opacity: 0;
	width: 0%
	max-width: 40vw
	margin: 0 5vw
	height: $icon-regular
	line-height: $icon-regular
	transition: $time-regular
	&>svg
		position: absolute
		width: $icon-small
		fill: $grey-light
		margin: ($icon-regular - $icon-small)/2
	&>input
		background: lighten($grey-dark, 20%)
		display: block
		padding-left: $icon-regular
		border: none
		height: $icon-regular
		line-height: $icon-regular
		width: 100%
		transition: $time-regular
		color: $white
		font-family: $Segoe-UI
		font-size: $font-regular
		&:hover,&:focus
			background: lighten($grey-dark, 30%)
			outline: 0
			box-shadow: 0
		&:-webkit-autofill
			background: lighten($grey-dark, 30%) !important
			-webkit-box-shadow: inset 0 0 0 50px lighten($grey-dark, 30%) !important
			-webkit-text-fill-color: $white !important
			color: $white !important