@import "vars"
@import "animations"

body
	background: $grey-light
	padding: 0 20px
	color: $black

h2
	font-size: $font-huge
	
h3
	font-size: $font-regular
	font-weight: normal

h1,h2,h3,h4
	font-weight: normal
	margin-bottom: $margin-regular

.content
	width: 100%
	display: flex
	flex-direction: row
	align-items: top
	justify-content: space-between
	section
		width: 100%
		margin-right: $margin-huge
		&:last-child
			margin-right: 0