@import "vars"

//general fix
input
	font-size: $font-regular
	padding: $padding-regular
	color: $grey-dark
	&:focus
		outline: 0
		box-shadow: 0
	&:disabled
		background: $grey-semilight
		color: $grey-mid
	&+label
		//forces label to leave page flow, but remain on old position
		position: absolute
	&+label:before
		display: inline-block
		+small-circle()
		content: ''
		vertical-align: top
		//sets it to top right corner
		transform: translate(-$size-regular,$size-small*3)
		opacity: 0
		background: $blue-bright
		transition: $time-regular
	//is class beacuse isvalid is binar attr and empty input is called valid to
	&.valid+label:before
		background: $green-bright
	&:invalid+label:before
		background: $red-bright


	&:focus+label:before
		opacity: 1
		//moves it in field
		transform: translate(-$size-big,$size-small*3)
//text inputs
.input__placeholder-label
	border: $border-regular solid $grey-semilight
	background: $white
	width: 16rem
	//focus indicator
	

	
//buttons
.button__proceed
	background: transparent
	border: 0
	&:disabled
		background: transparent
		&>svg
			fill: $grey-mid
	&>svg
		display: inline-block
		vertical-align: middle
		width: 2rem
		fill: $grey-dark
		stroke-width: 2px
		transform: translateX(-2em)
		background: linear-gradient(to right, transparent 0%, $grey-semilight 15%)
		transition: $time-big

	&>span
		display: inline-block
		vertical-align: middle
		font-size: $font-controls
		transition: $time-big
		opacity: 0
		color: darken($grey-dark, 5%)
	&:enabled:focus,&:enabled:hover
		outline: 0
		&>span
			opacity: 1
		&>svg
			transform: translateX(0)