@import "vars"
@import "animations"

body
	background: $grey-light
.content
	display: flex
	align-items: center
	justify-content: center
	height: 100vh
.login-box
	+animation-savestate("fade-from-bottom")
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 25rem
	height: 18.5rem
	// background: $grey-semilight
	// box-shadow: 0px 12px 24px rgba($black, 0.24)
	+smartphone
		box-shadow: none
		background: none
.login-box--form
	text-align: center
	&>input, &>button
		margin-top: $margin-regular
		&+label
			margin-top: $margin-regular
.footer
	position: absolute
	bottom: $margin-big
	width: 100%
	text-align: center