@import "vars"
@import "extensions/animations"
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic)
// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic);

body, html
	font-size: 100%
	margin: 0
	padding: 0
	font-family: $Sans
	color: $black
	background: $grey-light

html
	overflow-y: visible
	overflow-x: hidden

div,input,header,main,footer,section
	box-sizing: border-box

h1
	margin: 0
	padding: 0
	font-size: $font-huge
	font-weight: 300
	color: $grey-dark

h2
	font-size: $font-huge
	margin: 0

h3,h4
	font-size: $font-regular
	font-weight: 400
	margin-bottom: $margin-regular

h2
	margin-bottom: $margin-regular
	font-weight: 300

a
	color: darken($color--accent, 5%)
	transition: $time-regular
	text-decoration: none
	font-weight: 500
	&:focus,&:hover
		outline: 0
		box-shadow: none
		color: darken($color--accent, 25%)
img
	border: 0
	background: $grey-light

.no-select
	user-select: none

.ripple
	position: absolute
	width: 10px
	height: 10px
	margin: 0 10px 10px 0
	border-radius: 50%
	background: rgba($grey-semilight, .2)
	transition: transform 2s cubic-bezier(0,.84,.95,1), opacity $time-short
	transform: scale(0)
	&.accent
		background: rgba($color--accent, .3)

[contenteditable]
	transition: $time-regular