@import "vars"

body, html
	font-size: 100%
	margin: 0
	padding: 0
	font-family: $Segoe-UI
	color: $black
	background: $grey-light

html
	overflow-y: visible
	overflow-x: hidden

div,input
	box-sizing: border-box

h1
	margin: 0
	padding: 0
	font-size: $font-huge
	font-weight: 300
	color: $grey-dark

h2
	font-size: $font-huge

h3
	font-size: $font-regular

h2,h3,h4
	margin-bottom: $margin-regular
	font-weight: normal
a
	color: darken($blue-bright, 5%)
	transition: $time-regular
	&:focus,&:hover
		outline: 0
		box-shadow: none
		color: $blue-dark
img
	border: 0
	background: $grey-light

.no-select
	user-select: none
