@import "vars"

=notification($background,$color)
	background: $background
	&>h3
		color: $color
	&>svg
		fill : $color

#notification
	transition: $time-regular
	display: block
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: $padding-small
	line-height: $font-regular*2
	text-align: center
	&>h3
		margin: 0
		padding: 0
		float: left
		position: absolute
		font-weight: normal
		margin-left: $icon-regular+$padding-small
	&.hidden
		opacity: 0
		top: -$margin-huge
	&>svg
		float: left
		width: $icon-regular
	&>span
		width: 100%
		vertical-align: middle
		margin-left: -$icon-regular/2

.notification__error
	+notification($red-dim,$red-dark)
	color: $white

.notification__warning
	+notification($yellow-dim,$yellow-dark)
	color: $black

.notification__success
	+notification($green-dim,$green-dark)
	color: $black

.notification__neutral
	+notification($blue-dim,$blue-dark)
	color: $black