//colors
//grey shades
$white          : #fafafa
$grey-light     : #f2f2f2
$grey-semilight : #e6e6e6
$grey-mid       : #cacaca
$grey-semidark  : #808080
$grey-dark      : #373737
$black          : #0f0f0f
//dim
$yellow-dim     : #ffeb3b
$green-dim 		: #6cd96c
$red-dim        : #ec493d
$blue-dim       : #8eb7fb
//bright
$blue-bright    : #4670dc
$red-bright     : #e20e0e
$green-bright   : #1bbd1b
//dark
$red-dark       : #800000 
$yellow-dark    : #975405 //it's brown
$green-dark     : #1a801a
$blue-dark      : #2e498f

//sizes
//paddings
$padding-small: .4rem
$padding-regular: .7rem
$padding-big: 1.5rem
$padding-huge: 2rem
//margins
$margin-regular: .6rem
$margin-big: 1.5rem
$margin-huge: 3rem
//general
$size-small : .4rem
$size-regular : .6rem
$size-big : 1rem
//layout blocks
$block-regular: 3.125rem
//icon size
$icon-regular: 2rem
$icon-small: 1.5rem
$icon-tiny: 1rem
//font
//fonts
$Segoe-UI : "Segoe UI","Open Sans","San Francisco","Arial",sans-serif
$Lora     : "Lora","Times New Roman",serif
//sizes
$font-huge : 2.25rem
$font-big : 1.5rem
$font-controls : 1.125rem
$font-regular : 1rem
$font-small  : .75rem
//line geights
$line-regular: $font-regular*1.5


//lines
//border
$border-regular : .2rem


//timengs
$time-regular: .3s
$time-big: .5s



//mixins
=small-circle()
	border-radius: 50%
	height: $size-small
	width: $size-small

=animation-savestate($anim-name)
	animation: $anim-name $time-regular forwards

=animation($anim-name)
	animation: $anim-name $time-regular forwards

//media vars
//should cover everything from iPhone6+ to galaxy S3
=smartphone()
	@media only screen and (max-width: 736px)
		@content