<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Редактирование материала</title>
	<style> 
		{% include "Elements/Modules/ripple/_styles/css/ripple.css" %} 
		{% include "Elements/Modules/pull_put/_styles/css/placeholder.css" %} 
		{% include "Elements/Modules/tooltip/_styles/css/tooltip.css" %} 
		{% include "Elements//Modules/test_generate/__edit_texts/__answer/__radio/_styles/css/input_fix.css" %} 
		{% include "Elements/Inputs/text/filled/_styles/css/filled.css" %} 
		{% include "Elements/Modules/test_generate/__edit_texts/__answer/__radio/_styles/css/input_fix.css" %} 
		{% include "Elements/Modules/pull_put/_styles/css/layout.css" %} 
		{% include "Elements/button/flat/_styles/css/flat.css" %} 
		{% include "Elements/card/_styles/css/link.css" %} 
		{% include "Elements/Inputs/_shared/_styles/css/toggle.css" %} 
		{% include "Elements/Inputs/text/_styles/css/reset.css" %} 
		{% include "Pages/Material/editor/preview/_styles/css/preview.css" %} 
		{% include "Elements/Layout/header/_styles/css/header.css" %} 
		{% include "Elements/Inputs/file/_styles/css/file.css" %} 
		{% include "Elements/Modules/test_generate/_styles/css/image.css" %} 
		{% include "Elements/Inputs/checkbox/_styles/css/checkbox.css" %} 
		{% include "Elements/Modules/test_generate/_styles/css/task.css" %} 
		{% include "Page_templates/_styles/css/main.css" %} 
		{% include "Elements/Modules/notification/_styles/css/notification.css" %} 
		{% include "Elements/card/circle/_styles/css/shape.css" %} 
		{% include "Pages/Material/editor/_styles/css/input_adaptation.css" %} 
		{% include "Elements/button/ghost/_styles/css/ghost.css" %} 
		{% include "Elements/Inputs/text/textarea/_styles/css/height_fix.css" %} 
		{% include "Elements/card/_styles/css/card.css" %} 
		{% include "Page_templates/default/_styles/css/default.css" %} 
		{% include "Elements/Inputs/text/filled/icon/_styles/css/icon.css" %} 
		{% include "Elements/Modules/button_delete/_styles/css/button_delete.css" %} 
		{% include "Elements/button/_styles/css/button.css" %} 
		{% include "Elements/Modules/popup/_styles/css/popup.css" %} 
		{% include "Pages/Material/editor/_styles/css/layout.css" %} 
		{% include "Elements/Inputs/radio/_styles/css/radio.css" %} 
		{% include "Elements/Inputs/text/_styles/css/text.css" %} 
		{% include "Pages/Material/editor/actions/_styles/css/layout.css" %} 
		{% include "Elements/Inputs/Text/_styles/css/reset.css" %} 
		{% include "Elements/Inputs/Text/_styles/css/text.css" %} 
		{% include "Pages/Material/editor/_styles/css/disable.css" %} 
		{% include "Elements/Modules/test_generate/_styles/css/answer-field.css" %} 
		{% include "Elements/button/ghost/icon/_styles/css/icon.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% include "Pages/Material/editor/question_items/exports.html" %}{% include "Pages/Material/editor/preview/exports.html" %}{% include "Pages/Material/editor/actions/exports.html" %}
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/pull_put/_scripts/core.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/core.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/core.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/delete.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/read.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/ui.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/counter.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/publish.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/save.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/put.js" %} 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/data.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/pack.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/unpublish.js" %} 
		{% include "Elements/Modules/notification/_scripts/notification.js" %} 
		{% include "Elements/Modules/popup/_scripts/popup.js" %} 
		{% include "Elements/Modules/pull_put/_scripts/pull.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/edit.js" %} 
		{% include "Elements/Modules/test_manager/_scripts/load.js" %} 
		{% include "Elements/Modules/test_generate/_scripts/build.js" %} 
		{% include "Elements/Modules/button_delete/_scripts/button_delete.js" %} 
		{% include "Pages/Material/editor/_scripts/new_autofill.js" %} 
		{% include "Elements/Inputs/file/_scripts/file_catcher.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Pages/Material/editor/_scripts/add_pullers.js" %} 
		{% include "Pages/Material/editor/actions/_scripts/handler.js" %} 
		{% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
		{% include "Elements/Inputs/Text/_scripts/emptyness_checker.js" %} 
		{% include "Pages/Material/editor/_scripts/fill_items.js" %} 
	</script>
</body>
</html>