{% load ext_humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>Главная</title>
</head>
<style>
.OK{
	color:green;
	padding-bottom:10px;
}
.ERROR{
	color:red;
	padding-bottom:10px;
}
</style>
<body>
	<main>
	<section>
		<h2> Pages: </h2>
		{% for page,value in pages.items %}
		<div class="{{ value }}">{{ page }}: {{ value }} </div>
		{% endfor %}
	</section>
	<section>
		<h2> Functions: </h2>
		{% for block,value in functions.items %}
			<h3> {{ block }} </h3>
			{% for function,value in value.items %}
				<div class="{{ value }}">{{ function }}: {{ value }} </div>
			{% endfor %}
		{% endfor %}
		<div>{{ check_example }} - {{ check_example_right }} : {{ check_result }} </div>
	</section>
	</main>
	
</body>
</html>