<h4 class="__heading"> Редактирование шаблона </h4>
<div class="template_edit row">
  <div class="task">
  </div>
  <dov class="column">
    <div class="__variables card">
    </div>

    <div class="__actions card row">
      <button class="m--ghost m--icon __save" tip="Cохранить изменения">
        {% include "Elements/Icons/save.svg" %}
  	  </button>

      <button class="m--ghost m--icon __add" tip="Добавить в тест">
        {% include "Elements/Icons/add.svg" %}
  	  </button>

      <button class="m--ghost m--icon __mod_swap" tip="Показать задание"
        class="__mod_swap">
        {% include "Elements/Icons/visibility.svg" %}
  	  </button>
    </div>
  </div>
</div>
