{% load ext_humanize %}
<div class="card --course">
	{% include "#&/../__overall-info/" 
		with heading=course.name %}
	<p class="__content">
		{% if materials_number %}
			<strong>{{materials_number}}</strong>
			{{materials_number|form_for_num:"материал материала материалов" }}
		{% else %}
			Материалов <strong>нет</strong>
		{% endif %}
		<br>
		{% if tests_number %}
			<strong>{{tests_number}}</strong>
			{{tests_number|form_for_num:"тест теста тестов" }}
		{% else %}
			Тестов <strong>нет</strong>
		{% endif %}
		{% if undone_counter %}
			{% if undone_counter != 0 %}
				<strong>{{undone_counter}}</strong>
				{{undone_counter|form_for_num:"невыполненное невыполненных невыполненных" }}{{undone_counter|form_for_num:"задание задания заданий" }}
			{% else %}
				Задания <strong>выполнены</strong>
			{% endif %}
		{% endif %}
	</p>
</div>