@import "../../../../../../../../sass_vars/main.sass"

.__task
  .__overall
    display: flex
    flex-direction: row
    justify-content: space-between

  .__actions
    display: flex
    flex-direction: row
    justify-content: flex-end
    .input
      margin: 0
      width: 8rem

  .__number
    font-size: $font__size--l
