@import "../../../../../sass_vars/main.sass"

.header > .__search
  min-height: $base * 1.75
  max-height: $base * 1.75
  min-width: $base * 1.75
  max-width: $base * 1.75
  @media all and (max-width: 767px)
    &.m--first
      margin-left: $padding--s
  button.m--ghost.m--icon
    min-height: $base * 1.75
    max-height: $base * 1.75
    min-width: $base * 1.75
    max-width: $base * 1.75
    padding: $padding--s
    border: $border--s solid darken($color--main, $darkness-delta__focus--percent)
    svg
      fill: $font__color--white
    &:hover
      background: rgba($white, $darkness-delta__focus)
      border-color: $white
