<div class="card assignment--new">
	<div class="linkbox" id="assignment--new__materials">
		<h4>Материалы:</h4>
		<button class="--ghost --icon" id="assignment--new__add_material" tip="Добавить материал в задание">{% include "Elements/Icons/add.svg" %}</button>
	</div>
	<div class="linkbox" id="assignment--new__tests">
		<h4>Тесты:</h4>
		<button class="--ghost --icon" id="assignment--new__add_test" tip="Добавить тест в задание">
			{% include 'Elements/Icons/add.svg' %}
		</button>
	</div>
	<div id="assignment--new__traditional">
		<h4>Задания вне Pi:</h4>
		<button class="--ghost --icon" id="assignment--new__add_traditional" tip="Добавить описание того, что надо сделать вне Pi">{% include "Elements/Icons/add.svg" %}</button>
	</div>
	{% include "Elements/card/due_date/" %}
</div>
<button class="button--raized" id="give_task">Выдать задание</button>