<div class="card">
	{% for group in course.group_list %}
		{% include "Elements/Inputs/checkbox/" with
			name="group_choose"
			value=group
			label=group
			checked="true" %}
	{% endfor %}
</div>

<div class="card assignment--new">
	<div>
		<div class="row m--nowrap">
			<h4 class="__heading">Материалы:</h4>
			<div class="row" id="assignment--new__materials">
				<button class="m--ghost m--icon" id="assignment--new__add_material" tip="Добавить материал в задание">{% include "Elements/Icons/add.svg" %}</button>
			</div>
		</div>
	</div>
	<div class="row m--nowrap">
		<h4 class="__heading">Тесты:</h4>
		<div class="row" id="assignment--new__tests">
			<button class="m--ghost m--icon" id="assignment--new__add_test" tip="Добавить тест в задание">
				{% include 'Elements/Icons/add.svg' %}
			</button>
		</div>
	</div>
	<div id="assignment--new__traditional">
		<h4 class="__heading">Задания вне Pileus</h4>
		
		<button class="m--ghost m--icon" id="assignment--new__add_traditional" tip="Добавить описание того, что надо сделать вне Pileus">{% include "Elements/Icons/add.svg" %}</button>
	</div>
	{% include "#&/due_date/" %}
</div>
<button class="button--raized" id="give_task">Выдать задание</button>
