@import "../../../../../../../../../sass_vars/main.sass"

.generate-edit[subtype="checkbox"]
  .__edit_item
    display: flex
    flex-direction: row
    .m--text
      margin: 0
    .m--checkbox
      margin: 0
  .__add_option
    margin-top: $margin--s
    align-self: flex-start

  .m--button-delete
    top: 0
