@import "../../../sass_vars/main.sass"

.card
	display: flex
	flex-direction: column
	box-sizing: border-box
	margin-bottom: $margin--m
	padding: $padding--m
	color: $font__color--dark
	background: $white
	border-radius: $border--m
	transition: $time--s
	.card
		box-shadow: none
		border: $border--s solid $grey--semilight
	.__heading
		+h4()
	.__overall-info
		display: flex
		flex-direction: row
	.__content
		margin: 0
	+box-shadow(1)

.--extended
	display: flex
	flex-direction: row
	&>.__main, &>.__extension
		width: 100%

.--selected
	box-shadow: 0 0 0 $border--s $color--accent