@import "../../../sass_vars/main.sass"

.card
	display: flex
	flex-direction: column
	box-sizing: border-box
	margin-bottom: $margin--m
	padding: $padding--m
	color: $font__color--dark
	background: $white
	border-radius: $border--m
	transition: $time--s
	&, .__content
		&>*:last-child
			margin-bottom: 0 
	.card
		box-shadow: none
		border: $border--s solid $grey--semilight
	.__heading
		+h4()
	.__overall-info
		display: flex
		flex-direction: row
		.__heading
			flex: 1
		.__icons
			display: flex
			flex: 0
			flex-wrap: nowrap
			flex-direction: row
			svg
				+square("s")
			&>div
				display: flex
				flex-direction: row
				align-items: center
			.__positive svg
				fill: $font__color--positive

			.__neutral svg
				fill: $font__color--dark

			.__warning svg
				fill: $font__color--negative
	.__content
		margin: 0
		&>*:last-child
			margin-bottom: 0
	+box-shadow(1)

.--extended
	display: flex
	flex-direction: row
	&>*
		width: 100%

	a
		color: inherit
	.__extension>*
		&:last-child
			margin-bottom: 0
	.__extension a
		color: $font__color--accent

.--selected
	box-shadow: 0 0 0 $border--s $color--accent
