@import "../../../sass_vars/main.sass"

a.--card
	font-weight: normal
	display: block
	& > .card
		&:hover
			+box-shadow(2)
		&:active
			background: $grey--semilight

.card a.--card>.card
	margin-bottom: 0
	&:hover
		border-color: $font__color--accent
		box-shadow: none