@import "../../../sass_vars/main.sass"

a.m--card
	font-weight: normal
	display: block
	& > .card
		&:hover
			+box-shadow(2)

.card a.m--card>.card
	margin-bottom: 0
	&:hover
		border-color: $font__color--accent
		box-shadow: none
