<div class="share-info">
  <h4 class="__heading"> Объекты для добавления в библиотеку </h4>
  <div class="__specification">
  </div>

  <div class="__description">
    <h4 class="__heading"> Описание </h4>
    {% include "Elements/Inputs/text/textarea/" with
    placeholder="Текст описания"
    class='__text' %}
    <div class="__tags">
      <h4> Ключеые слова </h4>
      <div class="__overall">
        <span>Общие (Например: ЕГЭ или внешкольное)</span>
      </div>
      <div class="__subject">
        <span>Предметные (Например: окружности или символизм)</span>
      </div>
    </div>
  </div>

  <h4> Параметры доступа </h4>

  {% include "Elements/Inputs/checkbox/" with
     label="Доступ по запросу"
     class='__open'
     tip="Невозможно будет импортировать до вашего согласия для каждого лично" %}

  <div class="__actions">
  </div>
</div>
