@import "../../../../sass_vars/main.sass"
@import "../__user-info/_styles/__user-info.sass"
@import "../__search/_styles/__search.sass"
@import "../__breadcrumbs/_styles/__breadcrumbs.sass"

.header
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 0 $padding--s
	color: $font__color--white
	background: $color--main
	z-index: 10	
	+box-shadow(2)
	
	&>*
		height: $base*2 + $padding--s * 2

	a
		display: flex
		align-items: center
		padding: $padding--s $padding--m
		font-weight: 400
		color: $font__color--white
		border-radius: $border--m
		&:hover, &:focus
			color: $font__color--white
			background: rgba($white, $darkness-delta__focus)