@import "../../../../sass_vars/main.sass"

.m--assignment
  @media all and (max-width: 1025px)
    .__content
      margin-top: $margin--l
    button.m--ghost.m--icon, a
      display: block
      opacity: 1
