<style>#context-menu {
  z-index: 10;
  background: #fafafa;
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1) opacity;
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1) opacity;
  border-radius: 0.125rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 0; }

.context-menu__option {
  padding: 0.7rem;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  cursor: pointer; }
  .context-menu__option:hover {
    background: #ECEFF1; }
  .context-menu__option:first-child {
    border-radius: 0.125rem 0.125rem 0 0; }
  .context-menu__option:last-child {
    border-radius: 0 0 0.125rem 0.125rem; }
  .context-menu__option.default {
    border-bottom: 0.125rem solid #ECEFF1; }
</style>