<style>
html ::-webkit-scrollbar, html ::-webkit-scrollbar-track {
  background: #ECEFF1;
  width: 16px; }

html ::-webkit-scrollbar-button {
  display: none; }

html ::-webkit-scrollbar-thumb {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  background: rgba(38, 50, 56, 0.33);
  width: 8px;
  border: 4px solid #ECEFF1; }
  html ::-webkit-scrollbar-thumb:hover {
    background: rgba(33, 150, 243, 0.33); }

main {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  padding: 1.5rem 0 1.5rem 16px; }
  main > section {
    width: 100%;
    max-width: 50rem; }
  main .linkbox {
    margin-left: -1.14rem; }

.button_remove, .button_remove_all {
  margin: 0;
  position: absolute;
  top: -0.6rem;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1); }

.button_remove_all {
  right: 1.5rem; }

.group {
  position: relative;
  margin-bottom: 1.5rem; }
  .group > h3 {
    margin-top: 0;
    display: inline-block;
    min-width: 4rem; }
  .group:hover > .button_remove {
    opacity: 1; }
  .group:hover > .button_remove_all {
    opacity: 1; }
</style>