<style>
.assignment--new .linkbox{
    margin-left: 0;
    align-items: center;}
  .assignment--new .linkbox .link--card{
    margin-bottom: 0;}
  .assignment--new .card__due-date{
    display: flex;
    align-items: center;
    justify-content: flex-end;}
    .assignment--new .card__due-date input, .assignment--new .card__due-date label{
      width: 5.25rem !important;
      margin: -1rem -2rem 0 0!important;
    }
   .assignment--new .card__due-date input{
      margin: 0 !important;
   }
   .assignment--new .card__due-date h4{
      margin-right: 0.6rem !important;
   }
  .assignment--new h4,.assignment--new button{
    margin: 0;}
</style>