<style>
.assignment--new .linkbox{
    margin-left: 0;
    align-items: center;}
  .assignment--new .linkbox .link--card{
    margin-bottom: 0;}
  .assignment--new .card__due-date{
    display: flex;
    align-items: center;
    justify-content: flex-end;}
    .assignment--new .card__due-date input, .assignment--new .card__due-date label{
      width: 1.5rem !important;
      margin: -1rem -2rem 0 0!important;
    }
   .assignment--new .card__due-date input{
      margin: 0 !important;
   }
   .assignment--new .card__due-date h4{
      margin-right: 0.6rem !important;
   }
  .assignment--new h4,.assignment--new button{
    margin: 0;}

.panel--list{
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  padding: 4.375rem 1.25rem 5rem 1.25rem;
  z-index: 1;
  background: #fafafa;
  width: 18.5rem;
  height: 100vh;
  transform: translateX(18.5rem);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.panel--actions{
  border-top: 2px solid #ECEFF1;
  position: fixed !important;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  width: 18.5rem;
  box-shadow: none !important;
  transform: translateX(18.5rem);
}
</style>