<style>
	#panel {
		transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
		overflow-y: auto;
		position: fixed;
		top: 0;
		right: 0;
		padding: 4.375rem 1.25rem 5rem 1.25rem;
		z-index: 1;
		background: #fafafa;
		width: 18.5rem;
		height: 100vh;
		transform: translateX(18.5rem);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 0.125rem rgba(0, 0, 0, 0.24); 
	}
	#panel--actions {
	  border-top: 0.125rem solid #ECEFF1;
	  position: fixed !important;
	  right: 0;
	  bottom: 0;
	  margin: 0 !important;
	  width: 18.5rem;
	  box-shadow: none !important;
	  transform: translateX(18.5rem);
	}
</style>