@import "../../../../../sass_vars/main.sass"

.preview
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	overflow-y: scroll
	padding: 0
	padding-left: $padding--m
	padding-right: 16.5rem + $padding--m
	@media screen and (max-width:1367px)
		padding-right: $padding--m + 1rem

	&>.__heading
		min-width: 4rem
		text-align: center
		border-bottom: $border--s solid $grey--semilight
		transition: $time--s	
		&:hover, &:focus
			border-bottom: $border--s solid $font__color--accent
		&:empty:before
		  content: "Название материала..."
		  color: lighten($font__color--grey, 15%)
		  display: block /* For Firefox */
	&>.__content
		width: 100%
		max-width: 50rem
		margin-left: 1rem
		.__task:last-child
			margin-bottom: $margin--xl
