@import "../../vars/main.sass"

button
	display: block
	padding: $padding--s $padding--l
	border: 0
	font: $sans
	font-size: $font__size--m
	line-height: $line--m
	color: $font__color--white
	background: $color--accent
	border-radius: $border--m
	transition: $time--m
	&:enabled:hover, &:enabled:focus
		+box-shadow(3)
	&:disabled
		color: $font__color--white
		background: $grey--mid