{% load ext_humanize %}
<div class="card --assignment" id="{{assignment.course.id}}_{{assignment.id}}">
	{% if assignment.course %}
		{% include "#&/../__overall-info/" 
				with heading="В курсе "|add:assignment.course.name %}
	{% endif %}		
	<div class="__content">
	{% if assignment.content %}
		{% include "#&/__materials/" with task=assignment.content %}
		{% include "#&/__tests/" with task=assignment.content %}
		{% include "#&/__traditional/" with task=assignment.content %}
	{% endif %}
	</div>
	{% if assignment.due_date != "" %}
	<div class="card__due-date">
		До <strong>{{assignment.due_date|humanize_date}}</strong>
	</div>
	{% endif %}
</div>