{% if u_request.type == "reset" %}
<div class="request row">
запрос на пересдачу теста
	{% include "Pages/course/updates/_extensions/result_preview/" with result=u_request.test.results %}
	<button class="m--flat" id="button_accept" data-user-id="{{u_request.user_id}}" data-test-id="{{u_request.test.id}}" data-type="reset">Принять</button>
	<button class="m--flat m--negative" id="button_decline" data-user-id="{{u_request.user_id}}" data-test-id="{{u_request.test.id}}" data-type="reset">Отклонить</button>
</div>
{% else %}
запрос на вступление в курс
<div class="request row">
	<button class="m--flat" id="button_accept" data-user-id="{{u_request.user_id}}" data-type="request">Принять</button>
	<button class="m--flat m--negative" id="button_decline" data-user-id="{{u_request.user_id}}" data-type="request">Отклонить</button>
</div>
{% endif %}
