<div class="card">
	<div class="icons--warning">
	</div>
	<div class="icons--neutral">
	</div>
	<div class="icons--positive">
		{% include "UI_elements/Icons/done.svg" %}
	</div>
	<h4 class="card__heading">В курсе {{course.name}}</h4>
	{% for task in assignment.tasks %}

		{% with forloop.counter as upperloop_counter %}
		{% if task.traditional %}
			{% if task.done %}
				<div class="card-homework__task traditional done">
			{% else %}
				<div class="card-homework__task traditional">
			{% endif %}



			<input type="checkbox" class="green" id="task_{{upperloop_counter}}_{{ forloop.counter }}"
			{% if task.done %}
				checked
			{% endif %}>
			<label for="task_{{upperloop_counter}}_{{ forloop.counter }}">{{task.content}}</label>
		
		{% else %}

			{% if task.done %}
				<div class="card-homework__task done">
			{% else %}
				<div class="card-homework__task">
			{% endif %}

			{% if task.content.materials|length > 0 %}
				<span>Материалы для ознакомления:
				{% for material in task.content.materials %}
					<a href='{{assignment.teacher}}/{{assignment.course_title_lat}}/{material.link}}' class='task__link 
					{% if material.done %} done {% endif %}'>
					{{material.title}}</a>{% if not forloop.last %},{% endif %}
				
				{% endfor %}

				</span>
				
				<br>{% endif %}

			{% if task.content.tests|length > 0 %}
				<span>Тесты:
				{% for test in task.content.tests %}
					<a href='{{assignment.teacher}}/{{assignment.course_title_lat}}/{{test.link}}' class='task__link 
					{% if test.done %} done {% endif %}'>
					{{test.title}}</a>{% if not forloop.last %},{% endif %}
				
				{% endfor %}
				</span>
			{% endif %}
		{% endif %}
		</div>
	{% endwith %}
	{% endfor %}

	<div class="card__due-date">
		До <strong>{{assignment.due_date}}</strong>
	</div>
</div>