<a class="link--card" href="/course/{{course.id}}/">
	<div class="card">
		<div class="icons--warning">
			{% for message in course.messages.warning %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<div class="icons--neutral">
			{% for message in course.messages.neutral %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<div class="icons--positive">
			{% for message in course.messages.positive %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<h4 class="card__heading">{{course.name}}</h4>
		<div class="card__content">
			<span>
				{% if course.tests.total %}
					Пройдено <strong>{{course.tests.done}}</strong> тестов из <strong>{{course.tests.total}}</strong>
				{% else %}
					Тестов <strong>нет</strong>
				{% endif %}
			</span>
			<br>	
			<span>
				{% if course.materials.total %}
					Просмотрено <strong>{{course.materials.done}}</strong> материалов из <strong>{{course.materials.total}}</strong>
				{% else %}
					Материалов <strong>нет</strong>
				{% endif %}
			</span>
		</div>
		<div class="messages">
			{% for message in course.messages.warning %}
				<div class="messages__item--warning">
					{{message.text}}
				</div>
			{% endfor %}

			{% for message in course.messages.neutral %}
				<div class="messages__item--neutral">
					{{message.text}}
				</div>
			{% endfor %}
			{% for message in course.messages.positive %}
				<div class="messages__item--neutral">
					{{message.text}}
				</div>
			{% endfor %}
		</div>
	</div>
</a>