{% load ext_humanize %}
<a class="link--card" href="/course/{{course.object.id}}/">
	<div class="card">
		<div class="icons--warning">
			{% for message in course.data.messages.warning %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<div class="icons--neutral">
			{% for message in course.data.messages.neutral %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<div class="icons--positive">
			{% for message in course.data.messages.positive %}
				{% include "UI_elements/Icons/"|add:message.icon|add:".svg" %}
			{% endfor %}
		</div>
		<h4 class="card__heading">{{course.object.name}}</h4>
		<div class="card__content">
			<div>
				{% if course.data.materials.amount %}
					<strong>{{course.data.materials.published}}</strong> материалов
				{% else %}
					Материалов <strong>нет</strong>
				{% endif %}
			</div>
			<div>

				{% if course.data.tests.amount %}
					<strong>{{course.data.tests.published|length}}</strong>{{course.data.tests.published|length|form_for_num:"тест теста тестов" }}
				{% else %}
					Тестов <strong>нет</strong>
				{% endif %}
			</div>
		</div>
		<div class="messages">
			{% for message in course.data.messages.warning %}
				<div class="messages__item--warning">
					{{message.text}}
				</div>
			{% endfor %}

			{% for message in course.data.messages.neutral %}
				<div class="messages__item--neutral">
					{{message.text}}
				</div>
			{% endfor %}
			{% for message in course.data.messages.positive %}
				<div class="messages__item--neutral">
					{{message.text}}
				</div>
			{% endfor %}
		</div>
	</div>
</a>