{% if cur_course.updates %}
Ничего нового
<a class="link--card" href="/course/{{cur_course.object.id}}/updates">
	<div class="card">
		<h4  class="card__heading">В курсе {{cur_course.object.name}}</h4>
		{% if cur_course.updates.new_students|length > 0 %}
			<div class="marks"><b>{{ cur_course.updates.new_marks|length }}</b> новых оценок</div>
		{% endif %}
		{% if cur_course.updates.new_students|length > 0 %}
			<div class="joined"><b>{{cur_course.updates.new_students|length}}</b> 
			учеников присоеденились</div>
		{% endif %}
		{% if cur_course.status == "closed" and cur_course.updates.requesting_users|length > 0 %}
			<div class="joined"><b>{{cur_course.updates.requesting_users|length}}</b> учеников подали заявки</div>
		{% endif %}
	</div>
</a>
{% endif %}