.card .__due-date {
  flex-wrap: nowrap;
  align-self: flex-end;
  align-items: center;
  max-width: 18rem; }
  .card .__due-date .__prefix {
    margin-right: 0.375rem;
    margin-top: -0.125rem; }
  .card .__due-date .__input * {
    margin: 0; }
