<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Источники</title>
	<style> 
		{% include "Elements/Modules/button_delete/_styles/css/button_delete.css" %} 
		{% include "Elements/button/ghost/_styles/css/ghost.css" %} 
		{% include "Elements/Modules/tooltip/_styles/css/tooltip.css" %} 
		{% include "Elements/Inputs/file/_styles/css/file.css" %} 
		{% include "Elements/card/_styles/css/link.css" %} 
		{% include "Page_templates/_styles/css/main.css" %} 
		{% include "Elements/Inputs/text/filled/_styles/css/filled.css" %} 
		{% include "Page_templates/default/_styles/css/default.css" %} 
		{% include "Elements/Layout/linkbox/_styles/css/linkbox.css" %} 
		{% include "Elements/Inputs/text/filled/icon/_styles/css/icon.css" %} 
		{% include "Elements/Modules/notification/_styles/css/notification.css" %} 
		{% include "Elements/card/file/_styles/css/file.css" %} 
		{% include "Elements/Modules/ripple/_styles/css/ripple.css" %} 
		{% include "Elements/Inputs/checkbox/_styles/css/checkbox.css" %} 
		{% include "Elements/card/_styles/css/card.css" %} 
		{% include "Elements/button/flat/_styles/css/flat.css" %} 
		{% include "Elements/Layout/header/_styles/css/header.css" %} 
		{% include "Elements/Modules/popup/_styles/css/adaptive.css" %} 
		{% include "Elements/Inputs/_shared/_styles/css/toggle.css" %} 
		{% include "Elements/button/ghost/icon/_styles/css/icon.css" %} 
		{% include "Elements/Inputs/text/_styles/css/reset.css" %} 
		{% include "Elements/Inputs/text/_styles/css/text.css" %} 
		{% include "Elements/button/_styles/css/button.css" %} 
		{% include "Elements/Modules/popup/_styles/css/popup.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% if user_status == "moderator" or user_status == "administrator" or user_status == "teacher" %}	{% include "Pages/Course/sources/linkbox/exports.html" %}{% endif %}<section class="sources">{% for file_id, file in sources.items %}	{% include "Elements/card/file/exports.html" %}{% empty %}<div class="--empty">	Источники ещё не добавляли</div>{% endfor %}</section>
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/notification/_scripts/core.js" %} 
		{% include "Elements/Modules/toggle_edit/_scripts/core.js" %} 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Elements/Modules/popup/_scripts/popup.js" %} 
		{% include "Elements/Modules/button_delete/_scripts/button_delete.js" %} 
		{% include "Elements/Modules/replace/_scripts/replace.js" %} 
		{% include "Elements/Modules/notification/_scripts/deffered.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Pages/Course/sources/_scripts/delete.js" %} 
		{% include "Pages/Course/sources/_scripts/add.js" %} 
		{% include "Elements/Inputs/file/_scripts/file_catcher.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
		{% include "Pages/Course/sources/_scripts/edit.js" %} 
	</script>
</body>
</html>