.modal_whitespace
  display: flex
  flex: 1
  justify-content: center
  align-items: center

.modal
  min-width: 20rem
  align-items: center
  flex-direction: column
  width: 100%

  label.m--checkbox
    width: 100%

@media all and (max-width: 350px)
  .modal
    min-width: 0
