@import "../../../sass_vars/main.sass"

button.--ghost
	padding: $padding--s
	margin: 0 $padding--l - $padding--s
	font-weight: 500
	color: $font__color--accent
	background: transparent
	transition: $time--s

	&:enabled:hover, &:enabled:focus
		box-shadow: none
		color: lighten($font__color--accent, $darkness-delta__focus--percent)
		svg
			fill: lighten($font__color--accent, $darkness-delta__focus--percent)
	&:disabled
		background: transparent
		color: $grey--mid

	&.--first
		margin-left: 0

	&.--negative
		background: transparent
		color: $font__color--negative
		&:enabled:hover, &:enabled:focus
			color: lighten($font__color--negative, $darkness-delta__focus--percent)

	&.--positive
		background: transparent
		color: $font__color--positive
		&:enabled:hover, &:enabled:focus
			color: lighten($font__color--positive, $darkness-delta__focus--percent)