@import "../../../../vars/main.sass"

.input.--filled.--icon
	
	svg
		height: $base
		width: $base
		margin-right: -$base - $padding--s
		fill: $white

	input
		padding: 0 $padding--s 0 $padding--s*2 + $base