@import "../../../../../sass_vars/main.sass"

.share-search, .share-info
  .card
    .__icons .__neutral
      position: fixed
      right: 1rem
      top: 1rem
    .card.m--small
      margin-bottom: $margin--s
      margin-right: $margin--s
      &:last-child
        margin-right: 0
  .__actions
    &>.row:not(:last-child)
      margin-bottom: $margin--s

  .__text
    margin-bottom: $margin--m

  .__general, .__subject
    display: block
    button
      margin-bottom: $padding--s

#popup
  .__specification
    .m--checkbox:last-child
      margin-bottom: $margin--s
