@import "../../../../../sass_vars/main.sass"

.share-search
  .card
    .__icons .__neutral
      position: fixed
      right: 1rem
      top: 1rem
    .card.m--small
      margin-bottom: $margin--s
      margin-right: $margin--s
      &:last-child
        margin-right: 0
