.item-list, .preview
  div[type="answer"]
    display: flex
    width: 100%
    *:not(.indicator)
      pointer-events: none
    a
      pointer-events: none
    div[type="answer"], [type="question"]
      *
        pointer-events: none
