@import "../../../../../sass_vars/main.sass"

.header>.__breadcrumbs
  display: flex
  align-items: center
  a
    white-space: nowrap
  svg
    display: block
    +square("xs")
    fill: darken($color--main, $darkness-delta__focus--percent)

  @media all and (max-width: 767px)
    display: none
