@import "../../../../sass_vars/main.sass"

.card.m--user
	&, .__main
		display: flex
		flex-direction: row

	.__user-avatar
		+square("l")
		border-radius: 50%

	.__user-info
		margin-left: $margin--s
		.__name
			margin: 0
			font-size: $font__size--m
			font-weight: 400
			
		.__state
			color: $font__color--grey
