{% for subject,value in courses.items %}
	<div class="subject">
		<h3>{{subject}}</h3>
		{% for course in value %}
			<a class="--card" href='course/{{course.object.id}}'>{% include "Elements/card/course/"  with course=course.object 
			materials_number=course.materials_number tests_number=course.tests_number  %}</a>
		{% endfor %}
	</div>
	{% empty %}
	Вы ещё не присоединились ни к одному курсу, найдите то, что вас интересует через поиск.
{% endfor %}

{% if not request.user.is_teacher %}
	{% include "#&/../../create_course/" %}
{% endif %}