@import "../../../../sass_vars/main.sass"

html, body 
	height: 100%
	& > .main
		display: flex
		flex-direction: row 
		height: 100%
		width: 100%
		padding: 0
		margin: 0
		& > section
			padding-top: $margin--xl
			height: 100%
			margin: 0

.item-list
	display: block
	overflow-y: scroll
	min-width: 15rem + $padding--m*2
	max-width: 15rem + $padding--m*2
	z-index: 2
	& > .card
		display: block
		&:hover
			border-color: $font__color--accent
		&:last-child
			margin-bottom: $margin--xl
