@import "../../../../sass_vars/main.sass"

.preview
	& > .__heading
		margin-bottom: $margin--m
	.__task
		.__question
			& > *:last-child()
	.--empty
		padding: $padding--m
		color: $font__color--grey
		background: $grey--light
		border-radius: $border--m
		+box_shadow_inset(1)