<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Оценки за тесты</title>
	<style> 
		{% include "Elements/Layout/header/_styles/css/header.css" %} 
		{% include "Page_templates/_styles/css/main.css" %} 
		{% include "Elements/Modules/tooltip/_styles/css/tooltip.css" %} 
		{% include "Page_templates/default/_styles/css/default.css" %} 
		{% include "Elements/Inputs/text/filled/icon/_styles/css/icon.css" %} 
		{% include "Elements/Inputs/_shared/_styles/css/toggle.css" %} 
		{% include "Elements/Inputs/text/filled/_styles/css/filled.css" %} 
		{% include "Elements/Inputs/text/_styles/css/text.css" %} 
		{% include "Elements/card/_styles/css/link.css" %} 
		{% include "Elements/card/_styles/css/card.css" %} 
		{% include "Elements/button/_styles/css/button.css" %} 
		{% include "Elements/Inputs/checkbox/_styles/css/checkbox.css" %} 
		{% include "Elements/Inputs/text/_styles/css/reset.css" %} 
		{% include "Elements/Layout/linkbox/_styles/css/linkbox.css" %} 
		{% include "Elements/Modules/ripple/_styles/css/ripple.css" %} 
		{% include "Elements/button/flat/_styles/css/flat.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% load keyvalue from filters %}{% load makelist from filters %}{% load makeuser from filters %}{% include "Pages/Course/Marks/tests/linkbox/exports.html" %}<section class='tests'>	{% for section_name, section in tests.items %}		{% if section|length > 0 %}			<h3>{{section_name}}</h3>			{% for test_id,test in section.items %}				<a class="--card" href="/course/{{course.id}}/results/?test_id={{test_id}}"> {% include "Elements/card/test/exports.html" %} </a>			{% endfor %}		{% endif %}	{% endfor %}</section>
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
	</script>
</body>
</html>