{% load keyvalue from filters %}
{% load makelist from filters %}
{% load makeuser from filters %}
{% include "#&/linkbox/" %}
<section class='tests'>
	{% for section_name, section in tests.items %}
		{% if section|length > 0 %}
			<h3>{{section_name}}</h3>
			{% for test_id,test in section.items %}
				<a class="m--card" href="/course/{{course.id}}/results/?test_id={{test_id}}"> {% include "Elements/card/test/" %} </a>
			{% endfor %}
		{% endif %}
	{% endfor %}
  {% if tests.items|length == 1 %}
    {% for section_name, section in tests.items %}
      {% for test_id,test in section.items %}
      {% empty %}
        У вас нет выданных задний
      {% endfor %}
    {% endfor %}
  {% endif %}
</section>
