.input.--select {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 0.375rem;
  margin: 0 0.375rem 0.75rem 0;
  border: #E0E0E0 solid 0.125rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1); }
  .input.--select .__display, .input.--select .__icon {
    display: block; }
  .input.--select option, .input.--select input, .input.--select h3 {
    display: none; }
  .input.--select .__display {
    flex: 1; }
  .input.--select .__icon {
    flex: 0;
    min-height: 1.125rem;
    max-height: 1.125rem;
    min-width: 1.125rem;
    max-width: 1.125rem;
    fill: #424242; }
  .input.--select[disabled="disabled"] {
    color: #e8e8e8;
    background: #9E9E9E;
    border-color: #9E9E9E; }
    .input.--select[disabled="disabled"] .__icon {
      fill: #e8e8e8; }
