.input.--filled.--icon {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .input.--filled.--icon svg {
    display: block;
    transform: translateX(0.375rem);
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    fill: #fafafa; }
  .input.--filled.--icon input {
    padding: 0 0.375rem 0 2.25rem;
    margin-left: -1.5rem; }
