@import "../../../../../../../sass_vars/main.sass"

.indicator
	position: absolute
	margin-left: -$base*0.75/2
	left: 50%
	z-index: 40
	button.m--ghost.m--icon
		+square('xs')
		border-radius: 50%
		background: $color--accent
		+box-shadow(1)
		svg
			+square('xs')
			fill: $font__color--white
		&:hover
			box-shadow: none
			svg
				fill: lighten($font__color--accent, $darkness-delta__focus--percent)
	&.m--add
		margin-top: -$base*0.75/2
		top: 50%

	&.m--down
		margin-bottom: -$base*0.75/2
		bottom: 0

.m--stand-out
	.indicator
		left: 0
