@import "../vars"
@import "../extensions/animations"

body
	padding: 0 $padding-big

.content
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	&>section
		width: 100%
		max-width: 1000px
	+smartphone
		flex-direction: column
		&>section
			margin-right: 0