@import "../vars"
@import "../extensions/animations"

+scrollbar()

.content
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	height: calc(100vh - 50px - $margin-big*2)
	overflow-y: scroll
	padding: $margin-big $padding-big $margin-big  $padding-big 
	&>section
		width: 100%
		max-width: 50rem