@import "../vars"
@import "../extensions/animations"

+scrollbar()

main
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	height: calc(100vh - 50px)
	overflow-y: scroll
	padding: $margin-big 0 $margin-big 16px
	&>section
		width: 100%
		max-width: 50rem
	.linkbox
		margin-left: -$margin-regular -$size-regular*0.9

.button_remove
	margin: 0
	position: absolute
	top: -$margin-regular
	right: 0