@import "../vars"
@import "../extensions/animations"

+scrollbar()

body
	padding: 0 $padding-big

.content
	width: 100%
	display: flex
	flex-direction: row
	align-items: top
	justify-content: space-between
	padding: $margin-big $padding-big $margin-big  $padding-big 
	&>section
		// height: calc(100vh - 70px)
		width: 100%
		margin-right: $margin-huge
		&:last-child
			margin-right: 0
	+smartphone()
		flex-direction: column
		&>section
			margin-right: 0

.marks
	+smartphone()
		order: -1

