@import "../vars"

body>main
	flex-direction: row
	justify-content: center
	align-items: flex-start

.results
	felx-grow: 5
	width: 160%

.tags
	felx-grow: 3
	margin-left: $margin-big
	max-width: 30rem
	&>.linkbox
		margin-left: -$margin-regular
		.active
			background: $blue-xdim