@import "../vars"
@import "../extensions/animations"

body
	background: $white

main
	display: flex
	align-items: center
	justify-content: center
	height: 100vh

.login-box
	+animation-savestate("fade-from-bottom")
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 16rem
	height: 18.5rem
	// background: $grey-semilight
	// box-shadow: 0px 12px 24px rgba($black, 0.24)
	+smartphone
		box-shadow: none
		background: none
.login-box--form
	text-align: center
	&>button
		margin-top: $margin-regular
.footer
	position: absolute
	bottom: $margin-big
	width: 100%
	text-align: center
	transition: $time-regular
	&>a
		margin-left: $margin-big
		&:first-child
			margin-left: 0
	+short-screen
		bottom: -$margin-big