@import "../vars"
+scrollbar()

@font-face
	font-family: Segoe Condensed
	src: url("../../../Assets/Fonts/Segoe_Condensed.ttf")

main
	height: calc(100vh - 50px)
	overflow-y: scroll
	padding: $margin-big 0 $margin-big 16px
	display: flex
	flex-direction: row

tr:nth-child(even)
	background: $grey-light

table.student-list
	position: relative
	z-index: 3
	list-style-type: none
	border-right: none
	padding: 0
	margin: 0
	margin-bottom: $margin-big
	box-shadow: none
.shadow
	display: table-row
	position: absolute
	z-index: 0
	top: 45px
	left: 0
	height: 936px
	width: 100%
	border-radius: 2px
	+box-shadow(1)
table.student-marks
	z-index: 1
	padding: 0
	margin: 0 0 0 -3px
	box-sizing: border-box
	td
		text-align: center
	&:hover
		border-color: $blue-bright
	&.current:hover
		border-color: $grey-semilight
section
	position: relative
	margin-left: $margin-big
	&:nth-child(2)
		margin-left: 0
.student-marks__header
	// position: fixed
	// top: $block-regular
	font-family: "Segoe Condensed", "Segoe UI"