@import "../vars"
+scrollbar()
body
	margin: 0 !important

h1
	margin-bottom: $margin-big

.editor
	display: flex
	flex-direction: row
	width: 100%

.question-elements,.answer-elements
	position: relative
	z-index: 1
	background: $white
	min-width: 18.5rem
	width: 18.5rem
	+tablet()
		min-width: 14.5rem
		width: 14.5rem
	+box-shadow(1)


.question-elements,.answer-elements,.test
	height: 100vh
	padding: $block-regular + $padding-big $padding-big $padding-big $padding-big


//increase specifity
div.answer__field
	box-shadow: none
	&.text-answer
		padding-top: 0
	&.file-answer
		padding: $padding-regular
		padding-left: 0

		&>.file
			transform: scale(0.9)
.answer__field,.question-elements>*
	border: 2px solid $grey-light
	margin-top: $margin-regular
	&:hover
		+box-shadow(2)
		border-color: transparent

.test
	position: relative
	width: 100%
	overflow-y: scroll
	display: flex
	flex-direction: column
	justify-content: top
	align-items: center
	&>svg
		min-height: $icon-big
		min-width: $icon-big
		max-height: $icon-big
		max-width: $icon-big
		margin-top: $margin-huge
		fill: $color--accent
		transition: $time-short
		opacity: 0

.test__bg
	position: absolute
	height: 100%
	width: 100%
	background: $grey-light
	margin: -$block-regular - $padding-big 0 0 1rem-$padding-big
	z-index: 0
	overflow: hidden
	top: 0
	left: 0

.test__heading
	position: relative
	z-index: 1
.test__preview
	position: relative
	width: 100%
	z-index: 1
	margin-right: 10rem
	max-width: 50rem
	margin-left: 10rem
	transform: translateX(8px)

.test__task
	display: flex
	flex-direction: row
	justify-content: center
	width: 100%

.task__number
	min-width: 10rem
	margin-left: -10rem
	text-align: center
	font-size: $font-huge
	font-weight: 300
	+smartphone()
		display: none

.task__content
	width: 100%
.task__answer
	margin-top: $margin-regular
	transition: $time-regular

.task__question>*,.task__answer__item
	transition: $time-regular
	position: relative
	margin-bottom: $margin-regular
	z-index: 2
	&:last-child
		margin-bottom: 0
	&.drop--accept
		transform: translateY(-$margin-regular)
[draggable='true']
	transition: $time-regular
	user-select: none
	cursor: move
	*
		cursor: move !important
	&.moved
		opacity: 0.5
		transform: scale(0.9)

.block--empty
	transition: $time-regular
	background: $grey-light
	height: $block-regular
	margin-bottom: $margin-regular
	display: flex
	align-items: center
	justify-content: center
	border-radius: 2px
	color: $grey-semidark
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.12),inset 0 1px 2px rgba(0,0,0,0.24)
	&.drop--accept
		opacity: 0.2
		border-color: $grey-semidark
		transform: none




#editor__settings
	position: fixed
	bottom: 0
	margin-bottom: 0
	left: 0
	width: 18.5rem
	box-shadow: none
	border-top: 2px solid $grey-light
	&>h3
		margin: 0
	+tablet()
		min-width: 14.5rem
		width: 14.5rem

#editor__type
	line-height: $font-regular

.actionbox
	display: flex
	flex-direction: row

#indicator
	position: absolute
	width: 0
	height: 0
	background: rgba($blue-bright, .5)
	z-index: 1


//popup assistance
.select-option-list
	list-style: none
	padding: 0
	margin: 0
	&>li
		position: relative
		width: 100%
		display: flex
		flex-direction: row
		&>input[type='radio']~label
			transform: scale(0.8)
			margin-top: $padding-big