<div class="includer">{% include 'CSS/notification.html' %}</div>
<div class="includer">{% include 'JS/notification.html' %}</div>
<div class="notification__error hidden" id="notification">
	<div class="notification__bg">
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16 9.913 5 16 5zm-1 5v2h2v-2h-2zm0 4v8h2v-8h-2z"/></svg>
		<h3>Error</h3>
	</div>
	<div class="notification__content--wrap">
		<div class="notification__content">For a reason this was not rendered</div>
	</div>
</div>
{% if error %}
<script>notification.change('error','Ошибка авторизации','{{ error }}' );</script>
{% endif %}
{% if success_message %}
<script>notification.change('success','Успешно','{{ success_message }}' );</script>
{% endif %}