<div class="includer">{% include 'JS/jquery-2.html' %}</div>
<div class="includer">{% include 'JS/layout.html' %}</div>
<header class="header">
	<div class="header__breadcumbs">
		<a href='/'>Главная</a>
		{% for breadcumb in breadcumbs %}
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M12.97 4.28l-1.44 1.44L21.814 16 11.53 26.28l1.44 1.44 11-11 .686-.72-.687-.72-11-11z"/></svg>
			<a href="{{breadcumb.href}}">{{breadcumb.link}}</a>
		{% endfor %}
	</div>
	<div class="header__search">
		{% include  'UI_elements/Icons/search.svg' %}
		<input type="text" name="search" placeholder="Искать...">
	</div>
	<div class="header__user">
		{% if request.user.name %}
		<a href="/user/{{request.user.id}}/"><span class="user__name">{{request.user.name}}</span></a>
		{% load staticfiles %}
		<img src="/{{request.user.avatar}}" class="user__avatar--small">
		{% else %}
		<a href="/register_student/" style="margin-right: 0.7rem">Регистрация</a>
		<a href="/login/">Войти</a>
		{% endif %}
	</div>
</header>