.save_progress_popup {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .save_progress_popup svg {
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem; }
