@import "../vars"

button
	position: relative
	overflow: hidden
	border: 0
	color: $white
	background: $color--accent
	border-radius: 2px
	padding: $padding-regular $padding-big
	transition: $time-regular
	font-weight: 500
	font-size: $font-regular
	font-family: $Roboto
	&:hover,&:focus
		+box-shadow(3)
	&:focus
		outline: none

.button--raized
	+box-shadow(2)

.button--ghost
	background: transparent
	color: darken($color--accent, 5%)
	&:hover,&:focus
		box-shadow: none
		color: darken($color--accent, 20%)

.button--small
	padding: $padding-small
	vertical-align: middle

.button--icon
	@extend .button--ghost
	padding: 0
	height: $icon-regular
	width: $icon-regular
	display: flex
	margin-top: $margin-regular
	justify-content: center
	align-items: center
	&>svg
		fill: $color--accent
		height: $icon-small
		width: $icon-small
#fab
	position: fixed
	bottom: $margin-big
	right: $margin-big
	width: $icon-big
	height: $icon-big
	border: none
	border-radius: 50%
	padding: ($icon-big - $icon-small)/2
	+box-shadow(2)
	
	&>svg
		height: $icon-small
		width: $icon-small

	&:hover,&:focus
		+box-shadow(3)

.header-with-button
	display: flex
	flex-direction: row
	align-items: center
	&>*
		margin-bottom: 0
		margin-top: 0
	&>button
		transform: scale(0)

.button__proceed
	background: transparent
	border: 0
	&>svg
		display: inline-block
		vertical-align: middle
		width: $icon-regular
		fill: $grey-dark
		stroke-width: 2px
		transform: translateX(-2em)
		transition: $time-big
	//dirty hack as i was fucked up by :first-child
	&>svg:not(.spinner)
		background: linear-gradient(to right, transparent 0%, $white 15%)
	&>.spinner
		margin-left: -$icon-regular
		opacity: 0
	&>span
		display: inline-block
		vertical-align: middle
		font-size: $font-controls
		transition: $time-big
		opacity: 0
		color: darken($grey-dark, 5%)

	&:focus,&:enabled:hover
		outline: 0
		box-shadow: none
		&>span
			opacity: 1
		&>svg
			transform: translateX(0)
	&.in-progress
		&>span
			color: darken($grey-mid, 5%)
		&>.spinner
			opacity: 1
		&>svg
			fill: $grey-mid
	&:disabled
		background: transparent
		&>svg
			fill: $grey-mid



.button--context
	border: none
	height: $icon-regular
	width: $icon-regular
	font-size: $font-regular
	line-height: $icon-regular
	text-align: center
	background: $grey-light
	border-bottom: $border-regular solid $grey-light
	display: block
	margin-left: $border-regular
	transition: $time-regular
	&:first-child
		margin-left: 0
	&:focus
		outline: 0
	&:hover
		border-bottom: $border-regular solid $blue-dark
	&.toggled
		border-bottom: $border-regular solid $blue-bright
		&:hover
			border-bottom: $border-regular solid $grey-mid
