@import "../vars"

.card__heading
	font-size: $font-big
	font-weight: normal
	margin-top: 0


.course-link--card,.course-element-link--card,.group-link--card
	text-decoration: none
	color: $black

.card-course
	+card()
	&>.messages
		&>.messages__item--warning
			&:first-child
				margin-top: $margin-big
			color: $red-bright
		&>.messages__item--neutral
			&:first-child
				margin-top: $margin-big
			color: $blue-dark
	&>.icons--warning,&>.icons--neutral
		float: right
		&>svg
			width: $icon-small
			height: $icon-small
	&>.icons--neutral
		&>svg
			fill: $grey-dark
	&>.icons--warning
		&>svg
			fill: $red-bright
	transition: $time-regular
	&:hover
		border-color: $blue-bright !important



.card-homework
	+card()
	transition: $time-regular border-color
	&.done
		border-color: $green-bright
.card-homework__task
	line-height: 1.5
	&>svg
		transition: $time-regular fill
		height: $icon-small
		width: $icon-small
		fill: $grey-dark
		vertical-align: middle
	&.done>svg
		fill: $green-dark
	&>span
		vertical-align: middle

.card__due-date
	text-align: right

.task__link.done
	color: $green-dark



.card-marks
	+card()
	padding: 0 $padding-regular
.card-marks__course
	font-size: $font-regular
	font-weight: normal
	margin: 0
	display: inline-block
	margin-right: $margin-regular
.card-marks__marks
	display: inline-block
	vertical-align: middle
	min-height: $icon-regular
	button
		transition: $time-regular
		background: $white
		height: $icon-regular
		width: $icon-regular
		border: 0
		text-align: center
		vertical-align: top
		&.mark--good
			color: $green-dark
		&.mark--medium
			color: $yellow-dark
		&.mark--bad
			color: $red-bright
		&:focus,&:hover
			outline: none
			box-shadow: none
			background: $grey-semilight
	&.empty
		color: $grey-mid
		&>span
			vertical-align: middle
			margin-left: $margin-regular

.marks__tooltip
	transition: $time-regular opacity
	background: $grey-semilight
	padding: $padding-regular
	position: absolute
	top: -100%
	left: -100%
	opacity: 0
.tooltip__heading
	font-size: $font-regular
	font-weight: bold
	margin: 0
.tooltip__results>span
	color: $grey-semidark
	font-size: $font-small
	display: inline-block
	vertical-align: top
.tooltip__date
	font-size: $font-small



.card-course-element
	@extend .card-course
	&.done
		border-color: $green-bright


.card-fab
	+card()
	position: fixed
	right: $margin-huge
	bottom: $margin-huge
	margin-bottom: 0

	border-radius: 50%
	padding: $padding-regular

	height: $icon-regular
	width: $icon-regular

	box-sizing: content-box
	transition: $time-regular
	&>svg
		transition: $time-regular
		height: $icon-regular
		width: $icon-regular
		fill: $grey-mid
	&:hover
		border-color: $blue-bright
		&>svg
			fill: $blue-bright

  

.card-person
	+card()
	display: flex
	flex-direction: row 
	transition: 0.3s
	align-items: center
	&:hover
		border-color: $blue-bright
		&>svg
			fill: $blue-bright

.card-person__avatar
	height: $icon-big
	width: $icon-big
	margin-right: $margin-regular
	border-radius: 50%
.card-person__name
	font-size: $font-regular
	margin: 0
	padding: 0
.card-person__state
	color: $grey-semidark
