@import "../vars"

.card
	position: relative
	overflow: hidden
	z-index: 1
	border-radius: 2px
	+box-shadow(1)
	background: $white
	padding: $padding-regular*1.5
	margin-bottom: $margin-big
	color: $black
	&>.messages
		&>.messages__item--warning
			&:first-child
				margin-top: $margin-big
			color: $red-bright
		&>.messages__item--neutral
			&:first-child
				margin-top: $margin-big
			color: $blue-dark
	&>.icons--warning,&>.icons--neutral
		float: right
		&>svg
			width: $icon-small
			height: $icon-small
	&>.icons--neutral
		&>svg
			fill: $grey-dark
	&>.icons--warning
		&>svg
			fill: $red-bright
	transition: $time-regular

.card__due-date
	text-align: right

.card__heading
	font-size: $font-big
	font-weight: normal
	margin-top: 0

.link--card
	cursor: pointer
	font-weight: 400
	color: $black !important
	&>.card:hover
		+box-shadow(3)

.card--small
	@extend .card
	padding: $padding-regular
	width: auto
	display: inline-block
	margin: 0 0 $margin-regular $margin-regular

//specail purpose cards
.card-homework__task
	line-height: 1.5
	&>svg
		transition: $time-regular fill
		height: $icon-small
		width: $icon-small
		fill: $grey-dark
		vertical-align: middle
	&.done>svg
		fill: $green-bright
	&>span
		vertical-align: middle

.task__link.done
	color: $green-bright






.card-marks
	padding: 0 $padding-regular

.card-marks__course
	font-size: $font-regular
	font-weight: normal
	margin: 0
	display: inline-block
	margin-right: $margin-regular

.card-marks__marks
	display: inline-block
	vertical-align: middle
	min-height: $icon-regular
	button
		transition: $time-regular
		background: $white
		height: $icon-regular
		width: $icon-regular
		border: 0
		text-align: center
		vertical-align: top
		&.mark--good
			color: $green-bright
		&.mark--medium
			color: $yellow-dark
		&.mark--bad
			color: $red-bright
		&:focus,&:hover
			outline: none
			box-shadow: none
			background: $grey-semilight
	&.empty
		color: $grey-mid
		&>span
			vertical-align: middle
			margin-left: $margin-regular




.card-person
	display: flex
	flex-direction: row
	align-items: center

.card-person__avatar
	height: $icon-big
	width: $icon-big
	margin-right: $margin-regular
	border-radius: 50%

.card-person__name
	font-size: $font-regular
	margin: 0
	padding: 0

.card-person__state
	color: $grey-semidark





.card-contacts__item
	color: $black
	&>h5
		font-size: $font-regular
		font-weight: normal
		color: $grey-semidark
		margin: $margin-regular 0 0 0