@import "../vars"

input, button
	font-family: $Sans
	position: relative
	z-index: 2
	display: inline-block
svg
	z-index: 3

label
	position: relative
	z-index: 1

button
	overflow: hidden

input[hidden]
	display: none


//general fix
input:-webkit-autofill
	background: transparent !important
	-webkit-box-shadow: 0 0 0 1000px $white inset;
	color: $black !important

input[type="password"],input[type="text"]:not([name="search"]),input[type="email"], textarea
	font-size: $font-regular
	margin-top: $margin-big
	padding-left: 0
	width: 100%
	height: $line-big
	border: none
	background: transparent
	border-bottom: 2px solid $grey-semilight
	transition: $time-regular
	color: $black
	&:focus
		outline: 0
		border-bottom-color: $color--accent
		&+label
			color: $color--accent
	&.valid
		border-bottom-color: $green-bright
		&+label
			color: $green-bright
	&:invalid
		border-bottom-color: $red-bright
		box-shadow: none
		&+label
			color: $red-bright
	&.empty
		&+label
			transform: translateY($line-regular)
			font-size: $font-regular
	&+label
		float: left
		text-align: left
		color: $grey-mid
		width: 100%
		transition: $time-regular
		margin-top: - $line-big - $padding-regular
		font-size: $font-small







//checkbox & radio buttons
input[type="checkbox"], input[type="radio"]
	height: 0
	width: 0
	margin: 0
	display: none
	&+label
		display: flex
		align-items: center
		flex-direction: row
		&:after
			//transiotion
			transition: $time-regular
		&:before
			display: inline-block
			content: ''
			min-height: $icon-tiny
			min-width: $icon-tiny
			border: 2px solid lighten($black, 20%)
			background: transparent
			margin-right: $margin-regular
			transition: $time-short

input[type="checkbox"]
	display: none
	&.green:checked+label:before
		background: $green-bright
		border-color: $green-bright
	&+label:after
		display: inline-block
		content: ''
		border: 2px solid $white
		border-top: 0
		border-right: 0
		height: $icon-tiny*0.3
		width: $icon-tiny*0.6
		order: -2
		//transiotion
		opacity: 0
		transform: rotate(-45deg)
	&+label:before
		border-radius: 2px
		margin-left: -$icon-tiny*0.6
	&:checked+label
		&:before
			background: $color--accent
			border-color: $color--accent
		&:after
			opacity: 1
			transform: translate($icon-tiny*0.4,-$icon-tiny*0.1) rotate(-45deg)


input[type="radio"]
	&+label
		&:after
			display: inline-block
			content: ''
			border-radius: 50%
			min-height: $icon-tiny
			min-width: $icon-tiny
			border: 2px solid $blue-bright
			order: -2
			background: $blue-bright
			transform: translateX(4px) scale(0)
		&:before
			border-radius: 50%
			margin-left: -$icon-tiny
	&:checked+label
		&:after
			transform: translateX(4px) scale(1)
		&:before
			border-color: $blue-bright








//other inputs
.textarea
	min-width: 16rem
	display: inline-block
	width: 100%
	color: $black
	position: relative
	&>.textarea__value
		display: none
	&>.textarea__text
		min-height: $line-regular*2
		line-height: $line-regular
		margin-top: $font-regular
		border-bottom: 2px solid $grey-semilight
		&:focus
			outline: 0
			border-bottom-color: $color--accent
			&+label
				color: $color--accent
		&.valid
			border-bottom-color: $green-bright
			&+label
				color: $green-bright
		&:invalid
			border-bottom-color: $red-bright
			box-shadow: none
			&+label
				color: $red-bright
		&.empty
			&+label
				transform: translateY($line-regular)
				font-size: $font-regular
		&+label
			position: absolute
			top: 0
			left: 0
			color: $grey-mid
			width: 100%
			transition: $time-regular
			font-size: $font-small
	

//select default
.select
	padding: $padding-regular
	background: transparent
	border: 1px solid $grey-semilight
	border-radius: 2px
	font-size: $font-regular
	display: inline-flex
	flex-direction: row
	align-items: center
	cursor: pointer
	&>option
		display: none
	&>.display
		margin-right: $margin-regular
	&>input
		background: transparent
		border: 0
		font-size: $font-regular
		max-width: 10rem
	&>svg
		display: block
		height: $icon-tiny
		width: $icon-tiny


//file
.file
	overflow: hidden
	display: inline-block
	&>input
		display: none
	&>button
		margin-right: $margin-regular
	white-space: nowrap
