@import "../vars"

=notification($background,$color)
	background: $background
	&>.notification__bg
		&>h3
			color: $color
		&>svg
			fill : $color

#notification
	transition: $time-regular
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 0 $padding-small
	height: $block-regular
	&.hidden
		opacity: 0
		top: -$margin-huge
	& a
		color: inherit
		&:visited
			color: inherit

.notification__bg,.notification__content--wrap
	display: flex
	flex-direction: row
	align-items: center
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: $block-regular

.notification__bg
	&>svg
		height: $icon-regular
		width: $icon-regular
		display: block
	&>h3
		font-size: $font-controls
		display: block
		margin: 0
	justify-content: flex-start
	z-index: 800

.notification__content--wrap
	justify-content: center
	z-index: 801

.notification__error
	+notification($red-dim,$red-dark)
	color: $white

.notification__warning
	+notification($yellow-dim,$yellow-dark)
	color: $black

.notification__success
	+notification($green-dim,$green-dark)
	color: $black

.notification__info
	+notification($blue-dim,$blue-dark)
	color: $black