@import "../vars"

tr,td,th,tbody,table,thead
	box-sizing: border-box

td, th
	padding: $padding-small
	line-height: $font-regular*1.5
	transition: $time-regular
	text-align: left

tr
	background: $white

th
	font-weight: 500

td
	&.mark--good
		color: $green-bright
	&.mark--medium
		color: $yellow-dark
	&.mark--bad
		color: $red-bright

.divider
	background: $white !important
	color: $grey-semidark

thead
	transition: $time-regular box-shadow
	&.scrolled
		position: fixed
		top: $block-regular
		z-index: 100
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .24)
		border-radius: 2px

table
	border-radius: 2px
	tr:first-child
		border-radius: 2px
	tr:last-child
		border-radius: 2px