@import "../vars"

#tooltip
	transition: $time-regular opacity
	background: $grey-semilight
	padding: $padding-regular
	position: absolute
	display: flex
	flex-direction: row
	align-items: center
	top: -100%
	left: -100%
	opacity: 0
	z-index: 1000
	border-radius: 2px
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .24)
.tooltip__heading
	font-size: $font-regular
	font-weight: bold
	margin: 0
.tooltip__results--test>span
	color: $grey-semidark
	font-size: $font-small
	display: inline-block
	vertical-align: top
.tooltip__date--test
	font-size: $font-small
