@import "../vars"

#tooltip
	transition: $time-regular opacity
	background: $grey-dark
	padding: $padding-small
	font-size: $font-small
	position: absolute
	color: $white
	display: flex
	flex-direction: row
	align-items: center
	top: -100%
	left: -100%
	opacity: 0
	z-index: 10
	border-radius: 2px
.tooltip__heading
	font-size: $font-regular
	font-weight: bold
	margin: 0
.test__results--percentage
	color: $grey-semidark
	font-size: $font-small
	display: inline-block
	vertical-align: top
.tooltip__date--test
	font-size: $font-small
