@import "../../../../../../../../sass_vars/main.sass"

.template_edit
  .__gap
    height: 0
  .task
    flex: 1
    margin-right: $margin--m

  .column>.__actions
    justify-content: center

  .card:last-child
    margin-bottom: 0
