@import "../vars/main.sass"

html, body
	padding: 0
	margin: 0
	font-family: $sans
	font-size: $font__size--m
	line-height: $line--m
	background: $grey--light
*
	position: relative

h2
	+h2()

h3
	+h3()