@import "../../../sass_vars/main.sass"

.input.--select
	display: inline-flex
	flex-direction: row
	align-items: center
	width: auto
	padding: $padding--s
	margin: 0 $padding--s $margin--s 0
	border: $grey--semilight solid $border--s
	border-radius: $border--m
	cursor: pointer
	transition: $time--s
	.__display, .__icon
		display: block

	option, input
		display: none

	.__icon
		+square("xs")
		fill: $grey--dark
	
	&[disabled="disabled"]
		color: $font__color--white
		background: $grey--mid
		border-color: $grey--mid
		.__icon
			fill: $font__color--white