<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<title>{{course.name}}</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/header.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>

	<main>
		<section class="linkbox">
			<a class="link--card" href="groups/">
				<div class="card-small">
				Группы и учителя
				</div>
			</a>
			<a class="link--card" href="marks/">
				<div class="card-small">
				Мои оценки
				</div>
			</a>
			<a class="link--card" href="tasks/">
				<div class="card-small">
				Задания
				</div>
			</a>
		</section>
		<section>
			<h2>Ким ЕГЭ 2015</h2>
			{% for assignment in assignments %}
			<a class="link--card" href="//">
				{% include "UI_elements/cards/assignment.html" with assignment=assignment course=course%}
			</a>
			{% endfor %}
		</section>
	</main>
	<!-- <a class="link--card" href="groups.html">
		<div class="card card-fab">
			<img src="../Assets/Icons/group.svg" inline>
		</div>
	</a> -->
	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}
</body>
</html>