<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<title>Course.name</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/header.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}

	<main>
		<section class="linkbox">
			<a class="link--card" href="/groups/">
				<div class="card-small">
				Группы и учителя
				</div>
			</a>
			<a class="link--card" href="/marks/">
				<div class="card-small">
				Мои оценки
				</div>
			</a>
			<a class="link--card" href="/tasks/">
				<div class="card-small">
				Задания
				</div>
			</a>
		</section>
		<section>
			<h2>Ким ЕГЭ 2015</h2>
			<a class="link--card" href="//">
				<div class="card">
					<div class="icons--warning">
					</div>
					<div class="icons--neutral">
					</div>
					<h4 class="card__heading">Как правильно оформлять КИМ</h4>
					<div class="card__content">
						<b>2</b> Видео<br>
						<b>4</b> Текста<br>
						<b>15</b> Картинок<br>
					</div>
					<!-- <div class="messages">
						<div class="messages__item--warning">
							WARNING
						</div>
						<div class="messages__item--neutral">
							Just message
						</div>
					</div> -->
				</div>
			</a>
			<a class="link--card" href="//">
				<div class="card">
					<div class="icons--warning">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M6 4v20h4v4h16V8h-4V4H6zm2 2h12v16H8V6zm4 2v2h2.563l-3.282 3.28-.686.72.687.72L12.564 16l-2.282 2.28 1.44 1.44 3-3 .686-.72-.687-.72L13.436 14 16 11.437V14h2V8h-6zm10 2h2v16H12v-2h10V10z" color="#000" overflow="visible" font-family="Bitstream Vera Sans"/></svg>
					</div>
					<div class="icons--neutral">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M16 2.594l-.72.687-13 13 1.44 1.44L5 16.438V28h9V18h4v10h9V16.437l1.28 1.282 1.44-1.44-13-13-.72-.687zm0 2.844l9 9V26h-5V16h-8v10H7V14.437l9-9z"/></svg>
					</div>
					<h4 class="card__heading">Ким 1</h4>
					<div class="card__content">
						Тест <b>24</b> вопроса
					</div>
					<div class="messages">
						<div class="messages__item--warning">
							Попытка не закончена
						</div>
					</div>
					<div class="card__due-date">До <b>5 декабря</b></div>
				</div>
			</a>
			<a class="link--card" href="//">
				<div class="card done">
					<div class="icons--warning">
					</div>
					<div class="icons--neutral">
					</div>
					<h4 class="card__heading">Ким 2</h4>
					<div class="card__content">
						Тест <b>24</b> вопроса
					</div>
					<!-- <div class="messages">
						<div class="messages__item--warning">
							WARNING
						</div>
						<div class="messages__item--neutral">
							Just message
						</div>
					</div> -->
				</div>
			</a>
		</section>
	</main>
	<!-- <a class="link--card" href="groups.html">
		<div class="card card-fab">
			<img src="../Assets/Icons/group.svg" inline>
		</div>
	</a> -->

	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/humanize.html' %}</div>
</body>
</html>