<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf8">
	<title>Группы в курсе А</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	<div class="includer">{% include 'CSS/buttons.html' %}</div>
	<div class="includer">{% include 'CSS/inputs.html' %}</div>
	


	<main>
		{% if request.user.id in course.moderators or request.user.id in course.administrators %}
			<section class="linkbox">
				<a class="link--card" id="invite_students">
					<div class="card--small">
					Пригласить учеников
					</div>
				</a>
				{% if request.user.id in course.administrators %}
					<a class="link--card" id="invite_teacher">
						<div class="card--small">
						Пригласить преподавателя
						</div>
					</a>
					<a class="link--card" id="edit">
						<div class="card--small">
							Редактировать
						</div>
					</a>
				{% endif %}
			</section>
		{% endif %}
		<section>
			<h2>Преподаватели</h2>
			{% for teacher in course.administrators %}
				<a class="link--card" href="user/{{teacher.id}}.html">
					{% include "UI_elements/cards/person.html" with user=teacher %}
				</a>
			{% endfor %}
			
			{% for teacher in course.moderators %}
				<a class="link--card" href="user/{{teacher.id}}.html">
					{% include "UI_elements/cards/person.html" with user=teacher %}
				</a>
			{% endfor %}
		</section>
		<section>
			<h2>Ученики</h2>
			{% for group in course.students.groups %}
				{% include 'Blocks/group.html' with group=group %}
			{% empty %}
				Сейчас никто не проходит этот курс
			{% endfor %}
		</section>
	</main>

	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/humanize.html' %}</div>
	<div class="includer">{% include 'JS/ripple.html' %}</div>
	<div class="includer">{% include 'JS/edit_groups.html' %}</div>

	{% include "UI_elements/unique/tooltip.html" %}
	{% include "UI_elements/unique/popup.html" %}
	{% include "UI_elements/unique/header.html" %}
	{% include "UI_elements/unique/notification.html" %}
</body>
</html>