<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<title>Группы в курсе А</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/header.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>

	<main>
		<section>
			<h2>Преподаватели</h2>
			<a class="link--card" href="/profile/">
				<div class="card card-person">
					<img class="card-person__avatar" src="http://spb.repetitors.info/prep/TurkoSR_12b07f15.jpg">
					<div class="card-person__info">
						<h3 class="card-person__name">Светлана Рудольфовна Турко</h3>
						<span class="card-person__state">Преподаватель в АГ СПбГУ</span>
					</div>
				</div>
			</a>
		</section>
		<section>
			<h2>Ученики</h2>
			<h3>10И (Ваша группа)</h3>
			<a class="link--card" href="/profile/">
				<div class="card card-person">
					<img class="card-person__avatar" src="https://cdn-images-1.medium.com/fit/c/120/120/1*-XUs4lJqErIQLXqhW22INw.png">
					<div class="card-person__info">
						<h3 class="card-person__name">Трофимов Всеволод</h3>
						<span class="card-person__state">Ученик</span>
					</div>
				</div>
			</a>
			<h3>10Б</h3>
			<a class="link--card" href="/profile/">
				<div class="card card-person">
					<img class="card-person__avatar" src="../Assets/Images/avatar.png">
					<div class="card-person__info">
						<h3 class="card-person__name">Максим Любарскиий</h3>
						<span class="card-person__state">Ученик</span>
					</div>
				</div>
			</a>
		</section>
	</main>
	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/humanize.html' %}</div>
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}
	
</body>
</html>