<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<title>Главная</title>
</head>
<body>
	<!-- <link rel="stylesheet" type="text/css" href="../Styles/Css/extensions/materialize.css"> -->
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/home.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	<div class="includer">{% include 'CSS/notification.html' %}</div>
	<div class="includer">{% include 'CSS/tooltip.html' %}</div>
	<div class="includer">{% include 'CSS/inputs.html' %}</div>
	
	<main>
		<section class="courses">
			<h2>Курсы</h2>
				{% include 'Blocks/courses.html' with courses=courses %}
		</section>
		<section class="marks">
			<h2>Оценки</h2>
			<!-- <div class="subject">
				<h3>Русский язык</h3>
				<div class="card card-marks">
					<h4 class="card-marks__course">Курс а</h4>
					<span class="card-marks__marks">
						<button class="mark--good">5</button>
						<button class="mark--good">5/4</button>
						<button class="mark--good">4</button>
						<button class="mark--medium" id="c_kursA_m4">3</button>
						<button class="mark--bad" id="c_kursA_m5">2</button>
					</span>
				</div>
				<div class="card card-marks">
					<span class="card-marks__course">Курс б</span>
					<span class="card-marks__marks empty">
						<span>Оценок нет<span>
					</span>
				</div> -->
			</div>
			<div id="tooltip">
				<div class="tooltip__content">
				</div>
			</div>
		</section>
		<section class="homework">
			<h2>Задания</h2>
			{% include 'Blocks/homework.html' with homework=homework %}
			</div>
		</section>
	</main>
	
	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/humanize.html' %}</div>
	<div class="includer">{% include 'JS/handle-cards.html' %}</div>
	<div class="includer">{% include 'JS/tooltip.html' %}</div>
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}

	<script type="text/javascript">
		//realcode
		function get_description(mark){
			mark = mark.split("_");
			return mark_descriptions[mark[1]][mark[2]];
		}

		$(document).ready(function() {
			$(".card-marks__marks>button").blur(function() {
					tooltip.hide();
					$(this).removeClass('open');
			});
			$(".card-marks__marks>button").focus(function() {
				$(".card-marks__marks>button").removeClass('open');
				new_html = tooltip.generate.mark__tooltip(get_description($(this).attr("id")));
				tooltip.show(this, new_html);
				$(this).addClass('open');
			});
		});
	</script>
</body>
</html>