<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<div class="includer">{% include 'CSS/Logo mini.html' %}</div>
	{% if request.user.email = user.email %}
		<title>Настройки Профиля</title>
	{% else %}
		<title>{{user.name}}(Профиль)</title>
	{% endif %}
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	<div class="includer">{% include 'CSS/buttons.html' %}</div>
	<div class="includer">{% include 'CSS/inputs.html' %}</div>
	<main>
		{% if request.user.id = user.id %}
			<section class="linkbox">
				<a class="link--card" id="change_avatar">
					<div class="card--small">
						Сменить изображение профиля
					</div>
				</a>
				
				<a class="link--card" id="edit">
					<div class="card--small">
						Редактировать
					</div>
				</a>
				
				<a class="link--card" href="#" id="do_not_save" style="display:none;opacity:0">
					<div class="card--small">
						Отменить изменения
					</div>
				</a>
			</section>
		{% endif %}
		<section>
			{% include 'UI_elements/cards/person.html' with user=user %}
		</section>
		<section>
			<div class="card" id="contacts">
				<div class="header-with-button">
					<h4 class="card__heading">Контакты</h4>
					<button class="button--icon" id="add_contact">
						{% include 'UI_elements/Icons/add.svg' %}
					</button>
				</div>
				<div class="card-contacts__item">
					<h5>email</h5>
					<span id="email">{{ user.email }}</span>
				</div>
				{% if user.Skype %}
				<div class="card-contacts__item">
					<h5>Skype</h5>
					<span id="Skype">{{ user.Skype }}</span>
				</div>
				{% endif %}
				{% if user.Codeforces %}
				<div class="card-contacts__item">
					<h5>Codeforces</h5>
					<span id="Codeforces">{{ user.Codeforces }}</span>
				</div>
				{% endif %}
				{% if user.VK %}
				<div class="card-contacts__item">
					<h5>Вконтакте</h5>
					<span id="VK">{{ user.VK }}</span>
				</div>
				{% endif %}
				{% if user.Facebook %}
				<div class="card-contacts__item">
					<h5>Facebook</h5>
					<span id="Facebook">{{ user.Facebook }}</span>
				</div>
				{% endif %}
				{% if user.Dnevnik %}
				<div class="card-contacts__item" style="display:none">
					<h5>Дневник.ру</h5>
					<span id="Dnevnik">{{ user.Dnevnik }}</span>
				</div>
				{% endif %}
			</div>
		</section>
		{% if request.user.id = user.id %}
			<section>
				<div class="card card-settings">
					<h4 class="card__heading">Настройки профиля</h4>
					Мои контакты могут просматривать:
					<form>
						<br>
						<input type="radio" id="radio_1" name="contacts_see" checked><label for="radio_1">Все</label><br>
						<input type="radio" id="radio_2" name="contacts_see"><label for="radio_2">Только учителя</label><br>
						<input type="radio" id="radio_3" name="contacts_see"><label for="radio_3">Только ученики</label><br>
						<input type="radio" id="radio_4" name="contacts_see"><label for="radio_4">Только мои учителя и одногруппники</label><br>
						<input type="radio" id="radio_5" name="contacts_see"><label for="radio_5">Никто</label>
					</form>
					<br>
					<button id="change-password">Сменить пароль</button>
					<a href="/func/logout/">
						<button class="button--ghost" href="/logout/">
							Выйти
						</button>
					</a>
				</div>
			</section>
		{% endif %}
	</main>
	{% include "Blocks/js_includer.html" %}
	<div class="includer">{% include 'CSS/tooltip.html' %}</div>
		{% if request.user.id = user.id %}
	<div class="includer">{% include 'JS/edit_profile.html' %}</div>
	{% endif %}
	{% include "UI_elements/unique/tooltip.html" %}
	{% include "UI_elements/unique/popup.html" %}
	{% include "UI_elements/unique/header.html" %}
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/context_menu.html" %}
</body>
</html>