<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf8">
	<div class="includer">{% include 'CSS/Logo mini.html' %}</div>
	<title>Настройки Профиля</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/header.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	<div class="includer">{% include 'CSS/buttons.html' %}</div>
	<div class="includer">{% include 'CSS/inputs.html' %}</div>
	<div class="includer">{% include 'CSS/notification.html' %}</div>
	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/humanize.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/ripple.html' %}</div>
	{% include "UI_elements/unique/head_info.html" %}
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}
	<main>
		<section>
			<div class="card card-person">
			{% load staticfiles %}
					<img src="{% static request.user.avatar %}" class="user__avatar--small">
				<div class="card-person__info">
					<h3 class="card-person__name">{{ user.name }}</h3>
					<span class="card-person__state">Ученик</span>
				</div>
			</div>
		</section>

		<section>
			<div class="card">
				<h4 class="card__heading">Контакты</h4>
				<button class="button--icon" id="add_contact"><img src="{% static "Icons/add.svg" %}" inline></button>
				<div class="card-contacts__item" id="email">
					<h5>email</h5>
					{{ request.user.email }}
				</div>
				<div class="card-contacts__item" id="skype">
					<h5>skype</h5>
					{{ user.skype }}
				</div>
				<div class="card-contacts__item" id="cf">
					<h5>codeforces</h5>
					{{ user.codeforces }}
				</div>
			</div>
		</section>

		<section>
			<div class="card card-settings">
				<h4 class="card__heading">Настройки профиля</h4>
				Мои контакты могут просматривать:
				<form>
					<input type="radio" id="radio_1" name="contacts_see" checked><label for="radio_1">Все</label>
					<input type="radio" id="radio_2" name="contacts_see"><label for="radio_2">Только учителя</label>
					<input type="radio" id="radio_3" name="contacts_see"><label for="radio_3">Только ученики</label>
					<input type="radio" id="radio_4" name="contacts_see"><label for="radio_4">Только мои учителя и одногруппники</label>
					<input type="radio" id="radio_5" name="contacts_see"><label for="radio_5">Никто</label>
				</form>
				<br><br>
				<a href="/forgot_password/">Сменить пароль</a>
				<button class="button--ghost" href="/logout/"></button>
			</div>
		</section>
		{% if request.user.email = user.email %}
		<button id="fab">
			<svg fill="#FFF" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		</button>
		{% endif %}
	</main>
	{% if request.user.email = user.email %}
		<script>
			$(document).ready(function() {

				var editing = false;

				function toggle_edit() {
					if(editing) {
						$("[contenteditable]").attr("contenteditable", "false").css('border-bottom', '1px dotted transparent');
						$("#add_contact").css('transform', 'scale(0)');
						editing = false;
					} else {
						$(".card-contacts__item, .card-person__name").attr("contenteditable", "true").css('border-bottom', '1px dotted #2196F3');
						$("#add_contact").css('transform', 'scale(1)');
						editing = true;
						$("[contenteditable]").bind("blur", function() {
							$.ajax({
				                 type:"GET",
				                 url:"/func/change_data/",
				                 data: {
				                        'email': $('#email').html()
				                        },
				                 success: function(){
				                     notification.change('success','Успешно','Данные были успешно изменены' );
				                 }
				            });
						});

					}
				}

				$("#fab").click(function(event) {
					toggle_edit();
				});

				$(".card-person__avatar").click(function(event) {
					if(editing) {
						//change avatar
					}
				});
				new_contact = '<div class="card-contacts__item"><h5>Сервис</h5>Ваши данные</div>';
				$("#add_contact").click(function(event) {
					$("#contacts").append($(new_contact).attr("contenteditable", "true").css('border-bottom', '1px dotted #2196F3'));
				});
			});
	</script>
	{% endif %}
</body>
</html>