<!DOCTYPE html>
<html>
	{% with attempt=True %}
	<head>
		{% include 'UI_elements/unique/head_info.html' %}
		<title>Новый тест</title>
	</head>
	<body>
		<div class="includer">{% include 'CSS/main.html' %}</div>
		<div class="includer">{% include 'CSS/header.html' %}</div>
		<div class="includer">{% include 'CSS/inputs.html' %}</div>
		<div class="includer">{% include 'CSS/buttons.html' %}</div>
		<div class="includer">{% include 'CSS/cards.html' %}</div>
		<div class="includer">{% include 'CSS/content-wrappers.html' %}</div>
		<div class="includer">{% include 'CSS/notification.html' %}</div>
		<div class="includer">{% include 'CSS/test-editor.html' %}</div>

			<div class="test" style="margin-left: -18.5rem;">
				<h1 class="test__heading"  contenteditable="" style="margin-left:18.5rem;">Новый Тест</h1>
				<div class="test__preview" style="margin-left:28.5rem;">
				</div>
			</div>

		<div class="includer">{% include 'JS/jquery-2.html' %}</div>
		<div class="includer">{% include 'JS/layout.html' %}</div>
		<div class="includer">{% include 'JS/players.html' %}</div>
		<!-- <div class="includer">{% include 'JS/drag_and_drop.html' %}</div> -->
		<div class="includer">{% include 'JS/file_input.html' %}</div>
		<div class="includer">{% include 'JS/create_question.html' %}</div>
		<div class="includer">{% include 'JS/test_editor_generate.html' %}</div>
		<div class="includer">{% include 'JS/test_manager.html' %}</div>
		<div class="includer">{% include 'JS/ripple.html' %}</div>
		<div class="includer">{% include 'JS/make_attempt.html' %}</div>
	</div>
	{% include 'UI_elements/unique/header.html' %}
	{% include 'UI_elements/unique/context_menu.html' %}
	{% include 'UI_elements/unique/popup.html' %}
	{% include 'UI_elements/unique/tooltip.html' %}
	{% include 'UI_elements/unique/notification.html' %}
	{% include 'UI_elements/unique/panel.html' %}
	</body>
	{% endwith %}
</html>