<!DOCTYPE html>
<html>
<head>
	{% include "UI_elements/unique/head_info.html" %}
	<title>{{course.name}}(Обновления)</title>
</head>
<body>
	<div class="includer">{% include 'CSS/main.html' %}</div>
	<div class="includer">{% include 'CSS/course.html' %}</div>
	<div class="includer">{% include 'CSS/cards.html' %}</div>
	<div class="includer">{% include 'CSS/inputs.html' %}</div>
	<div class="includer">{% include 'CSS/buttons.html' %}</div>

	<main>
		<section>
		{% if course.updates.new_marks|length > 0 %}
			<h2>Новые оценки</h2>
			{% for mark in course.updates.new_marks %}
				<a class="link--card" href="/test/attempt/{{mark.attempt.id}}/">
					{% include "UI_elements/cards/person_extended/new_mark.html" with user=mark.student attempt=mark.attempt %}
				</a>
			{% endfor %}
		{% endif %}
		</section>
		<section>
			{% if course.updates.new_students|length > 0 %}
				<h2>Присоединились</h2>
				{% for user in course.updates.new_students %}
					<a class="link--card" href="/user/{{user.id}}/">
						{% include "UI_elements/cards/person.html"%}
					</a>
				{% endfor %}
			{% endif %}
			{% if course.is_closed %}
				{% include "Blocks/course_requests.html" %}
			{% endif %}
			</div>
		</section>
	</main>
	<div class="includer">{% include 'JS/jquery-2.html' %}</div>
	<div class="includer">{% include 'JS/layout.html' %}</div>
	<div class="includer">{% include 'JS/handle-cards.html' %}</div>
	
	{% include "UI_elements/unique/notification.html" %}
	{% include "UI_elements/unique/header.html" %}
	{% include "UI_elements/unique/tooltip.html" %}
	{% include "UI_elements/unique/context_menu.html" %}
</body>
</html>