@import "../../../../sass_vars/main.sass"

.preview
	& > .__heading
		margin-bottom: $margin--m
	.__task
		.__question
			*
				margin-bottom: $margin--s
				&:last-child()
					margin-bottom: 0
	.--empty
		padding: $padding--m
		color: $font__color--grey
		background: $grey--light
		border-radius: $border--m
		+box_shadow_inset(1)