.card.--user, .card.--user .__main {
  display: flex;
  flex-direction: row; }

.card.--user .__user-avatar {
  min-height: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  border-radius: 50%; }

.card.--user .__user-info {
  margin-left: 0.75rem; }
  .card.--user .__user-info .__name {
    margin: 0;
    font-size: 1rem;
    font-weight: 400; }
  .card.--user .__user-info .__state {
    color: #8c8c8c; }
