@import "../../../../sass_vars/main.sass"

.header>.__breadcrumbs
	display: flex
	align-items: center
	
	svg
		display: block
		width: $base/2
		height: $base/2
		fill: darken($color--main, $darkness-delta__focus--percent)