{% load ext_humanize %}
{% include "#&/../../__overall-info/" 
	with heading=material.title %}
<p class="__content">
	Материал
	{% if material.audio %}
		<strong>{{material.videos|length}}</strong>
		аудио
		<br>
	{% endif %}
	
	{% if material.pictures %}
		<strong>{{material.pictures|length}}</strong>
		{{material.pictures|length|form_for_num:"изображение изображения изображений"}}
		<br>
	{% endif %}

	{% if material.texts %}
		<strong>{{material.texts|length}}</strong>
		{{material.texts|length|form_for_num:"текст текста текстов"}}
		<br>
	{% endif %}

	{% if material.other %}
		<strong>{{material.other|length}}</strong>
		{{material.other|length|form_for_num:"модуль модуля модулей"}}
		<br>
	{% endif %}
</p>
