@import "../../vars/main.sass"

#context_menu
	position: fixed
	background: $white
	border-radius: $border--m
	transition: $time--s
	transition-property: opacity, transform
	+box-shadow(3)
	z-index: 30
	&.hiding
		opacity: 0
		transform: translateY(-$margin--s)
	&.hidden
		bottom: -100%
	.__option
		padding: $padding--m
		cursor: pointer
		background: $grey--light
		transition: $time--s
		&:hover
			background: $grey--semilight
		&:first-child
			border-bottom: $border--s solid $grey--semilight
			border-radius: $border--s $border--s 0 0
		&:last-child
			border-radius: 0 0 $border--s $border--s