@import "../../../../../sass_vars/main.sass"

body
	height: 100vh

section.main
	width: 100%
	height: 100vh
	margin-top: 0
	padding-top: $margin--xl + $padding--m
	&>div
		height: 100%
.students
	min-width: 24rem
	padding-right: $border--s + $padding--m
	overflow-y: auto
	overflow-x: hidden
	.card.--user
		.__extension
			display: flex
			flex-direction: row
			button
				margin: 0
			flex: 0
.card.--divider
	margin: -$padding--m 0
	margin-right: $padding--m
	margin-top: -$margin--xl + $padding--m
	border-radius: 0
	width: 2rem

.tests
	display: flex
	flex-direction: column
	width: 100%
	margin-left: -1rem
	padding-right: 16.25rem
