@import "../../../../../sass_vars/main.sass"

.header > .__user-info
	display: flex
	align-items: center
	justify-content: flex-end

	.__avatar
		+square("s")
		display: block
		border-radius: 50%
		margin-left: $padding--s
	
	.__name
		color: $font__color--white
		white-space: nowrap