@import "../../../../sass_vars/main.sass"

.preview
	& > .__heading
		margin-bottom: $margin--m
	.__task
		.__content
			margin: 0
			padding: 0
			& > *
				margin-bottom: $margin--s
				&:last-child
					margin-bottom: 0
		.__answer-field>*:last-child
			margin-bottom: 0

	.m--empty
		padding: $padding--m
		color: $font__color--grey
		background: $grey--light
		border-radius: $border--m
		+box_shadow_inset(1)
