@import "../../../../../../sass_vars/main.sass"

.set_mark
  display: flex
  flex-direction: row
  align-items: center
  .__display
    display: flex
    flex-direction: row
    font-size: $font__size--l
    font-weight: 300
    .__divider
      background: $font__color--dark
      width: $border--s/2
      margin: 0 $margin--xs
      transform: rotate(15deg)
