<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Оповещения</title>
	{% load staticfiles %}<link rel="stylesheet" href="{% static "Elements/Modules/notification/_styles/notification.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/ripple/_styles/ripple.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/_styles/button.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/default/_styles/default.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Layout/header/_styles/header.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/flat/_styles/flat.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/tooltip/_styles/tooltip.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/_styles/link.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/_shared/_styles/toggle.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/_styles/main.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/_styles/card.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/user/_styles/user.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/results_display/_styles/css/color_quality" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/checkbox/_styles/checkbox.css" %}"> 

</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	<h2>Подали заявки</h2>{% include "Pages/Course/updates/requested/exports.html" %}<h2>Новые оценки</h2>{% include "Pages/Course/updates/results/exports.html" %}<h2>Присоединились</h2>{% include "Pages/Course/updates/joined/exports.html" %}<h2>Просрочили задания</h2>{% include "Pages/Course/updates/expired/exports.html" %}
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/notification/_scripts/core.js" %} 
		{% include "Elements/Modules/notification/_scripts/deffered.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Pages/Course/updates/requested/_scripts/request.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Elements/Layout/request/_scripts/request.js" %} 
	</script>
</body>
</html>