body > main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

.results {
  felx-grow: 5;
  width: 160%; }

.tags {
  felx-grow: 3;
  margin-left: 1.5rem;
  max-width: 30rem; }
  .tags > .linkbox {
    margin-left: -0.6rem; }
    .tags > .linkbox .active {
      background: #BBDEFB; }
