html ::-webkit-scrollbar, html ::-webkit-scrollbar-track {
  background: #ECEFF1;
  width: 16px; }

html ::-webkit-scrollbar-button {
  display: none; }

html ::-webkit-scrollbar-thumb {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  background: rgba(38, 50, 56, 0.33);
  width: 8px;
  border: 4px solid #ECEFF1; }
  html ::-webkit-scrollbar-thumb:hover {
    background: rgba(33, 150, 243, 0.33); }

body {
  margin: 0 !important; }

h1 {
  margin-bottom: 1.5rem; }

.editor {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  width: 100%; }

.question-elements, .answer-elements {
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  background: #fafafa;
  min-width: 18.5rem;
  width: 18.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  @media only screen and (min-width: 737px) and (max-width: 1024px) {
    .question-elements, .answer-elements {
      min-width: 14.5rem;
      width: 14.5rem; } }

.question-elements, .answer-elements, .test {
  height: 100vh;
  padding: 4.375rem 1.25rem 1.25rem 1.25rem; }

div.answer__field {
  box-shadow: none; }
  div.answer__field.text-answer {
    padding-top: 0; }
  div.answer__field.file-answer {
    padding: 0.7rem;
    padding-left: 0; }
    div.answer__field.file-answer > .file {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.answer__field, .question-elements > * {
  border: 2px solid #ECEFF1;
  margin-top: 0.6rem; }
  .answer__field:hover, .question-elements > *:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-color: transparent; }

.test {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: top;
          justify-content: top;
  -webkit-box-align: center;
          align-items: center; }
  .test > svg {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    margin-top: 3rem;
    fill: #2196F3;
    -webkit-transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1);
    transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1);
    opacity: 0; }

.test__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ECEFF1;
  margin: -4.375rem 0 0 1rem- 1.25rem;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0; }

.test__heading {
  position: relative;
  z-index: 1; }

.test__preview {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-right: 10rem;
  max-width: 50rem;
  margin-left: 10rem;
  -webkit-transform: translateX(8px);
          transform: translateX(8px); }

.test__task {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%; }

.task__number {
  min-width: 10rem;
  margin-left: -10rem;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300; }
  @media only screen and (max-width: 736px) {
    .task__number {
      display: none; } }

.task__content {
  width: 100%; }

.task__answer {
  margin-top: 0.6rem;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1); }

.task__question > .block--empty {
  margin-bottom: 0.6rem; }

.task__question > *, .task__answer__item {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  position: relative;
  margin-bottom: 0.6rem;
  z-index: 2; }
  .task__question > *:last-child, .task__answer__item:last-child {
    margin-bottom: 0; }
  .task__question > *.drop--accept, .task__answer__item.drop--accept {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem); }

[draggable='true'] {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move; }
  [draggable='true'] * {
    cursor: move !important; }
  [draggable='true'].moved {
    opacity: 0.5;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.block--empty {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  background: #ECEFF1;
  height: 3.125rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 2px;
  color: #607D8B;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24); }
  .block--empty.drop--accept {
    opacity: 0.2;
    border-color: #607D8B;
    -webkit-transform: none;
            transform: none; }

#editor__settings {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  left: 0;
  width: 18.5rem;
  box-shadow: none;
  border-top: 2px solid #ECEFF1; }
  #editor__settings > h3 {
    margin: 0; }
  @media only screen and (min-width: 737px) and (max-width: 1024px) {
    #editor__settings {
      min-width: 14.5rem;
      width: 14.5rem; } }

#editor__type {
  line-height: 1rem; }

.actionbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }

#indicator {
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(33, 150, 243, 0.5);
  z-index: 1; }

.select-option-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .select-option-list > li {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    .select-option-list > li > input[type='radio'] ~ label {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      margin-top: 1.25rem; }

#delete {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #fafafa;
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 2;
  overflow: hidden;
  top: -3.125rem;
  left: 50%;
  margin-left: -3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%; }
  #delete.shown {
    -webkit-transform: translateY(9.375rem);
            transform: translateY(9.375rem); }
  #delete.delete {
    background: #EF9A9A; }
  #delete > svg {
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
    transition: 0.3s cubic-bezier(0.4, 0, 0.5, 1);
    height: 2rem;
    width: 2rem;
    fill: #F44336; }
