<!DOCTYPE html>
<html>
<head>
	<title>Вход</title>
	<style> 
		{% include "Pages/Account/login/css/login.css" %} 
		{% include "Elements/Inputs/text/filled/filled.css" %} 
		{% include "Elements/card/card.css" %} 
		{% include "Page_templates/default/default.css" %} 
		{% include "Elements/Modules/notification/notification.css" %} 
		{% include "Elements/Inputs/text/filled/icon/icon.css" %} 
		{% include "Elements/Inputs/text/text.css" %} 
		{% include "Page_templates/main.css" %} 
		{% include "Elements/button/button.css" %} 
		{% include "Elements/Inputs/checkbox/checkbox.css" %} 
	</style>
</head>
<body>
<main>
	{% include "Pages/Account/login/login-box/exports.html" %}<div id="tooltip"><div class="tooltip__content"></div></div>{% include "Pages/Account/login/footer/exports.html" %}
</main>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/notification/notification.js" %} 
	</script>
</body>
</html>