<section class="info">
{% load get_user_obj_by_id from filters %}
{% for state in info %}
	{% if state.type == "sharing" and state.accepted %}
		{% if state.shared_item.type == "test" %}
			{% include "Elements/card/test/extended/" with extension="Elements/Layout/info_action/" test=state.shared_item pos=forloop.counter0 %}
		{% else %}
			{% include "Elements/card/material/extended/" with extension="Elements/Layout/info_action/" material=state.shared_item pos=forloop.counter0 %}
		{% endif %}
	{% elif state.type == "sharing" %}
		{% include "Elements/card/" with content="Ваш запрос на копирование теста "|add:state.shared_item.title|add:" отклонен" %}
	{% endif %}

{% endfor %}
</section>
