@import "../../../../../sass_vars/main.sass"
.card
	.__due-date
		flex-wrap: nowrap
		align-self: flex-end
		align-items: center
		max-width: 18rem
		.__prefix
			margin-right: $padding--s
			margin-top: -$border--s
		.__input *
			margin: 0
