@import "../../../../sass_vars/main.sass"

#context_menu
	position: fixed
	max-height: 100vh
	overflow: auto
	background: $white
	border-radius: $border--m
	transition: $time--s
	background: $grey--light
	transition-property: opacity, transform
	+box-shadow(3)
	z-index: 30

	h3
		padding: $padding--s $padding--m

	section
		.__option
			display: none
		&.--show
			.__option
				display: block

	.__option
		padding: $padding--m
		cursor: pointer
		background: $grey--light
		transition: $time--s
		&:hover
			background: $grey--semilight
		&:first-child
			border-bottom: $border--s solid $grey--semilight
			border-radius: $border--s $border--s 0 0
		&:last-child
			border-radius: 0 0 $border--s $border--s

	&.--hiding
		opacity: 0
		transform: translateY(-$margin--s)
	&.--hidden
		top: -100%
