@import "../../../../../sass_vars/main.sass"

.input.--filled
	display: flex
	flex-direction: row
	
	*
		display: block

	input
		height: $base + $padding--s*2
		padding: 0 $padding--s
		font-weight: 300
		color: $white
		background: rgba($white, $darkness-delta__focus)
		border-radius: $border--m
		&:enabled:hover, &:enabled:focus
			background: rgba($white, $darkness-delta__focus*2)
		&:disabled
			background: transparent