{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>{ ###title }</title>
	{ **#styles }
</head>
<body>
<main>
	{ *#*content }
</main>
	<script src="/static/scripts/jquery.js"></script>
  <script src="https://cdn.ravenjs.com/3.9.1/raven.min.js"></script>
  <script>
    try {
      Raven
      .config('https://6101c6a086ff48d1b1a5ccedc184acb7@sentry.io/127499')
      .install();
    } catch(err) {
      console.error('CATCHED RAVEN', err);
    }
  </script>
	{ ##*js }
</body>
</html>
