<div class="__Icons">
	<div class="__warning">
		{% for message in course.data.messages.warning %}
			{% include "Elements/Icons/main.html"|add:message.icon|add:".svg" with tip=message.text %}
		{% endfor %}
	</div>

	<div class="__neutral">
		{% for message in course.data.messages.neutral %}
			{% include "Elements/Icons/main.html"|add:message.icon|add:".svg" with tip=message.text %}
		{% endfor %}
	</div>

	<div class="__positive">
		{% for message in course.data.messages.positive %}
			{% include "Elements/Icons/main.html"|add:message.icon|add:".svg" with tip=message.text %}
		{% endfor %}
	</div>
</div>