<section class="search m--hidden">
  <div class="__field">
    <input type="text" class="__query" placeholder="Искать...">
    <div class="__icon">
      {% include "Elements/Icons/search.svg" %}
    </div>

    <button class="__icon m--ghost m--icon m--close">
      {% include "Elements/Icons/close.svg" %}
    </button>
  </div>
  <div class="__results row">
    <div class="__links">
      <div class="m--empty m--grey">Введите запрос в белое поле сверху</div>
    </div>
    <div>
      <div class="__filters card">
      </div>
    </div>
  </div>
  <div class="__bg"></div>
</section>
