{% load ext_humanize %}
{% include "#&/../../__overall-info/" 
	with heading=test.title
	icons_path="#&/../__icons/" %}
<p class="__content">
	Тест, 
	{% ifnotequal 0 test.questions_number %}
		<strong>{{test.questions_number}}</strong>
		{{test.questions_number|form_for_num:"вопрос вопроса вопросов"}}
	{% else %}
		Вопросов <strong>нет</strong>
	{% endifnotequal %}
</p>
{% if test.publish_date %}
	<h3> Дата публикации: {{test.publish_date}} </h3>
{% endif %}
{% if test.unpublish_date %}
	<h3> Дата скрытия: {{test.unpublish_date}} </h3>
{% endif %}
