<section>
	<h2>Cards</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Cards/main/" with heading="Sample card" content="The most default card in the world!"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card <br>
			<strong>Blocks:</strong> icons <br>
			<strong>Dependencies:</strong> Styles/self(&sharp;&amp;) Modules/tooltip<br>
			<strong>Usage:</strong> When there is no special card
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Cards/course/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--course<br>
			<strong>Blocks:</strong> -<br>
			<strong>Dependencies:</strong> Styles/self(&sharp;&amp;), Elements/Cards/main <br>
			<strong>Usage:</strong> Display info about course
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Cards/user/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--user (.--extended)<br>
			<strong>Blocks:</strong> info <br>
			<strong>Dependencies:</strong> Styles/self(&sharp;&amp;), Elements/Cards/main <br>
			<strong>Usage:</strong> Display info about user and optional information
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Cards/announcement/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--announcement <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display announcement in course
		</div>
	</div>
</section>

<section>
	<h2>Buttons</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Buttons/main/" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Default button
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Buttons/flat/" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> If rising looks quite unestetic
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Buttons/ghost/" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Secondary actions
		</div>
	</div>
</section>

<section>
	<h2>Inputs</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Inputs/Text/main/" with placeholder="Main" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Default text input
		</div>
	</div>
	<div class="UI_kit-box --horizontal --colored-bg">
		<div class="__item">
			{% include "Elements/Inputs/Text/Filled/icon/" with placeholder="Filled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Displayed on colored background
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Inputs/Text/textarea/" with placeholder="Textarea" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Big amounts of text
		</div>
	</div>
</section>
