<!DOCTYPE html>
<html>
<head>
	<title>UI kit</title>
	
	<style> 
		{% include "Styles/Pages/UI_kit.css" %} 
		{% include "Styles/Elements/Inputs/Text/filled.css" %} 
		{% include "Styles/Elements/Cards/user.css" %} 
		{% include "Styles/Elements/Layout/header/search.css" %} 
		{% include "Styles/Elements/Cards/announcement.css" %} 
		{% include "Styles/Elements/Layout/header/main.css" %} 
		{% include "Styles/Elements/Layout/header/breadcrumbs.css" %} 
		{% include "Styles/Page_templates/default.css" %} 
		{% include "Styles/Page_templates/main.css" %} 
		{% include "Styles/Elements/Buttons/flat.css" %} 
		{% include "Styles/Elements/Inputs/Text/main.css" %} 
		{% include "Styles/Elements/Cards/course.css" %} 
		{% include "Styles/Elements/Layout/header/user-info.css" %} 
		{% include "Styles/Elements/Inputs/Text/icon.css" %} 
		{% include "Styles/Elements/Buttons/main.css" %} 
		{% include "Styles/Elements/Cards/main.css" %} 
		{% include "Styles/Elements/Buttons/ghost.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/main.html" %}
<section class="main">
	<section>
		<h2>Cards</h2>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Cards/main/main.html" with heading="Sample card" content="The most default card in the world!"%}
			</div>
			<div class="__description">
				<strong>Classes:</strong> .card <br>
				<strong>Blocks:</strong> icons <br>
				<strong>Dependencies:</strong> Styles/self(&sharp;&amp;) Modules/tooltip<br>
				<strong>Usage:</strong> When there is no special card
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Cards/course/main.html"%}
			</div>
			<div class="__description">
				<strong>Classes:</strong> .card .--course<br>
				<strong>Blocks:</strong> -<br>
				<strong>Dependencies:</strong> Styles/self(&sharp;&amp;), Elements/Cards/main <br>
				<strong>Usage:</strong> Display info about course
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Cards/user/main.html"%}
			</div>
			<div class="__description">
				<strong>Classes:</strong> .card .--user (.--extended)<br>
				<strong>Blocks:</strong> info <br>
				<strong>Dependencies:</strong> Styles/self(&sharp;&amp;), Elements/Cards/main <br>
				<strong>Usage:</strong> Display info about user and optional information
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Cards/announcement/main.html"%}
			</div>
			<div class="__description">
				<strong>Classes:</strong> .card .--announcement <br>
				<strong>Blocks:</strong> - <br>
				<strong>Dependencies:</strong> - <br>
				<strong>Usage:</strong> Display announcement in course
			</div>
		</div>
	</section>
	
	<section>
		<h2>Buttons</h2>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Buttons/main/main.html" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> Default button
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Buttons/flat/main.html" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> If rising looks quite unestetic
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Buttons/ghost/main.html" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> Secondary actions
			</div>
		</div>
	</section>
	
	<section>
		<h2>Inputs</h2>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Inputs/Text/main/main.html" with placeholder="Main" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> Default text input
			</div>
		</div>
		<div class="UI_kit-box --horizontal --colored-bg">
			<div class="__item">
				{% include "Elements/Inputs/Text/Filled/icon/main.html" with placeholder="Filled" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> Displayed on colored background
			</div>
		</div>
		<div class="UI_kit-box --horizontal">
			<div class="__item">
				{% include "Elements/Inputs/Text/textarea/main.html" with placeholder="Textarea" %}
			</div>
			<div class="__description">
				<strong>Usage:</strong> Big amounts of text
			</div>
		</div>
	</section>
	
</section>
	{% include "Scripts/jQuery.html" %}
	<script> 
		{% include "Scripts/Elements/Inputs/Text/emptyness_checker.js" %} 
		{% include "Scripts/Elements/Layout/header/build.js" %} 
	</script>
</body>
</html>