<section>
	<h2>Cards</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/card/" with heading="Sample card" content="The most default card in the world!" %}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card <br>
			<strong>Blocks:</strong> __icons __overall-info <br>
			<strong>Dependencies:</strong> Modules/tooltip <br>
			<strong>Usage:</strong> When there is no special card
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/card/course/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--course<br>
			<strong>Blocks:</strong> -<br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display info about course
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/card/user/" %}
			{% include "Elements/card/user/extended/" with extension="#&/_extension/" %}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--user (.--extended)<br>
			<strong>Blocks:</strong> __info <br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display info about user and optional information
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/card/announcement/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--announcement <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display announcement in course
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--assignment <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> checkbox <br>
			<strong>Usage:</strong> Display assignment
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		{# <div class="__item">
			{% include "Elements/card/test/"%}
			{% include "Elements/card/test/extended/" with extension="#&/_extension/" %}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--test (.--extended) <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display info about test
		</div> #}
	</div>
	<div class="UI_kit-box --horizontal">
	{# 	<div class="__item">
			{% include "Elements/card/material/"%}
			{% include "Elements/card/material/extended/" with extension="#&/_extension/" %}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--material (.--extended) <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> - <br>
			<strong>Usage:</strong> Display info about material
		</div> #}
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/card/marks/"%}
		</div>
		<div class="__description">
			<strong>Classes:</strong> .card .--marks <br>
			<strong>Blocks:</strong> - <br>
			<strong>Dependencies:</strong> Modules/tooltip <br>
			<strong>Usage:</strong> Display info about marks
		</div>
	</div>
</section>

<section>
	<h2>Buttons</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item row">
			{% include "Elements/button/" %}
			{% include "Elements/button/" with class="--positive" %}
			{% include "Elements/button/" with class="--negative" %}
			{% include "Elements/button/" with disabled="disabled" %}
		</div>
		<div class="__description" tip="Yet useful">
			<strong>Usage:</strong> Default button
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item row">
			{% include "Elements/button/flat/" %}
			{% include "Elements/button/flat/" with class="--positive" %}
			{% include "Elements/button/flat/" with class="--negative" %}
			{% include "Elements/button/flat/" with disabled="disabled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> If rising looks quite unestetic
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item row">
			{% include "Elements/button/ghost/" %}
			{% include "Elements/button/ghost/" with class="--positive" %}
			{% include "Elements/button/ghost/" with class="--negative" %}
			{% include "Elements/button/ghost/" with disabled="disabled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Secondary actions
		</div>
	</div>
</section>

<section>
	<h2>Inputs</h2>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Inputs/Text/" with placeholder="Main" %}
			{% include "Elements/Inputs/Text/" with placeholder="--valid" class="--valid" %}
			{% include "Elements/Inputs/Text/" with placeholder="--invalid" class="--invalid" %}
			{% include "Elements/Inputs/Text/" with placeholder="[disabled]" disabled="disabled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Default text input
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{%include "Elements/Inputs/checkbox/" with label="default" %}
			{%include "Elements/Inputs/checkbox/" with label="--green" class="--green" %}
			{%include "Elements/Inputs/checkbox/" with label="disabled" disabled="disabled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Multiple chices
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Inputs/radio/" with label="default" name="sample_radio" %}

			{% include "Elements/Inputs/radio/" with label="default" name="sample_radio" %}
			
			{% include "Elements/Inputs/radio/" with label="disabled" disabled="disabled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> One choice
		</div>
	</div>
	<div class="UI_kit-box --horizontal --colored-bg">
		<div class="__item">
			{% include "Elements/Inputs/Text/Filled/" with placeholder="Filled" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Displayed on colored background
		</div>
	</div>
	<div class="UI_kit-box --horizontal">
		<div class="__item">
			{% include "Elements/Inputs/Text/textarea/" with placeholder="Textarea" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> Big amounts of text
		</div>
	</div>
	<div class="UI_kit-box --horizontal card">
		<div class="__item --flex">
			{% include "Elements/Inputs/select/" %}
			{% include "Elements/Inputs/select/" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> More options then free space
		</div>
	</div>
	<div class="UI_kit-box --horizontal card">
		<div class="__item --flex">
			{% include "Elements/Inputs/file/" %}
		</div>
		<div class="__description">
			<strong>Usage:</strong> File upload
		</div>
	</div>
</section>

</section>
