<!DOCTYPE html>
<html>
<head>
	<title>Профиль</title>
	
	<style> 
		{% include "Styles/Page_templates/main.css" %} 
		{% include "Styles/Page_templates/default.css" %} 
		{% include "Styles/Elements/Cards/user.css" %} 
		{% include "Styles/Elements/Layout/header/main.css" %} 
		{% include "Styles/Elements/Layout/header/user-info.css" %} 
		{% include "Styles/Elements/Cards/small.css" %} 
		{% include "Styles/Elements/Inputs/Text/Filled/main.css" %} 
		{% include "Styles/Elements/Inputs/Text/Filled/icon.css" %} 
		{% include "Styles/Elements/Layout/linkbox.css" %} 
		{% include "Styles/Elements/Inputs/Text/main.css" %} 
		{% include "Styles/Elements/Layout/header/breadcrumbs.css" %} 
		{% include "Styles/Elements/Layout/header/search.css" %} 
		{% include "Styles/Elements/Cards/main.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/main.html" %}
<section class="main">
	{% include "Pages/Account/profile/linkbox/main.html" %}
	
	{% include "Elements/Cards/user/main.html"%}
	{% include "Pages/Account/profile/contacts/main.html" %}
	
	{% include "Pages/Account/profile/settings/main.html" %}
</section>
	{% include "Scripts/jQuery.html" %}
	<script> 
		{% include "Scripts/Elements/Layout/header/build.js" %} 
		{% include "Scripts/Elements/Inputs/Text/emptyness_checker.js" %} 
	</script>
</body>
</html>