@import "../../../../../../sass_vars/main.sass"

.summary
	display: flex
	flex-direction: column
	align-items: center
	.card
		width: 100%
		max-width: 50rem
		margin-left: -2rem
	.__note
		margin-bottom: $margin--s
		&:last-child
			margin-bottom: 0
		button
			margin-right: 0
			display: inline-block
			padding: 0 $padding--s