.--publish-popup {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1.125rem 0 0; }
  .--publish-popup .__forgive {
    margin-right: 2.25rem; }
  .--publish-popup .__course-section {
    margin-top: 1.5rem; }
