label.--checkbox, label.--radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem; }
  label.--checkbox .__box, label.--radio .__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    margin-right: 0.75rem;
    border: #8c8c8c solid 0.125rem;
    transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1); }
  label.--checkbox label, label.--radio label {
    display: block; }
  label.--checkbox input, label.--radio input {
    display: none; }
    label.--checkbox input:focus ~ .__box, label.--radio input:focus ~ .__box {
      border-color: #2196F3; }
    label.--checkbox input:disabled ~ .__box, label.--checkbox input:disabled:checked ~ .__box, label.--radio input:disabled ~ .__box, label.--radio input:disabled:checked ~ .__box {
      border-color: #E0E0E0; }
