<section class="linkbox">
	<a class="--card" id="invite_students">
		<button class="--flat">
		Пригласить учеников
		</button>
	</a>
	{% if course_data.user_status == "administrator" %}
		<a class="--card" id="invite_teacher">
			<button class="--flat">
			Пригласить преподавателя
			</button>
		</a>
		
		{% if course_data.status == "closed" %}
			<a class="--card" href="/course/{{course_data.course_id}}/requests/">
				<button class="--flat">
					Заявки на курс
				</button>
			</a>
		{% endif %}
	{% endif %}
</section>