.__answer-field {
  display: flex;
  width: 100%; }
  .__answer-field * {
    pointer-events: none; }

.item-list a {
  pointer-events: none; }

.item-list .__answer-field *, .item-list .__question-element * {
  pointer-events: none; }
