.input.--select {
  display: flex;
  width: 100%; }
  .input.--select option, .input.--select input {
    white-space: normal; }

.__answer-field > label:last-child, .__answer-field .input:last-child {
  margin-bottom: 0; }
