@import "../../../../sass_vars/main.sass"

.ripple_target
	overflow: hidden

#ripple_effect
	pointer-events: none
	position: absolute
	border-radius: 50%
	background: $grey--semidark
	opacity: $darkness-delta__focus
	transform: scale(0)

	&.--shown
		transition: $time--l
		opacity: $darkness-delta__focus
		transform: scale(1)
		&.--hide
			transition: $time--l
			opacity: 0
			transform: scale(1.5)
