<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Регистрация</title>
	{% load staticfiles %}<link rel="stylesheet" href="{% static "Elements/card/_styles/card.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/_styles/link.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/_styles/main.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/central_box/_styles/layout.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/../Pages/Account/_shared/footer/_styles/footer.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/../Pages/Account/_shared/modal/_styles/modal.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/_shared/_styles/toggle.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/checkbox/_styles/checkbox.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/text/_styles/reset.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/text/_styles/text.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/UI/Effect/ripple/_styles/ripple.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/UI/Info/notification/_styles/notification.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/_styles/button.css" %}"> 

</head>
<body>
<main>
	{% include "Pages/Account/registration/register-box/exports.html" %}{% include "Pages/Account/registration/footer/exports.html" %}
</main>
	<script src="/static/scripts/jquery.js"></script>
	<script> 
 loads = {} </script><script> 
    {% include "Elements/Modules/UI/Info/notification/_scripts/core" %} 
    {% include "Elements/Modules/UI/Effect/ripple/_scripts/ripple.js" %} 
    {% include "Elements/Modules/UI/Info/notification/_scripts/deffered.js" %} 
    {% include "Elements/Modules/Utility/verifier/_scripts/verifier.js" %} 
    {% include "Elements/../Pages/Account/_shared/modal/_scripts/enter_press.js" %} 
    {% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
    {% include "Pages/Account/registration/_scripts/registration.js" %} 
    {% include "Pages/Account/registration/_scripts/verify_inputs.js" %} 
  </script>
</body>
</html>
