<div class="card register">
  <h3>Попробуйте</h3>
  //name
  //email
  //pass
  //join preview
</div>

<section class="above-the-flood">
  <div class="card">
    <h3>Возможности</h3>
    //courses, HW, smart checker, you in control
  </div>
  <div class="symbol"> &amp; </div>

  <div class="card">
    <h3>Удобнее</h3>
    //made with in-person in mind
  </div>
  <div class="symbol"> > </div>
</section>

<section class="functions">
  //Сразу: Без установки &amp; Легкий, интуитивный интерфейс
  //Без рутины: Шаблоны &amp; Обмен
  //Продвинутая проверка: Гибкая публикация &amp; Продвинутая проверка &amp; Вы у руля;
  //Создано для СНГ: Группы, Задания, Источники, Никаких, обязанностей от вас 
  //Единый аккаунт: Учеба и преподавание в одном месте, больше никаких вспоминаний пароля
</section>

<section class="contacts">
  ru.pileus@gmail.com
  +7 906 242-77-33
  OR
  email us from here
</section>
