@import "../../../../sass_vars/main.sass"

.--accordion-toggle
	position: absolute
	top: $padding--s/2
	right: $padding--s
	transform: rotate(180deg)
	z-index: 5
	border-radius: 50%
	&.--accordion-minimized
		transform: rotate(0)

.--accordion-hidden
	//to override any element
	display: none !important