@import "../../../../sass_vars/main.sass"

button.--ghost.--icon.--accordion-toggle
	position: absolute
	right: $padding--s
	margin-top: -1rem
	transform: rotate(180deg)
	z-index: 5
	border-radius: 50%
	&.--accordion-minimized
		transform: rotate(0)

.--accordion-hidden
	//to override any element
	display: none !important