<div class="card --marks">
	{% if course %}
	<h4 class="__heading">{{course.name}}:</h4>
	{% endif %}
	
	{% for result in results %}
		<a href="/test/attempt/results?course_id={{result.course.id}}&test_id={{result.test.id}}&user_id={{result.user.id}}"><button
			class="--ghost __mark --{{result.mark.quality}}"
			id="c_{{result.course.name}}_m{{ forloop.counter }}"
			tip='Тест:"{{result.test.title}}"<br><br>
			Верно: {{result.right_answers}} из {{result.questions_overall}}'>{{result.mark.value}}</button></a>
	{% empty %}
		<div>Оценок нет</div>
	{% endfor %}
</div>