<div class="login-box modal card">
	<h2>Вход</h2>
	{% if course.id %}
		<form action='/func/login/{{course.id}}/' method="post">
	{% else %}
		<form action='/func/login/' method="post">
	{% endif %}
		{% csrf_token %}
		{% include "Elements/Inputs/text/" with 
			placeholder="Email" 
			name="email"
			type="email"
			value=email %}
		{% include "Elements/Inputs/text/" with 
			placeholder="Пароль" 
			name="password"
			type="password"
			value=password %}
			<button>Далее</button>
		</form>
</div>
</section>