@import "../../../../../../sass_vars/main.sass"

.--publish-popup
	display: flex
	flex-direction: row
	padding: $padding--m $padding--l 0 0
	.__forgive
		margin-right: $margin--l
	.__course-section
		margin-top: $margin--m