<div class="includer">{% include 'JS/jquery-2.html' %}</div>
<div class="includer">{% include 'JS/layout.html' %}</div>
<div class="includer">{% include 'JS/handle-cards.html' %}</div>
<div class="includer">{% include 'JS/context_menu.html' %}</div>
<div class="includer">{% include 'JS/create_course.html' %}</div>
<div class="includer">{% include 'JS/create_question.html' %}</div>
<div class="includer">{% include 'JS/drag_and_drop.html' %}</div>
<div class="includer">{% include 'JS/tooltip.html' %}</div>
<div class="includer">{% include 'JS/notification.html' %}</div>
<div class="includer">{% include 'JS/ripple.html' %}</div>
<div class="includer">{% include 'JS/create_course.html' %}</div>
<div class="includer">{% include 'JS/select.html' %}</div>
<div class="includer">{% include 'JS/file_input.html' %}</div>