<section>
	<h2>Ваши курсы</h2>
	{% for subject,value in user_courses.items %}
	<div class="subject">
		<h3>{{subject}}</h3>
		{% for course in value %}
			{% include 'UI_elements/cards/course.html' %}
		{% endfor %}
	</div>
	{% endfor %}
	{% include 'UI_elements/cards/create_course.html' %}
</section>
<section>
	<h2>Оповещения</h2>
	{% for course in user_data.courses.values %}
		{% include "UI_elements/cards/update.html" %}
		{% empty %}
		Ничего нового
	{% endfor %}
</section>

<section class="learning">
	{% include 'Blocks/home.html' with teacher=True %}
</section>