<section>
	<h2>Ваши курсы</h2>
	{% for subject,value in user_courses.items %}
	<div class="subject">
		<h3>{{subject}}</h3>
		{% for course in value %}
			{% include 'UI_elements/cards/course.html' %}
		{% endfor %}
	</div>
	{% endfor %}
	{% include 'UI_elements/cards/create_course.html' %}
</section>
<section>
	<h2>Оповещения</h2>
	Ничего нового
	{% for course in user_data.values %}
		{% include "UI_elements/cards/update.html" %}
	{% empty %}
	Ничего нового
	{% endfor %}
</section>

<section class="learning">
	{% include 'Blocks/home.html' with teacher=True %}
		<!--	<section class='marks'>
				<h2>Оценки</h2>
				<div class="subject">
					<h3>Испанский язык</h3>
					<div class="card card-marks">
						<h4 class="card-marks__course">Времена</h4>
							<button class="mark--medium" id="c_kursA_m4">3</button>
							<button class="mark--good">5</button>
							<button class="mark--good">4</button>
							<button class="mark--good">4</button>
					</div>
				</div>
				<div id="tooltip">
					<div class="tooltip__content">
					</div>
				</div>
			</section>
			<section class='homework'>
				<h2>Задания</h2>
				<div class="subject">
					<h3>Испанский язык</h3>
					<div class="card">
						<div class="icons--positive">
							{% include "UI_elements/Icons/done.svg" %}
						</div>
						<h4 class="card__heading">В курсе Времена</h4>
						<div class="card-homework__task done">
							<span>Пройти тесты: <a href="#" class="task__link done">Subjuntivo</a></span>
						</div>
						<div class="card-homework__task traditional">
							<input type="checkbox" class="green" id="task_1_1"><label for="task_1_1">Прочитать 12 главу "Cien años de soledad"</label>
						</div>
						<div class="card__due-date">
							До <strong>12 апреля</strong>
						</div>
					</div>
				</div>
			</section>
			-->
</section>