<section class="linkbox">
	<a class="link--card" href="groups/">
		<div class="card--small">
		Группы
		</div>
	</a>
	<a class="link--card" href="marks/">
		<div class="card--small">
		Оценки
		</div>
	</a>
	<a class="link--card" href="give_task/">
		<div class="card--small">
		Выдать задание
		</div>
	</a>
	<a class="link--card" href="tasks/">
		<div class="card--small">
		Прикрепить объявление
		</div>
	</a>
<!-- 	<a class="link--card" href="tasks/">
		<div class="card--small">
		Провести урок дистанционно
		</div>
	</a> -->
	<a class="link--card" href="/test/edit?course_id={{course.id}}">
		<div class="card--small">
			Добавить тест
		</div>
	</a>
	<a class="link--card" href="/test/?course_id={{course.id}}&material=true">
		<div class="card--small">
			Добавить материал
		</div>
	</a>
	<a class="link--card" href="tasks/">
		<div class="card--small">
		Редактировать
		</div>
	</a>
</section>
<!-- //{% include 'Blocks/give_task.html' %} -->