@import "../../vars/main.sass"

label.--radio
	.__box
		border-radius: 50%
		.__indicator
			+square("xs")
			border-radius: 50%
			background: $color--accent
			transform: scale(0)
			transition: $time--s
	input
		&:checked
			&:disabled
				& ~ .__box .__indicator
						background: $grey--semilight

			& ~ .__box
				border-color: $color--accent
				.__indicator
					background: $color--accent
					transform: scale(1.33)