label.--radio .__box {
  border-radius: 50%; }
  label.--radio .__box .__indicator {
    height: 1.125rem;
    width: 1.125rem;
    border-radius: 50%;
    background: #2196F3;
    transform: scale(0);
    transition: 0.15s cubic-bezier(0.4, 0, 0.5, 1); }

label.--radio input:checked:disabled ~ .__box .__indicator {
  background: #E0E0E0; }

label.--radio input:checked ~ .__box {
  border-color: #2196F3; }
  label.--radio input:checked ~ .__box .__indicator {
    background: #2196F3;
    transform: scale(1.33); }
