@import "../../vars/main.sass"

.input.--select
	display: inline-flex
	flex-direction: row
	align-items: center
	width: auto
	padding: $padding--s
	border: $grey--semilight solid $border--s
	border-radius: $border--m
	cursor: pointer
	.__display, .__icon
		display: block

	option, input
		display: none

	.__icon
		+square("xs")
		fill: $grey--dark