@import "../../vars/main.sass"

label
	&.--checkbox, &.--radio
		display: flex
		flex-direction: row
		align-items: center
		margin-bottom: $margin--s

		.__box
			display: flex
			align-items: center
			justify-content: center
			+square("s")
			margin-right: $margin--s
			border: $font__color--grey solid $border--s
			border-radius: $border--m
			transition: $time--s
			.__indicator
				+square("s")
				fill: $white
				opacity: 0
		label
			display: block

		input
			display: none
			&:checked
				& ~ .__box
					border-color: $color--accent
					background: $color--accent
					.__indicator
						opacity: 1

			&.--green:checked
				& ~ .__box
					border-color: $green
					background: $green
