body, html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Open Sans", "San Francisco", "Arial", sans-serif;
  color: #0f0f0f; }

html {
  overflow-y: visible;
  overflow-x: hidden; }

div, input {
  box-sizing: border-box; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 300;
  color: #373737; }

.no-select {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  background: #373737;
  height: 3.125rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0.7rem;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header__breadcumbs {
  color: #fafafa;
  font-size: 1rem;
  line-height: 1.5rem; }
  .header__breadcumbs > svg {
    fill: #808080;
    width: 1rem;
    vertical-align: middle;
    margin-bottom: -0.2rem; }
  .header__breadcumbs > span {
    vertical-align: middle; }

.header__user {
  text-align: right; }

.user__avatar--small {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle; }

.user__name {
  vertical-align: middle;
  color: #f2f2f2;
  white-space: nowrap; }

.header__search {
  opacity: 0;
  width: 0%;
  max-width: 40vw;
  margin: 0 5vw;
  height: 2rem;
  line-height: 2rem;
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  .header__search > svg {
    position: absolute;
    width: 1.5rem;
    fill: #f2f2f2;
    margin: 0.25rem; }
  .header__search > input {
    background: #6a6a6a;
    display: block;
    padding-left: 2rem;
    border: none;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    -webkit-transition: 0.3s;
            transition: 0.3s;
    color: #fafafa;
    font-family: "Segoe UI", "Open Sans", "San Francisco", "Arial", sans-serif;
    font-size: 1rem; }
    .header__search > input:hover, .header__search > input:focus {
      background: #848484;
      outline: 0;
      box-shadow: 0; }
    .header__search > input:-webkit-autofill {
      background: #848484 !important;
      -webkit-box-shadow: inset 0 0 0 50px #848484 !important;
      -webkit-text-fill-color: #fafafa !important;
      color: #fafafa !important; }

.header__search--togglable {
  width: 0 !important; }
  .header__search--togglable > input {
    border-radius: 50%; }
