#notification {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  line-height: 2rem;
  text-align: center; }
  #notification > h3 {
    margin: 0;
    padding: 0;
    float: left;
    position: absolute;
    font-weight: normal;
    margin-left: 2.4rem; }
  #notification.hidden {
    opacity: 0;
    top: -3rem; }
  #notification > svg {
    float: left;
    width: 2rem; }
  #notification > span {
    width: 100%;
    vertical-align: middle;
    margin-left: -1rem; }
  #notification a {
    color: inherit; }
    #notification a:visited {
      color: inherit; }

.notification__error {
  background: #ec493d;
  color: #fafafa; }
  .notification__error > h3 {
    color: #800000; }
  .notification__error > svg {
    fill: #800000; }

.notification__warning {
  background: #ffeb3b;
  color: #0f0f0f; }
  .notification__warning > h3 {
    color: #975405; }
  .notification__warning > svg {
    fill: #975405; }

.notification__success {
  background: #6cd96c;
  color: #0f0f0f; }
  .notification__success > h3 {
    color: #1a801a; }
  .notification__success > svg {
    fill: #1a801a; }

.notification__neutral {
  background: #8eb7fb;
  color: #0f0f0f; }
  .notification__neutral > h3 {
    color: #2e498f; }
  .notification__neutral > svg {
    fill: #2e498f; }
