@import "../../../../sass_vars/main.sass"

label.m--checkbox
	.__box
		border-radius: $border--m
		.__indicator
			width: 100%
			height: 100%
			fill: $white
			opacity: 0
	input
		&:checked
			&:disabled
				& ~ .__box
					background: $grey--semilight
			& ~ .__box
				border-color: $color--accent
				background: $color--accent
				.__indicator
					opacity: 1

		&.m--green:checked
			& ~ .__box
				border-color: $green
				background: $green
