@import "../../../../sass_vars/main.sass"

button.--flat
	transition: $time--s
	&:enabled:hover, &:enabled:focus
		box-shadow: none
		background: lighten($color--accent, $darkness-delta__focus--percent/2)

	&.--negative
		&:enabled:hover, &:enabled:focus
			background: lighten($red, $darkness-delta__focus--percent/2)

	&.--positive
		&:enabled:hover, &:enabled:focus
			background: lighten($green, $darkness-delta__focus--percent/2)