@import "../../../../../sass_vars/main.sass"

#actions
	display: flex
	flex-direction: row
	position: absolute
	right: 0
	bottom: 0
	min-width: 15rem + $padding--m*2
	max-width: 15rem + $padding--m*2
	padding: $padding--m
	background: $white
	border-top: $border--s solid $grey--semilight
	z-index: 3
