{% load ext_humanize %}
{% if update.new_students|length > 0 or update.new_results > 0 or update.requesting_users|length > 0 or update.irrelevant|length or update.requests|length > 0 or update.expired|length > 0%}
<a class="m--card" href='/course/{{update.course.id}}/updates'>
	<div class="card">
		<h4  class="__heading">В курсе {{ update.course.name}}</h4>
		{% if update.new_results > 0 %}
			<div class="marks"><b>{{ update.new_results }}</b> {{update.new_results|form_for_num:"новая новые новых" }} {{update.new_results|form_for_num:"оценка оценки оценок" }}</div>
		{% endif %}
		{% if update.new_students|length > 0 %}
			<div class="joined"><b>{{update.new_students|length}}</b> 
			{{update.new_students|length|form_for_num:"ученик ученика учеников" }} {{update.new_students|length|form_for_num:"присоединился присоединились присоединились" }}</div>
		{% endif %}
		{% if update.requesting_users|length > 0 %}
			<div class="joined"><b>{{update.requesting_users|length}}</b>{{update.requesting_users|length|form_for_num:"ученик ученика учеников" }} {{update.requesting_users|length|form_for_num:"подал подали подали" }} {{update.requesting_users|length|form_for_num:"заявку заявки заявки" }} на вступление</div>
		{% endif %}
		{% if update.requests|length > 0 %}
			<div class="joined"><b>{{update.requests|length}}</b>{{update.requests|length|form_for_num:"ученик ученика учеников" }} {{update.requests|length|form_for_num:"подал подали подали" }} {{update.requests|length|form_for_num:"заявку заявки заявки" }}</div>
		{% endif %}
		{% if update.expired|length > 0 %}
			<div class="joined"><b>{{update.expired|length}}</b>{{update.expired|length|form_for_num:"ученик ученика учеников" }} {{update.expired|length|form_for_num:"просрочил просрочили просрочили" }} задания</div>
		{% endif %}
	</div>
</a>
{% endif %}
