<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Курс</title>
	<style> 
		{% include "Elements/Modules/accordion/_styles/css/accordion.css" %} 
		{% include "Elements/Inputs/text/_styles/css/reset.css" %} 
		{% include "Elements/Inputs/text/textarea/_styles/css/height_fix.css" %} 
		{% include "Elements/card/announcement/_styles/css/announcement.css" %} 
		{% include "Elements/Inputs/text/filled/icon/_styles/css/icon.css" %} 
		{% include "Elements/Inputs/text/_styles/css/text.css" %} 
		{% include "Elements/button/_styles/css/button.css" %} 
		{% include "Elements/Inputs/Text/_styles/css/text.css" %} 
		{% include "Elements/card/_styles/css/link.css" %} 
		{% include "Elements/Layout/linkbox/_styles/css/linkbox.css" %} 
		{% include "Elements/Modules/button_delete/_styles/css/button_delete.css" %} 
		{% include "Elements/Layout/header/_styles/css/header.css" %} 
		{% include "Elements/Modules/notification/_styles/css/notification.css" %} 
		{% include "Elements/Inputs/text/filled/_styles/css/filled.css" %} 
		{% include "Elements/card/assignment/_styles/css/assignment.css" %} 
		{% include "Elements/button/ghost/icon/_styles/css/icon.css" %} 
		{% include "Elements/card/assignment/_styles/css/states.css" %} 
		{% include "Elements/Modules/test_manager/__popup_texts/__save/_styles/css/layout.css" %} 
		{% include "Elements/Modules/test_generate/__edit_texts/__answer/__radio/_styles/css/input_fix.css" %} 
		{% include "Pages/Course/main/announcements/_styles/css/cursor.css" %} 
		{% include "Elements/Modules/tooltip/_styles/css/tooltip.css" %} 
		{% include "Page_templates/_styles/css/main.css" %} 
		{% include "Page_templates/default/_styles/css/default.css" %} 
		{% include "Elements/Modules/popup/_styles/css/popup.css" %} 
		{% include "Elements/card/_styles/css/card.css" %} 
		{% include "Elements/button/flat/_styles/css/flat.css" %} 
		{% include "Elements/Inputs/Text/_styles/css/reset.css" %} 
		{% include "Elements/Inputs/checkbox/_styles/css/checkbox.css" %} 
		{% include "Elements/Modules/ripple/_styles/css/ripple.css" %} 
		{% include "Elements/Inputs/_shared/_styles/css/toggle.css" %} 
		{% include "Elements/button/ghost/_styles/css/ghost.css" %} 
	</style>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% if request.user.id == course.creator %}	{% include 'Pages/Course/main/linkbox/teacher/exports.html' %}{% else %}	{% include 'Pages/Course/main/linkbox/student/exports.html' %}{% endif %}{% include 'Pages/Course/main/announcements/exports.html' %}{% include 'Pages/Course/main/tests&materials/exports.html' %}
</section>
	{% include "JS_libs/jQuery.html" %}
	<script> 
		{% include "Elements/Modules/popup/_scripts/popup.js" %} 
		{% include "Elements/Modules/accordion/_scripts/accordion.js" %} 
		{% include "Elements/Modules/button_delete/_scripts/button_delete.js" %} 
		{% include "Elements/Modules/ripple/_scripts/ripple.js" %} 
		{% include "Elements/Modules/tooltip/_scripts/tooltip.js" %} 
		{% include "Elements/Modules/notification/_scripts/notification.js" %} 
		{% include "Elements/Inputs/text/_scripts/emptyness_checker.js" %} 
		{% include "Elements/card/assignment/_scripts/show_state.js" %} 
		{% include "Elements/Layout/header/_scripts/header.js" %} 
		{% include "Elements/Inputs/Text/_scripts/emptyness_checker.js" %} 
		{% include "Pages/Course/main/announcements/_scripts/edit.js" %} 
		{% include "Pages/Course/main/announcements/_scripts/new_announcement.js" %} 
		{% include "Pages/Course/main/announcements/_scripts/delete.js" %} 
		{% include "Pages/Course/main/_scripts/accordion.js" %} 
	</script>
</body>
</html>