@import "../../../../../sass_vars/main.sass"

.tutorial-modal
  max-height: 100%
  overflow-y: auto
  opacity: 1
  min-width: 25rem
  +box-shadow(5)
  z-index: 6
  transition: $time--m
  .__content
    overflow: hidden
