@import "../../../../../sass_vars/main.sass"

.tutorial-overlay
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba($black, .5)
  z-index: 5
  transition: $time--m

.tutorial-highlight
  z-index: 7
