<!DOCTYPE html>
<html>
<head>
	{% include "Page_templates/_shared/fixes/charset.html" %}
	{% include "Page_templates/_shared/fixes/viewport.html" %}
	<title>Оценки за задания</title>
</head>
<body>
	{% include "Elements/Layout/header/exports.html" %}
<section class="main">
	{% load keyvalue from filters %}{% load makelist from filters %}{% load makeuser from filters %}{% include "Pages/Course/Marks/tasks/linkbox/exports.html" %}<section class='tasks'>	{% for task_id, task in tasks_info.items %}		<div class="m--card" href="/course/{{course.id}}/results/?task_id={{task_id}}"> 		{% include "Elements/card/assignment/exports.html" with assignment=tasks_info|keyvalue:task_id %}		</div>	{#	{% for group_name, group_results in task.items %}			<h3>{{ group_name }}</h3>			<br>			{% for user_id, user_results in group_results.items %}				{% with user=user_id|makeuser %}					{% with results=user_results|makelist %}						{% include "Elements/card/user/extended/exports.html" with extension="Elements/card/marks/exports.html" %}					{% endwith %}				{% endwith %}			{% endfor %}		{% endfor %} #}	{% empty %}		<div class="m--grey">			У вас нет выданных заданий		</div>	{% endfor %}</section>
</section>
  <div class="_styles">
  {% load staticfiles %}<link rel="stylesheet" href="{% static "Elements/Layout/header/_styles/header.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Layout/linkbox/_styles/linkbox.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/UI/search/_styles/layout.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/_styles/card.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/_styles/link.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/assignment/_styles/assignment.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/assignment/_styles/states.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/card/user/_styles/user.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/_styles/main.css" %}"> 
<link rel="stylesheet" href="{% static "Page_templates/default/_styles/layout.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/_shared/_styles/toggle.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Inputs/checkbox/_styles/checkbox.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/UI/Effect/ripple/_styles/ripple.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/Modules/UI/Info/notification/_styles/notification.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/_styles/button.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/flat/_styles/flat.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/ghost/_styles/ghost.css" %}"> 
<link rel="stylesheet" href="{% static "Elements/button/ghost/icon/_styles/icon.css" %}"> 
<link rel="stylesheet" href="{% static "Pages/Course/Marks/tasks/_styles/fix_checkbox.css" %}"> 

  </div>
	<script src="/static/scripts/jquery.js"></script>
	<script> 
    {% include "Elements/Modules/UI/Info/notification/_scripts/core.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/core.js" %} 
    {% include "Elements/Modules/UI/Effect/ripple/_scripts/ripple.js" %} 
    {% include "Elements/Modules/UI/Info/notification/_scripts/deffered.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/build.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/fill.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/filter.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/listener.js" %} 
    {% include "Elements/Modules/UI/search/_scripts/request.js" %} 
    {% include "Elements/Layout/header/_scripts/header.js" %} 
    {% include "Elements/card/assignment/_scripts/show_state.js" %} 
    {% include "Pages/Course/Marks/tasks/_scripts/replace_container.js" %} 
  </script>
</body>
</html>
