@import "../../../../sass_vars/main.sass"

.card.panel
	display: flex
	flex-direction: column
	height: 100vh
	position: fixed
	top: 0
	right: 0
	width: 15rem + $padding--m*2
	padding-top: $margin--xl + $padding--m
	.__content
		flex: 1
	.__actions
		display: flex
		flex-direction: row