@import "../../../../sass_vars/main.sass"

@keyframes show_icon
	0%
		opacity: 0
	100%
		opacity: 1

$show: show_icon $time--m forwards

.card.m--assignment
	.__icons
		svg
			display: none
			opacity: 0
			// transition: $time--m
	&.m--irrelevant
		.__icons .__late
			display: block
			animation: $show

	&.m--done
		.__icons 
			.__done
				display: block
				animation: $show
			svg.__soon, svg.__late
				display: none

	&.m--urgent
		.__icons .__soon
			display: block
			animation: $show
