@import "typography.sass"
@import "colors.sass"

//paddings
$padding--s : $base/4
$padding--m : $padding--s*2
$padding--l : $padding--m + $padding--s
$padding--xl: $padding--l*2

//margins
$margin--s : $base/2
$margin--m : $margin--s*2
$margin--l : $margin--s + $margin--m
$margin--xl: $margin--l*2

$margin--xs : $margin--s/2
//borders
$border--s : .125rem
$border--m : $border--s*2

//sqares / icon size

=square($size)
	@if $size == "xs"
		min-height: $base*0.75
		max-height: $base*0.75
		min-width: $base*0.75
		max-width: $base*0.75

	@if $size == "s"
		min-height: $base
		max-height: $base
		min-width: $base
		max-width: $base
	
	@else if $size == "m"
		min-height: $base * 1.5
		max-height: $base * 1.5
		min-width: $base * 1.5
		max-width: $base * 1.5

	@else if $size == "l"
		min-height: $base * 2 
		max-height: $base * 2 
		min-width: $base * 2
		max-width: $base * 2
