@import "colors.sass"

//fonts
$Roboto: "Roboto", "Noto", "PT sans", "Verdana", "Arial", sans
$Roboto-slab: "Roboto slab", "PT serif", "Georgia", sans-serif

$sans: $Roboto
$sans-serif: $Roboto-slab

//colors
$darkness-delta__font: 7%

$font__color--black: darken($black, $darkness-delta__font)
$font__color--dark : darken($grey--dark, $darkness-delta__font)
$font__color--grey : darken($grey--semidark, $darkness-delta__font)
$font__color--white : darken($white, $darkness-delta__font)

$font__color--positive : darken($green, $darkness-delta__font)
$font__color--negative : darken($red, $darkness-delta__font)
$font__color--warning  : darken($yellow, $darkness-delta__font)
$font__color--accent   : darken($color--accent, $darkness-delta__font)

$font__color--accent--darken : darken($font__color--accent, $darkness-delta__focus--percent)

//font sizes
$font__size--m: 1rem
$font__size--s: $font__size--m*.75
$font__size--l: $font__size--m*1.25
$font__size--xl: $font__size--m*2
//line height
$line--m: 1.5
$line--l: 3
$line--condensed: $line--m*.8

$base: $line--m*1rem

//headings
=h2()
	color: $font__color--black
	font-size: $font__size--xl
	font-weight: 300
	margin: 0

=h3()
	color: $font__color--grey
	font-size: $font__size--m
	font-weight: 400
	margin: 0
	
=h4()
	color: $font__color--dark
	font-size: $font__size--l
	font-weight: 400
	margin: 0
	margin-bottom: $base/4 