//grey shades
$white           : #fafafa
$grey--light     : #ECEFF1
$grey--semilight : #CFD8DC
$grey--mid       : #90A4AE
$grey--semidark  : #607D8B
$grey--dark      : #263238
$black           : #212121

//bright
$blue   : #2196F3
$red    : #F44336
$green  : #4CAF50
$yellow : #FFC106
$indigo : #3F51B5

//core
$color--main   : $indigo
$color--accent : $blue

//delta
$darkness-delta__focus: .21
$darkness-delta__focus--percent: $darkness-delta__focus*100%