@include "typography"
@include "colors"

//paddings
$padding--s : $padding--m/2
$padding--m : $base/2
$padding--l : $padding--m + $padding--s
$padding--xl: $padding--l*2

//margins
$margin--s : $margin--m/2
$margin--m : $base
$margin--l : $margin--s + $margin--m
$margin--xl: $margin--l*2

//borders
$border--m : .2rem

//
