@import "typography.sass"
@import "colors.sass"

//paddings
$padding--s : $base/4
$padding--m : $padding--s*2
$padding--l : $padding--m + $padding--s
$padding--xl: $padding--l*2

//margins
$margin--s : $base/2
$margin--m : $margin--s*2
$margin--l : $margin--s + $margin--m
$margin--xl: $margin--l*2

//borders
$border--m : .2rem

//
