@import "typography.sass"
@import "colors.sass"

//paddings
$padding--s : $base/4
$padding--m : $padding--s*2
$padding--l : $padding--m + $padding--s
$padding--xl: $padding--l*2

//margins
$margin--s : $base/2
$margin--m : $margin--s*2
$margin--l : $margin--s + $margin--m
$margin--xl: $margin--l*2

//borders
$border--s : .125rem
$border--m : .25rem

//sqares / icon size

=sqare($size)
	@if $size == "s"
		height: $base
		width: $base
	
	@else if $size == "m"
		height: $base * 1.5
		width: $base * 1.5

	@else if $size == "l"
		height: $base * 2 
		width: $base * 2